

@model ERP.Web.ViewModels.IntialBalanceVM

@{ ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn = string.Empty, icon = string.Empty;
    //if (Model.Id == Guid.Empty)
    //{
    title = "اضافة رصيد أول المدة للموردين";
    btn = "اضافة";
    icon = "fa fa-plus-circle m-1";
    //}
    //else
    //{
    //title = "تعديل رصيد أو المدة ";
    //btn = "تعديل";
    //icon = "fa fa-edit m-1"; } }
}

@section PageTitle1{رصيد أول المدة}
@section PageTitle2{@title }
@section Button1{ادارة الأرصدة}
@section Button1Link{/SupplierIntials/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">@title</h4>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("CreateEdit", "SupplierIntials", FormMethod.Post, new { id = "form1" }))
            {
<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group required">
                <label>الفرع</label>
                @Html.DropDownList("BranchId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control din-med" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group required">
                <label>المورد</label>
                @Html.DropDownList("SupplierId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control select2 din-med" })
                @*@Html.HiddenFor(model => model.Id)*@
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group required">
                <label>تاريخ رصيد اول </label>
                @Html.TextBoxFor(m => m.DateIntial, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control din-med", @type = "date" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group required">
                <label>الرصيد</label>
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @type = "number" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group required">
                <label>حالة الرصيد</label>
                @Html.DropDownList("DebitCredit", null, htmlAttributes: new { @class = "form-control din-med" })
            </div>
        </div>
    </div>
</div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12" style="text-align:left;">
                            @*<input type="button" onclick="SupplierIntial_Module.SubmitForm(this);" value="@btn" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px" />*@
                            <a href="javascript:void(0);" onclick="SupplierIntial_Module.SubmitForm(this);" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px"><i class="@icon"></i>@btn</a>
                            @*@if (Model.Id != Guid.Empty)
        {
            <a href="/SupplierIntials/Index" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fa-solid fa-caret-left m-1"></i>عودة</a>
        }*@
                        </div>
                    </div>
                </div>}
        </div>
    </div>
</div>
                               
 @section Scripts
{
        <script src="~/Assets/JSCustom/SupplierIntial.js"></script>
}


