
@model ERP.Web.ViewModels.SaleMenSellInvoiceVM
@using ERP.DAL
@{
    ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn, icon = string.Empty;

    double totalValue = 0;   // اجمالى الفاتورة (البيع)
    double totalQuantity = 0;   // اجمالى العدد (البيع)
    double totalItemDiscount = 0; // اجمالى الخصومات على الاصناف
    double totalDiscount = 0; // اجمالى الخصومات على كل الفاتورة
    double safy = 0; // صافى الفاتورة
    string safeVisiable = "none";
    string accountVisiable = "none";
    string checkedAttrSafe = "";
    string checkedAttrAccount = "";
    string showDiv = "none";
    //int? StoreId = null;
    string displayDiscount = "none";
    string isInvoiceDisVal = "true";
    string chkValRdo = "checked";
    string chkPerRdo = "";
    //if (ViewBag.StoreId != null)
    //{
    //    StoreId = (int)ViewBag.StoreId;
    //}
    totalValue = Model.TotalValue;
    totalQuantity = Model.TotalQuantity;
    safy = Model.Safy;
    if (Model.Id == Guid.Empty)
    {
        title = "تسجبل فاتورة بيع";
        btn = "اضافة";
        icon = "fa fa-plus-circle m-1";
        chkValRdo = "checked";
        chkPerRdo = "";
    }
    else
    {

        if (Model.DiscountPercentage > 0)
        {
            displayDiscount = "block";
            isInvoiceDisVal = "false";
            chkValRdo = "";
            chkPerRdo = "checked";
        }
        title = "تعديل فاتورة بيع ";
        btn = "تعديل";
        icon = "fa fa-edit m-1";
        totalValue = Model.TotalValue;
        totalItemDiscount = Model.TotalItemDiscount;
        totalDiscount = Model.TotalDiscount;
        safy = Model.Safy;
    }
}

@section PageTitle1{فواتير البيع}
@section PageTitle2{@title }
@section Button1{ادارة فواتير البيع}
@section Button1Link{/SaleMenSellInvoices/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

@{
    if (ViewBag.ErrorMsg == null)
    {
        @*الرصيد*@
        <input type="hidden" id="balanceVal" />
        <input type="hidden" id="serialItemId" />
        <input type="hidden" id="productionOrderId" />
        <input type="hidden" id="isIntial" />

        <div class="row">
            <div class="col-12">
                <!--begin::Card-->
                <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                    <div class="card-body">
                        <!--begin::Form-->
                        <!--begin::Wizard Form-->
                        @using (Html.BeginForm("CreateEdit", "SaleMenSellInvoices", FormMethod.Post, htmlAttributes: new { id = "kt_form" }))
                        {
                            @Html.HiddenFor(x => x.Id)
                            @Html.HiddenFor(x => x.InvoiceGuid)
                            @Html.HiddenFor(x => x.SaleMenEmployeeId)
                            @Html.HiddenFor(x => x.BranchId)
                            <div class="row">
                                <div class="col-xl-1"></div>
                                <div class="col-xl-10">
                                    <div class="my-5 din-med">
                                        <h3 class="text-dark font-weight-bold mb-10 din-med">البيانات الاساسية للفاتورة : </h3>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group  required">
                                                    <label>تاريخ الفاتورة</label>
                                                    <div class="col-12">
                                                        @Html.TextBoxFor(model => model.InvoiceDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control", type = "date" })
                                                        <span class="form-text text-muted">ادخل تاريخ الفاتورة </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group row required">
                                                    <label>طريقة السداد</label>
                                                    <div class="col-12">
                                                        @Html.DropDownList("PaymentTypeId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group row">
                                                    <label>خزينة</label>
                                                    <div class="col-12">
                                                        @Html.DropDownList("SafeId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group ">
                                                    <label>فئات العملاء</label>
                                                    <div>
                                                        @Html.DropDownList("PersonCategoryId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select  din-med", @onchange = "SaleMenSellInvoice_Module.getCustomerOnCategoryChange();" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group required">
                                                    <label>العميل</label>
                                                    <div class="col-12">
                                                        @Html.DropDownList("CustomerId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control select2", @onchange = "removeClassInValid();" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group row">
                                                    <label>مديونية العميل</label>
                                                    <div class="col-12">
                                                        @Html.TextBox("PesonBalance", "0", htmlAttributes: new { @readonly = "readonly", @class = "form-control din-med" })
                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </div>
                                    </div>
                                    <div class="separator separator-dashed my-10"></div>
                                    <div class="my-5 din-med">
                                        <h3 class="text-dark font-weight-bold mb-10 din-med">اضافة اصناف الفاتورة : </h3>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label>حالة البيع</label>
                                                    <div class="col-12">
                                                        <div class="radio-inline">
                                                            <div class="col-xl-6">
                                                                <label class="radio">
                                                                    <input type="radio" checked name="radios2" id="rdo_barcode" onchange="SaleMenSellInvoice_Module.onRdoBarcodeChanged();" />
                                                                    <span></span>بيع بكميات
                                                                </label>
                                                            </div>
                                                            <div class="col-xl-6">
                                                                <label class="radio">
                                                                    <input type="radio" name="radios2" id="rdo_serial" onchange="SaleMenSellInvoice_Module.onRdoSerialChanged();" />
                                                                    <span></span>بيع حسب السيريال نمبر
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6" id="barcodeDiv">
                                                <div class="form-group row">
                                                    <label>باركود الصنف</label>
                                                    <div class="col-12">
                                                        @Html.TextBox("ItemBarcode", null, htmlAttributes: new { @class = "form-control " })
                                                        <span class="form-text text-muted">باركود الصنف</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6" style="display:none;" id="serialDiv">
                                                <div class="form-group row">
                                                    <label>سيريال الصنف</label>
                                                    <div class="col-12">
                                                        @Html.TextBox("ItemSerial", null, htmlAttributes: new { @class = "form-control " })
                                                        <span class="form-text text-muted">سيريال الصنف</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label>المجموعة الاساسية</label>
                                                    <div class="col-12">
                                                        <input name="groupBasic" type="text" class="form-control " id="groupBasic" autocomplete="off" />
                                                        <span class="form-text text-muted">اختر مجموعة</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label>الصنف</label>
                                                    <div class="col-12">
                                                        @Html.DropDownList("ItemId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control select2 w-100", @onchange = "SaleMenSellInvoice_Module.onItemChange()" })
                                                        <span class="form-text text-muted">اختر الصنف</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group row">
                                                    <label>المخزن</label>
                                                    <div class="col-12">
                                                        @Html.DropDownList("StoreId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control select2 din-med", @onchange = "SaleMenSellInvoice_Module.getProductionOrdersOnStoreChange();" })
                                                        <span class="form-text text-muted">اختر المخزن </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group row">
                                                    <label>اوامر الانتاج/الرصيد المتاح</label>
                                                    <div class="col-12">
                                                        <select class="form-control din-med" id="balanceProductionOrder" onchange="SellInvoice_Module.onProductionOrderChange()"></select>
                                                        <span class="form-text text-muted">اختر الرصيد </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group row">
                                                    <label>الرصيد المحجوز (الغير معتمدة بعد)</label>
                                                    <div class="col-12">
                                                        <input type="number" class="form-control " name="balanceNotApproval" id="balanceNotApproval" value="0" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group row">
                                                    <label>اسعار البيع السابقة</label>
                                                    <div class="col-12">
                                                        <select id="prevouisPrice" class="form-control din-med w-100" onchange="SaleMenSellInvoice_Module.ChangeCurrentPice()"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group row">
                                                    <label>سياسة الاسعار</label>
                                                    <div class="col-12">
                                                        @Html.DropDownList("PricingPolicyId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control din-med w-100", onchange = "SaleMenSellInvoice_Module.onPricingPolicyChange()" })
                                                        <span class="form-text text-muted">اختر الصنف</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group row">
                                                    <label>وحدات الصنف</label>
                                                    <div class="col-12">
                                                        @Html.DropDownList("ItemUnitsId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control din-med w-100", onchange = "SaleMenSellInvoice_Module.onItemUnitChange()" })
                                                        <span class="form-text text-muted">اختر وحدة الصنف</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group row">
                                                    <label>الكمية</label>
                                                    <div class="col-12">
                                                        <input type="number" class="form-control " name="Quantity" id="Quantity" placeholder="الكمية" value="0" onkeyup="SaleMenSellInvoice_Module.onPriceOrQuanKeyUp();" />
                                                        <span class="form-text text-muted">ادخل كمية الصنف</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group row">
                                                    <label>سعر البيع</label>
                                                    <div class="col-12">
                                                        <input type="number" class="form-control " name="Price" id="Price" placeholder="سعر البيع" value="0" onkeyup="SaleMenSellInvoice_Module.onPriceOrQuanKeyUp();" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group row">
                                                    <label>القيمة</label>
                                                    <div class="col-12">
                                                        <input type="number" class="form-control " name="Amount" id="Amount" placeholder="القيمة" value="0" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                           


                                            <div class="col-lg-4">
                                                <div class="form-group row">
                                                    <label>احتساب الخصم</label>
                                                    <div class="col-12">
                                                        <div class="radio-inline">
                                                            <div class="col-xl-6">
                                                                <label class="radio">
                                                                    <input type="radio" name="radiosItem" id="rdo_val" onchange="SaleMenSellInvoice_Module.onRdoValChanged();" />
                                                                    <input type="hidden" id="IsDiscountItemVal" value="true" />
                                                                    <span></span>قيمة
                                                                </label>
                                                            </div>
                                                            <div class="col-xl-6">
                                                                <label class="radio">
                                                                    <input type="radio" name="radiosItem" id="rdo_percentage" onchange="SaleMenSellInvoice_Module.onRdoPercentageChanged();" />
                                                                    <span></span>نسبة
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group row">
                                                    <label>الخصم على الصنف</label>
                                                    <div class="col-12">
                                                        <input type="number" class="form-control " name="ItemDiscount" id="ItemDiscount" placeholder="ادخل قيمة الخصم على الصنف" value="0" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 mt-3">
                                                <div class="form-group row">
                                                    <label></label>
                                                    <div class="col-12">
                                                        <button type="button" onclick="SaleMenSellInvoice_Module.addItemDetails();" class="btn btn-primary font-weight-bold  px-15 w-100">اضافة صنف للفاتورة</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group row">
                                                    <label></label>
                                                    <div class="col-12">
                                                        <div class="form-group row">
                                                            <div class="d-flex justify-content-between flex-column  font-size-lg">
                                                                <div class="d-flex flex-column text-md-center">
                                                                    <span class="font-size-lg font-weight-bolder mb-1">اجمالي الخصومات على الاصناف</span>
                                                                    <span class="font-size-h2 font-weight-boldest text-danger mb-1" id="TotalItemDiscount">@totalItemDiscount</span>
                                                                    @*<span>Taxes Included</span>*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group row">
                                                    <label></label>
                                                    <div class="col-12">
                                                        <div class="form-group row">
                                                            <div class="d-flex justify-content-between flex-column  font-size-lg">
                                                                <div class="d-flex flex-column text-md-center">
                                                                    <span class="font-size-lg font-weight-bolder mb-1">اجمالي العدد</span>
                                                                    <span class="font-size-h2 font-weight-boldest text-danger mb-1" id="TotalQuantity">@totalQuantity</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @*<div class="col-lg-2">
                                                    <div class="form-group row">
                                                        <div class="d-flex justify-content-between flex-column  font-size-lg">
                                                            <div class="d-flex flex-column text-md-center">
                                                                <span class="font-size-lg font-weight-bolder mb-1">اجمالي العدد</span>
                                                                <span class="font-size-h2 font-weight-boldest text-danger mb-1" id="TotalQuantity">@totalQuantity</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            <div class="col-lg-12">
                                                <div class="form-group row">
                                                    <label>الاصناف المسجلة</label>
                                                    <div class="col-12">
                                                        <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_dtItemDetails">
                                                            <thead>

                                                            </thead>
                                                            <tbody></tbody>
                                                            <tfoot></tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                    <div class="separator separator-dashed my-10"></div>
                                    <div class="my-5  din-med d-none">
                                        <h3 class="text-dark font-weight-bold mb-10">تسجيل ايرادات الفاتورة (ان وجدت):</h3>
                                        <div class="row ">
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label>الايراد</label>
                                                    <div class="col-12">
                                                        <input name="accountTree" placeholder="اختر مسمى الايراد" type="text" class="form-control alert-success" id="accountTree" autocomplete="off" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label>قيمة الإيراد</label>
                                                    <div class="col-12">
                                                        <input type="number" class="form-control " name="ExpenseAmount" id="ExpenseAmount" placeholder="قيمة الإيراد" value="0" />
                                                        <span class="form-text text-muted">ادخل قيمة الإيراد</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label>.</label>
                                                    <div class="col-12">
                                                        <button type="button" onclick="SaleMenSellInvoice_Module.addSellInvoiceExpenses();" class="btn btn-primary font-weight-bold  px-15 w-100">اضافة إيراد</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="d-flex justify-content-between flex-column font-size-lg">
                                                        <div class="d-flex flex-column text-md-center">
                                                            <span class="font-size-lg font-weight-bolder mb-1">اجمالى الإيرادات</span>
                                                            <span class="font-size-h2 font-weight-boldest text-danger mb-1" id="TotalExpenses"></span>
                                                            @*<span>Taxes Included</span>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group row">
                                                    <label>الايرادات المسجلة</label>
                                                    <div class="col-12">
                                                        <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_dtSellInvoiceExpenses">
                                                            <thead>

                                                            </thead>
                                                            <tbody></tbody>
                                                            <tfoot></tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="separator separator-dashed my-10"></div>
                                    <div class="my-52   din-med">
                                        <h3 class="text-dark font-weight-bold mb-10">تسجيل الضرائب (ان وجدت):</h3>
                                        <div class="row ">
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label>احتساب الخصم</label>
                                                    <div class="col-12">
                                                        <div class="radio-inline">
                                                            <div class="col-xl-6">
                                                                <label class="radio">
                                                                    <input type="radio" name="radiosInvoice" id="rdo_valAllInvoice" @chkValRdo onchange="SaleMenSellInvoice_Module.onRdoInvoiceValChanged();" />
                                                                    <input type="hidden" id="isInvoiceDisVal" name="isInvoiceDisVal" value="@isInvoiceDisVal" />
                                                                    <span></span>قيمة
                                                                </label>
                                                            </div>
                                                            <div class="col-xl-3">
                                                                <label class="radio">
                                                                    <input type="radio" name="radiosInvoice" id="rdo_percentageAllInvoice" @chkPerRdo onchange="SaleMenSellInvoice_Module.onRdoInvoicePercentageChanged();" />
                                                                    <span></span>نسبة
                                                                </label>
                                                            </div>
                                                            <div class="col-xl-3" id="divDiscountPercentage" style="display:@displayDiscount">
                                                                <!--begin::Input-->
                                                                <div class="form-group">
                                                                    <label>النسبة</label>
                                                                    <input type="number" class="form-control " onkeyup="SaleMenSellInvoice_Module.onInvoiceDiscountChange();" name="DiscountPercentage" id="DiscountPercentage" placeholder="ادخل نسبة الخصم على الفاتورة" value="@Model.DiscountPercentage" />
                                                                </div>
                                                                <!--end::Input-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label>قيمة الخصم على الفاتورة</label>
                                                    <div class="col-12">
                                                        @*<input type="number" class="form-control " onkeyup="SaleMenSellInvoice_Module.onInvoiceDiscountChange();" name="InvoiceDiscount" id="InvoiceDiscount" placeholder="ادخل قيمة الخصم على الفاتورة" value="@Model.InvoiceDiscount" />*@
                                                        @Html.TextBoxFor(model => model.InvoiceDiscount, htmlAttributes: new { @class = "form-control ", @onkeyup = "SaleMenSellInvoice_Module.onInvoiceDiscountChange();", @type = "number", @placeholder = "ادخل قيمة الخصم على الفاتورة" })

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-lg-3">
                                                <!--begin::Input-->
                                                <div class="form-group row">
                                                    <label> نسبة ضريبة القيمة المضافة</label>
                                                    <div class="col-12">
                                                        @Html.TextBoxFor(model => model.SalesTaxPercentage, htmlAttributes: new { @class = "form-control", @onkeyup = "SaleMenSellInvoice_Module.getSafyInvoice();", @type = "number", @placeholder = "ادخل نسبة ضريبة القيمة المضافة" })
                                                    </div>
                                                </div>
                                                <!--end::Input-->
                                            </div>
                                            <div class="col-lg-3">
                                                <!--begin::Input-->
                                                <div class="form-group row">
                                                    <label> ضريبة القيمة المضافة</label>
                                                    <div class="col-12">
                                                        @Html.TextBoxFor(model => model.SalesTax, htmlAttributes: new { @class = "form-control", @type = "number", @placeholder = "ادخل قيمة ضريبة القيمة المضافة", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <!--end::Input-->
                                            </div>
                                            <div class="col-lg-3">
                                                <!--begin::Input-->
                                                <div class="form-group row">
                                                    <label>نسبة ضريبة ارباح تجارية</label>
                                                    <div class="col-12">
                                                        @Html.TextBoxFor(model => model.ProfitTaxPercentage, htmlAttributes: new { @class = "form-control", @onkeyup = "SaleMenSellInvoice_Module.getSafyInvoice();", @type = "number", @placeholder = "ادخل قيمة ضريبة ارباح تجارية" })
                                                    </div>
                                                </div>
                                                <!--end::Input-->
                                            </div>
                                            <div class="col-lg-3">
                                                <!--begin::Input-->
                                                <div class="form-group row">
                                                    <label>قيمة ضريبة ارباح تجارية</label>
                                                    <div class="col-12">
                                                        @Html.TextBoxFor(model => model.ProfitTax, htmlAttributes: new { @class = "form-control", @type = "number", @placeholder = "ادخل قيمة ضريبة ارباح تجارية", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <!--end::Input-->
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label>المبلغ المدفوع</label>
                                                    <div class="col-12">
                                                        @*<input type="number" class="form-control " onkeyup="SaleMenSellInvoice_Module.onPayedValueChange();" name="PayedValue" id="PayedValue" placeholder="ادخل المبلغ المدفوع" value="@Model.PayedValue" />*@
                                                        @Html.TextBoxFor(model => model.PayedValue, htmlAttributes: new { @class = "form-control ", @onkeyup = "SaleMenSellInvoice_Module.onPayedValueChange();", @type = "number", @placeholder = "ادخل المبلغ المدفوع" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label>المبلغ المتبقى</label>
                                                    <div class="col-12">
                                                        @*<input type="number" class="form-control " name="RemindValue" id="RemindValue" readonly value="@Model.RemindValue" />*@
                                                        @Html.TextBoxFor(model => model.RemindValue, htmlAttributes: new { @class = "form-control ", @type = "number", @readonly = "readonly", @placeholder = " المبلغ المتبقى" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <label>تاريخ استحقاق الفاتورة</label>
                                                    <div class="col-12">
                                                        @*<input type="date" class="form-control " name="DueDate" id="DueDate" placeholder="ادخل تاريخ الاستحقاق" value="@Model.DueDate" />*@
                                                        @Html.TextBoxFor(model => model.DueDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control ", type = "date" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group row">
                                                    <label>ملاحظات على الفاتورة</label>
                                                    <div class="col-12">
                                                        @Html.TextAreaFor(x => x.Notes, htmlAttributes: new { @class = "form-control " })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                                                        <div class="d-flex flex-column mb-10 mb-md-0">
                                                            <div class="font-weight-bolder font-size-h6-lg mb-3">ملخص الفاتورة</div>
                                                            <div class="d-flex justify-content-between mb-3">
                                                                <span class="mr-15 font-weight-bold">اجمالى الفاتورة:</span>
                                                                <span class="text-right" id="TotalAmount">@totalValue</span>
                                                                <span class="text-right d-none" id="TotalAmount2">@totalValue</span>
                                                            </div>
                                                            <div class="d-flex justify-content-between mb-3">
                                                                <span class="mr-15 font-weight-bold">اجمالى الخصومات:</span>
                                                                <span class="text-right" id="TotalDiscount">@totalDiscount</span>
                                                            </div>
                                                          
                                                        </div>
                                                        <div class="d-flex flex-column text-md-right">
                                                            <span class="font-size-lg font-weight-bolder mb-1">صافى الفاتورة</span>
                                                            <span class="font-size-h2 font-weight-boldest text-danger mb-1" id="SafyInvoice">@safy</span>
                                                            @*<span>Taxes Included</span>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    @*<label>ملاحظة هامة</label>*@
                                                    <div class="alert alert-primary" role="alert">
                                                        صافى قيمة الفاتورة= ( إجمالي قيمة الاصناف + قيمة الضريبة المضافة  - إجمالي خصومات الفاتورة - قيمة ض.أ.ت.ص )
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-success font-weight-bold text-uppercase px-9 " onclick="SaleMenSellInvoice_Module.SubmitForm(this)" data-wizard-type="action-submit"><span><i class="flaticon-add"></i></span>حفظ الفاتورة</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-1"></div>
                            </div>
                        }
                        <!--end::Form-->
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <!--end::Container-->
        </div>


    }


}
@section Scripts
{
    @if (ViewBag.ErrorMsg != null)
    {
        <script>
            $(document).ready(function () {
                toastr.error('@ViewBag.ErrorMsg', '')
            });
        </script>
    }
    <script src="~/Assets/JSCustom/SaleMenSellInvoice.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            SaleMenSellInvoice_Module.initItemDetails();
            $("#rdo_val").prop('checked', true);
            //$("#rdo_valAllInvoice").prop('checked', true);
            $("#Quantity").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    SaleMenSellInvoice_Module.addItemDetails();
                }
            });

            $("#ItemId").on('select2:select', function () {
                $("#Quantity").focus().select();
            })
            //عند ادخال الباركود الصنف
            $("#ItemBarcode").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $.get("/SharedDataSources/ItemsBarcodeEnter", { barcode: $("#ItemBarcode").val() }, function (data) {
                        $("#ItemId").empty();
                        $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                        $.each(data, function (index, row) {
                            $("#ItemId").append("<option value='" + row.Id + "' selected>" + row.Name + "</option>");
                        });
                        $("#Price").val(0);
                        if (data[0].Name != null) {
                            SaleMenSellInvoice_Module.onItemChange();
                        }
                    });
                }
            });
            //عند ادخال السيريال الصنف
            $("#ItemSerial").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $.get("/SharedDataSources/ItemsSerialEnter", { serial: $("#ItemSerial").val(), isReturnBack: false }, function (data) {
                        if (data.length > 0) {
                            $("#ItemId").empty();
                            $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                            $.each(data, function (index, row) {
                                $("#ItemId").append("<option value='" + row.Id + "' selected>" + row.Name + "</option>");
                            });

                            $("#Price").val(0);
                            $("#Quantity").val(1);
                            var currentStore = data[0].CurrentStore;
                            if ($("#StoreId").val() === currentStore) {
                                SaleMenSellInvoice_Module.onItemChange();

                                $("#balanceVal").val(1);
                                $("#serialItemId").val(data[0].SerialItemId);
                                $("#productionOrderId").val(data[0].ProductionOrderId);
                                $("#isIntial").val(data[0].IsIntial);
                                $("#balanceProductionOrder").empty();
                                $("#balanceProductionOrder").append("<option value=  selected >" + data[0].CmboBalanceTxt + "</option>");
                                //$("#StoreId").select2().select2('val', currentStore);

                            } else {
                                $("#balanceVal").val(null);
                                $("#serialItemId").val(null);
                                $("#productionOrderId").val(null);
                                $("#isIntial").val(null);
                                $("#balanceProductionOrder").val(null);
                                toastr.error('السيريال موجود ولكن المخزن الصحيح للسيريال غير موجود فى قائمة المخازن', '');

                            }
                        } else {
                            toastr.error('السيريال غير موجود او تم استخدامه مسبقا فى عملية بيع', '');
                            return false;

                        }
                    });
                }
            });
        });
        function removeClassInValid() {
            if ($("#CustomerId").val() > 0) {
                $(".fv-plugins-message-container").hide()
            }
            $.get("/SharedDataSources/GetPersonBalance", { id: $("#CustomerId").val(), isCustomer: true }, function (data) {
                $("#PesonBalance").val(data);
            });
            //سياسة اسعار عميل محدد فى فاتورة بيع
            $.get("/SharedDataSources/GetItemPriceByCustomer", { id: $("#CustomerId").val(), itemId: $("#ItemId").val(), isCustomer: true }, function (data) {
                if (data.customeSell > 0) {
                    $("#PricingPolicyId").val(data.pricingPolicyId);
                    $("#Price").val(data.customeSell);
                    $("#Amount").val(data.customeSell * $("#Quantity").val());
                } else {
                    //سعر بيع الصنف الافتراضى المسجل
                    $.get("/SharedDataSources/GetDefaultSellPrice/", { itemId: $("#ItemId").val() }, function (data) {
                        $("#Price").val(data.data);
                        $("#Amount").val(data.data * $("#Quantity").val());
                    });
                }

            });
            //تحديد مدة الاستحقاق تلقائيا فى حالة تحديدها مسبقا 
            $.get("/SharedDataSources/GetContractCustomer", { id: $("#CustomerId").val(), isCustomer: true, invoDate: $("#InvoiceDate").val() }, function (data) {
                if (data != 0) {
                    $("#DueDate").val(data);
                }
            });
        }

    </script>
    <script>
        var treeBasic;
        $(document).ready(function () {
            //المجموعة الاساسية
            var dsBasic = [];
            $.get("/SharedDataSources/onGroupTypeChange", { id: 1 }, function (data) {
                treeBasic.setSource(data);
            });

            treeBasic = $('#groupBasic').comboTree({
                source: dsBasic,
                isMultiple: false,
                collapse: true,
                selected: []
                //selectableLastNode: true

            });
            treeBasic.onChange(function () {
                if (treeBasic.getSelectedIds() != null) {
                    var currentSelected = treeBasic.getSelectedIds()[0];
                    $.get("/SharedDataSources/ItemsSellOnGroupChanged", { id: currentSelected }, function (data) {
                        $("#ItemId").empty();
                        $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                        $.each(data, function (index, row) {
                            $("#ItemId").append("<option value='" + row.Id + "'>" + row.Name + "</option>");
                        });
                    });

                }
            });
            // ============== نهاية المجموعة الاساسية

        });
    </script>
}
