
@model ERP.DAL.Maintenance
@using ERP.Web.Utilites
@{
    ViewBag.Title = "ShowMaintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageTitle1{استعراض فاتورة صيانة}
@section PageTitle2{ملخص فاتورة}
@section Button1{استعراض كل فواتير الصيانة}
@section Button1Link{/Maintenances/Index}
@section icon{<i class="fa fa-cog m-1"></i>}
<div class="row">
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="invoice-title">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <div class="mb-4">
                            <h4>   فاتورة صيانة</h4>
                        </div>
                    </div>
                    <div class="flex-shrink-0">
                        <div class="mb-4">
                            <h4 class="float-end font-size-16">
                                <img src="~/Assets/media/logos/white-logo.png" alt="" height="100">
                            </h4>
                        </div>
                    </div>
                </div>
                <p class="mb-1">
                    <span class="din-bold">@Model.Notes</span>
                </p>

            </div>

            <hr class="my-4">

            <div class="row mb-2">
                <div class="col-sm-4">
                    <h6 class="font-weight-bolde mb-2r din-bold ylow">تاريخ الفاتورة</h6>
                    <span class="din-med">@Model.InvoiceDate</span>
                </div>
                <div class="col-sm-4">
                    <h6 class="font-weight-bolder mb-2 din-bold ylow">رقم الفاتورة</h6>
                    <span class="din-med">@Model.InvoiceNumber</span>
                </div>
                <div class="col-sm-4">
                    <h6 class="font-weight-bolder mb-2 din-bold ylow">العميل</h6>
                    <span class="din-med">
                        @Model.Person.Name
                        <br />@Model.Person.Address
                    </span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <h6 class="font-weight-bolde mb-2r din-bold ylow">الفرع</h6>
                    <span class="din-med">@Model.Branch.Name</span>
                </div>
                <div class="col-sm-4">
                    <h6 class="font-weight-bolder mb-2 din-bold ylow">المبلغ المدفوع</h6>
                    <span class="din-med">@Model.PayedValue</span>
                </div>
                <div class="col-sm-4">
                    <h6 class="font-weight-bolder mb-2 din-bold ylow">المبلغ المتبقى</h6>
                    <span class="din-med">
                        @Model.RemindValue
                    </span>
                </div>
            </div>
            <hr class="my-4">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="pl-0 font-weight-bold text-muted text-uppercase din-bold">الصنف</th>
                            <th class="text-right font-weight-bold text-muted text-uppercase din-bold">نوع العطل</th>
                            <th class="text-right font-weight-bold text-muted text-uppercase din-bold">معلومات اضافية</th>
                            <th class="text-right pr-0 font-weight-bold text-muted text-uppercase din-bold">المبلغ النهائى</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            double totalSpareWithDiscount = 0;
                            foreach (var item in Model.MaintenanceDetails)
                            {
                                totalSpareWithDiscount += (item.TotalItemSpareParts - item.TotalItemDiscount);
                                <tr class="font-weight-boldest font-size-lg">
                                    <td class="pl-0 pt-7 din-bold">@item.Item.Name</td>
                                    <td class="text-right pt-7 din-bold">@(item.MaintenProblemType?.Name)</td>
                                    <td class="text-right pt-7 din-bold">@item.Note</td>
                                    <td class="text-danger pr-0 pt-7 text-right din-bold">@item.ItemSafy</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <hr class="my-4">
            <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                <div class="d-flex flex-column mb-10 mb-md-0">
                    <div class="font-weight-bolder font-size-lg mb-3 din-bold">ملخص الفاتورة</div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold din-bold">اجمالى قطع الغيار:</span>
                        <span class="text-right din-bold">@totalSpareWithDiscount</span>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold din-bold">اجمالى ايرادات الصيانة:</span>
                        <span class="text-right din-bold">@Model.TotalIncomes</span>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold din-bold">خصم على الفاتورة:</span>
                        <span class="text-right din-bold">@Model.InvoiceDiscount</span>
                    </div>
                </div>
                <div class="d-flex flex-column text-md-center">
                    <span class="font-size-lg font-weight-bolder mb-1 din-bold">(المبلغ المطلوب تحصيله)صافى الفاتورة</span>
                    <span class="font-size-h2 font-weight-boldest text-danger mb-1 din-bold">@Model.Safy</span>
                    @*<span>Taxes Included</span>*@
                </div>
            </div>
            <hr class="my-4">
            <div class="d-flex justify-content-between">
                @*<button type="button" class="btn btn-light-primary font-weight-bold din-bold" onclick="window.print();">Download Invoice</button>*@
                <button type="button" class="btn btn-primary font-weight-bold din-bold" onclick="window.print();">طباعة</button>
                <a href="#" onclick="window.history.back()" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fa-solid fa-caret-left  m-1"></i>عودة</a>
            </div>
        </div>
    </div>
    <!-- end: Invoice action-->
    <!-- end: Invoice-->
</div>
    </div>


@section Scripts
{

}