@model ERP.Web.ViewModels.OrderSellVM
@using ERP.Web.Utilites


@{ ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn = string.Empty, icon = string.Empty;
    if (Model.Id == Guid.Empty)
    {
        title = "اضافة أمر بيع لعميل";
        btn = "تسجيل أمر بيع";
        icon = "fa fa-plus-circle m-1";
    }
    else
    {
        title = "تعديل أمر بيع ";
        btn = "تعديل";
        icon = "fa fa-edit m-1";
    }
}


@section PageTitle1{أوامر البيع}
@section PageTitle2{@title }
@section Button1{ادارة أوامر البيع}
@section Button1Link{/OrderSells/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">@title </h4>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("CreateEdit", "OrderSells", FormMethod.Post, new { id = "form1" }))
            {
                <div class="card-body">

                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>الفرع</label>
                                @Html.DropDownList("BranchId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select  din-med", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.BranchId)
                                @Html.HiddenFor(m => m.CustomerId)
                                @Html.HiddenFor(m => m.QuoteId)
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>العميل</label>
                                @Html.DropDownList("CustomerId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select din-med", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>تاريخ العملية </label>
                                @Html.TextBoxFor(m => m.InvoiceDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control din-med", @type = "date" })
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group required">
                                <label>ملاحظات </label>
                                @Html.TextAreaFor(m => m.Notes, htmlAttributes: new { @class = "form-control din-med" })
                            </div>
                        </div>
                        
                       
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>الاصناف المسجلة</label>
                                <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_dtItemDetails">
                                    <thead>
                                        <tr>
                                            <td>الصنف</td>
                                        <td>الكمية</td>
                                        <td>السعر</td>
                                        <td>النوع</td>
                                        <td>الرصيد الحالى</td>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        
                                        @for (int i = 0; i < Model.OrderSellItems.Count; i++)
                                        {
                                            <tr>
                                                <td>@Model.OrderSellItems[i].ItemName</td>
                                                @Html.HiddenFor(m => m.OrderSellItems[i].ItemId)
                                                @Html.HiddenFor(m => m.OrderSellItems[i].Id)
                                                <td>@Html.TextBoxFor(m => m.OrderSellItems[i].Quantity, new { @class = "form-control", @style = "text-align:right;" }) </td>
                                                <td>@Html.TextBoxFor(m => m.OrderSellItems[i].Price, new { @class = "form-control", @style = "text-align:right;" }) </td>
                                                <td>@Html.DropDownList("OrderSellItemType",null, htmlAttributes: new { @class = "form-select din-med", @Name = "OrderSellItems[" + i + "].OrderSellItemType" })</td>
                                                <td>@Model.OrderSellItems[i].CurrentBalance</td>
                                            </tr>
                                        }

                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12" style="text-align:left;">
                            @*<input type="button" onclick="OrderSell_Module.SubmitForm(this);" value="@btn" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px" />*@
                            <a href="javascript:void(0);" onclick="OrderSell_Module.SubmitForm(this);" class="btn btn-primary font-weight-bold w-100"><i class="@icon"></i>@btn</a>
                            @*@if (Model.Id != Guid.Empty)
                                {
                                    <a href="/OrderSells/Index" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fa-solid fa-caret-left m-1"></i>عودة</a>
                                }*@
                        </div>
                    </div>
                </div>}
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Assets/JSCustom/OrderSell.js"></script>
}

