@model ERP.Web.ViewModels.OrderSellVM
@using ERP.Web.Utilites
@using ERP.Web.DataTablesDS

@{ ViewBag.Title = "OrderForProduction";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string title, btn = string.Empty, icon = string.Empty;

    title = "تجهيز لفاتورة بيع ";
    btn = "تسجيل فاتورة بيع";
    icon = "fa fa-add m-1";

}


@section PageTitle1{تجهيز امر انتاج مجمع}
@section PageTitle2{@title }
@section Button1{ادارة تجهيز امر انتاج مجمع}
@section Button1Link{/OrderSells/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">@title </h4>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("OrderForProduction", "OrderSells", FormMethod.Post, new { id = "form1" }))
            {
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>العميل</label>
                                @Html.DropDownList("CustomerId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select din-med", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>تاريخ العملية </label>
                                @Html.TextBoxFor(m => m.InvoiceDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control din-med", @type = "date", @disabled = "disabled" })
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>الفرع</label>
                                @Html.DropDownList("BranchId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select  din-med", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.BranchId)
                                @Html.HiddenFor(m => m.CustomerId)
                                @Html.HiddenFor(m => m.QuoteOrderSellId)
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>الاصناف المسجلة</label>
                                <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_dtItemDetails">
                                    <thead>
                                        <tr>
                                            <td>الصنف</td>
                                            <td>الكمية</td>
                                            <td>السعر</td>
                                            <td>التوليفة</td>
                                            <td>الرصيد الحالى</td>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        @for (int i = 0; i < Model.OrderSellItems.Count; i++)
                                        {
                                            //var dropDownItemProductionId = (List<DropDownListInt>)ViewBag.DropDownListSellItemType;
                                            var list = new SelectList(Model.OrderSellItems[i].ItemProductionList, "Id", "Name", Model.OrderSellItems[i].ItemProductionId);

                                            <tr>
                                                <td>@Model.OrderSellItems[i].ItemName</td>
                                                @Html.HiddenFor(m => m.OrderSellItems[i].ItemName)
                                                @Html.HiddenFor(m => m.OrderSellItems[i].ItemId)
                                                @Html.HiddenFor(m => m.OrderSellItems[i].Id)
                                                @Html.HiddenFor(m => m.OrderSellItems[i].CurrentBalance)
                                                <td>@Html.TextBoxFor(m => m.OrderSellItems[i].Quantity, new { @class = "form-control", @style = "text-align:right;" }) </td>
                                                <td>@Html.TextBoxFor(m => m.OrderSellItems[i].Price, new { @class = "form-control", @style = "text-align:right;" }) </td>
                                                <td>@Html.DropDownList("ItemProductionId", list, htmlAttributes: new { @class = "form-select din-med", @Name = "OrderSellItems[" + i + "].ItemProductionId" })</td>
                                                <td>@Model.OrderSellItems[i].CurrentBalance</td>
                                            </tr>
                                        }

                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>.</label>
                                <button type="submit" @*onclick="OrderSell_Module.UpdateData();"*@ class="btn btn-primary font-weight-bold  px-15 w-100">تحديث البيانات</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12" style="text-align:left;" id="divSave">
                            @if (ViewBag.vv != null)
                            {
                                <a href="javascript:void(0);" onclick="OrderSell_Module.SubmitFormForProduction(this);" class="btn btn-primary font-weight-bold w-100"><i class="@icon"></i>@btn</a>

                            }
                        </div>
                    </div>
                </div>}
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Assets/JSCustom/OrderSell.js"></script>
}

