@model ERP.Web.ViewModels.OrderSellVM
@using ERP.Web.Utilites
@using ERP.Web.DataTablesDS

@{ ViewBag.Title = "OrderForProduction";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string title, btn = string.Empty, icon = string.Empty;

    title = "تجهيز لفاتورة بيع ";
    btn = "تسجيل فاتورة بيع";
    icon = "fa fa-add m-1";

}


@section PageTitle1{تجهيز امر انتاج مجمع}
@section PageTitle2{@title }
@section Button1{ادارة تجهيز امر انتاج مجمع}
@section Button1Link{/OrderSells/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">@title </h4>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("OrderForProduction", "OrderSells", FormMethod.Post, new { id = "form1" }))
            {
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>العميل</label>
                                @Html.DropDownList("CustomerId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select din-med", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>تاريخ امر البيع </label>
                                @Html.TextBoxFor(m => m.InvoiceDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control din-med", @type = "date", @disabled = "disabled" })
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>الفرع</label>
                                @Html.DropDownList("BranchId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select  din-med", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.BranchId)
                                @Html.HiddenFor(m => m.CustomerId)
                                @Html.HiddenFor(m => m.QuoteOrderSellId)
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <!--begin::Select-->
                            <div class="form-group">
                                <label>مخزن تحت التصنيع)</label>
                                @Html.DropDownList("ProductionUnderStoreId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control din-med" })
                            </div>
                            <!--end::Select-->
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>مخزن التصنيع (المنتج النهائى)</label>
                                @Html.DropDownList("ProductionStoreId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control din-med" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>ملاحظات</label>
                                @Html.TextAreaFor(m => m.Notes, htmlAttributes: new { @class = "form-control", @placeholder = "ادخل ملاحظات امر الانتاج" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>الاصناف المسجلة</label>
                                <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_dtItemDetails">
                                    <thead>
                                        <tr>
                                            <td>الصنف</td>
                                            <td>الكمية</td>
                                            <td>السعر</td>
                                            <td>التوليفة</td>
                                            <td>الرصيد الحالى</td>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        @for (int i = 0; i < Model.OrderSellItems.Count; i++)
                                        {
                                            //var dropDownItemProductionId = (List<DropDownListInt>)ViewBag.DropDownListSellItemType;
                                            var list = new SelectList(Model.OrderSellItems[i].ItemProductionList, "Id", "Name", Model.OrderSellItems[i].ItemProductionId);

                                            <tr>
                                                <td>@Model.OrderSellItems[i].ItemName</td>
                                                @Html.HiddenFor(m => m.OrderSellItems[i].ItemName)
                                                @Html.HiddenFor(m => m.OrderSellItems[i].ItemId)
                                                @Html.HiddenFor(m => m.OrderSellItems[i].Id)
                                                @Html.HiddenFor(m => m.OrderSellItems[i].CurrentBalance)
                                                <td>@Html.TextBoxFor(m => m.OrderSellItems[i].Quantity, new { @class = "form-control", @style = "text-align:right;" }) </td>
                                                <td>@Html.TextBoxFor(m => m.OrderSellItems[i].Price, new { @class = "form-control", @style = "text-align:right;" }) </td>
                                                <td>@Html.DropDownList("ItemProductionId", list, htmlAttributes: new { @class = "form-select din-med", @Name = "OrderSellItems[" + i + "].ItemProductionId" })</td>
                                                <td>@Model.OrderSellItems[i].CurrentBalance</td>
                                            </tr>
                                        }

                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>.</label>
                                <button type="submit" name="actionType" value="generateItemProduction" @*onclick="OrderSell_Module.UpdateData();"*@ class="btn btn-primary font-weight-bold  px-15 w-100">انشاء اصناف التوليفات</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                    </div>
                </div>}
        </div>
    </div>
</div>

<div class="row din-bold">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <h4>بيانات التوليفة</h4>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-5">
                        <!--begin::List Widget 2-->
                        <div class="card bg-soft-success text-White border-success">
                            <!--begin::Header-->
                            <div class="card-body pt-2">

                                <h3 class="mb-3 text-White">الصنف/الاصناف الداخلة</h3>
                                <!--end::Header-->
                                <!--begin::Body-->
                                <div class="form-group">
                                    @for (int o = 0; o < Model.OrderSellItems.Count; o++)
                                    {
                                        <table class="table table-bordered dt-responsive  nowrap w-100 kt_datatableItems">
                                            <thead>
                                                <tr>
                                                    <td>المنتج الداخل</td>
                                                    <td>تكلفة المنتج</td>
                                                    <td>الكمية المطلوبة</td>
                                                    <td>الكمية المتاحة</td>
                                                    <td>عمليات</td>
                                                </tr>

                                            </thead>
                                            <tbody>


                                                @for (int i = 0; i < Model.OrderSellItems[o].ItemProductionOrderDetailsIn.Count(); i++)
                                                {
                                                    <tr>
                                                        <td>@Model.OrderSellItems[o].ItemProductionOrderDetailsIn[i].ItemName</td>
                                                        @Html.HiddenFor(m => m.OrderSellItems[o].ItemProductionOrderDetailsIn[i].ItemProductionId)
                                                        @Html.HiddenFor(m => m.OrderSellItems[o].ItemProductionOrderDetailsIn[i].ItemId)
                                                        @Html.HiddenFor(m => m.OrderSellItems[o].ItemProductionOrderDetailsIn[i].ItemCostCalculateId)
                                                        <td>@Model.OrderSellItems[o].ItemProductionOrderDetailsIn[i].ItemCost</td>
                                                        <td>@Model.OrderSellItems[o].ItemProductionOrderDetailsIn[i].QuantityRequired</td>
                                                        <td>@Model.OrderSellItems[o].ItemProductionOrderDetailsIn[i].QuantityAvailable</td>
                                                        <td>
                                                            <div class="btn-group"><a href="javascript:;" onclick=ProductionOrder_Module.deleteRowItemIn() class="btn btn-sm btn-clean btn-icUrln deleteIcon" title="حذف"><i class="fa fa-trash"></i></a></div>
                                                        </td>
                                                    </tr>
                                                }


                                            </tbody>
                                            <tfoot></tfoot>
                                        </table>

                                    }


                                </div>

                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::List Widget 2-->
                    </div>
                    <div class="col-xl-2">
                        <!--begin::List Widget 2-->
                        <div class="card bg-soft-danger">
                            <!--begin::Header-->
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body pt-1">
                                <!--begin::Item-->
                                <div class="d-flex align-items-center mb-10">

                                    <!--begin::Text-->
                                    <div class="d-flex flex-column font-weight-bold">
                                        @*<a href="#" class="text-dark text-hover-primary mb-1 font-size-lg"><<<<</a>
                            <span class="text-muted"></span>*@
                                        <img src="~/Assets/media/logos/transfer-3787.png" class="h-75 align-self-end" />
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <!--end::Item-->

                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::List Widget 2-->
                    </div>
                    <div class="col-xl-5">
                        <!--begin::List Widget 2-->
                        <div class="card bg-soft-success text-White border-success">
                            <!--begin::Header-->
                            <div class="card-body pt-2">

                                <h3 class="mb-3 text-White">الصنف/الاصناف الداخلة</h3>
                                <!--end::Header-->
                                <!--begin::Body-->
                                <div class="form-group">
                                    @for (int o = 0; o < Model.OrderSellItems.Count; o++)
                                    {
                                        <table class="table table-bordered dt-responsive  nowrap w-100 kt_datatableItems">
                                            <thead>
                                                <tr>
                                                    <td>المنتج الخارج</td>
                                                    <td>الكمية المطلوبة</td>
                                                </tr>

                                            </thead>
                                            <tbody>


                                                @for (int i = 0; i < Model.OrderSellItems[o].ItemProductionOrderDetailsOut.Count(); i++)
                                                {
                                                    <tr>
                                                        <td>@Model.OrderSellItems[o].ItemProductionOrderDetailsOut[i].ItemName</td>
                                                        @Html.HiddenFor(m => m.OrderSellItems[o].ItemProductionOrderDetailsOut[i].ItemProductionId)
                                                        @Html.HiddenFor(m => m.OrderSellItems[o].ItemProductionOrderDetailsOut[i].ItemId)
                                                        @Html.HiddenFor(m => m.OrderSellItems[o].ItemProductionOrderDetailsOut[i].ItemCostCalculateId)
                                                        <td>@Model.OrderSellItems[o].ItemProductionOrderDetailsOut[i].QuantityRequired</td>
                                                    </tr>
                                                }


                                            </tbody>
                                            <tfoot></tfoot>
                                        </table>

                                    }


                                </div>

                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::List Widget 2-->
                    </div>


                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>.</label>
                            <button type="submit" name="actionType" value="saveProductionOrder" @*onclick="OrderSell_Module.UpdateData();"*@ class="btn btn-primary font-weight-bold  px-15 w-100">انشاء اصناف التوليفات</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>


    </div>
</div>


@section Scripts
{
    <script src="~/Assets/JSCustom/OrderSell.js"></script>
    @if(ViewBag.Msg!=null)
    {
        <script>
            toastr.error('@ViewBag.Msg', '');
        </script>
    }
    <script>
        $(document).ready(function () {
            $('.kt_datatableItems').DataTable({
                responsive: true,
                searchDelay: 500,
                processing: true,
                serverSide: false,
                paging: false,
                info: false,
                lengthChange: false,
                // DOM Layout settings
                dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>",
                language: {
                    search: "البحث",
                    lengthMenu: "عرض _MENU_ عنصر لكل صفحة",
                    info: "العناصر من_START_ الي _END_ من اصل _TOTAL_ عنصر",
                    processing: "جارى التحميل",
                    zeroRecords: "لا يوجد سجلات لعرضها",
                    infoFiltered: "",
                    infoEmpty: 'لا يوجد سجلات متاحه',
                    oPaginate: {
                        sNext: '<span class="pagination-default">التالى</span><span class="pagination-fa"><i class="fa fa-chevron-left" ></i></span>',
                        sPrevious: '<span class="pagination-default">السابق</span><span class="pagination-fa"><i class="fa fa-chevron-right" ></i></span>'
                    }
                },


               
                //"order": [[0, "desc"]]
                //"order": [[0, "desc"]] 

            });
        })
    </script>
}

