
@model ERP.DAL.SaleMenCustomer
@using ERP.DAL

@{ ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn = string.Empty, icon = string.Empty, icon2 = string.Empty;
    if (Model.Id == Guid.Empty)
    {
        title = "تسجيل عملاء مندوب";
        btn = "تسجيل";
        icon = "fa fa-plus-circle m-1";
    }
    else
    {
        title = "تعديل عملاء مندوب ";
        btn = "تعديل";
        icon = "fa fa-edit m-1";
        icon2 = "fa-solid fa-caret-left m-1";
    } }

@section PageTitle1{عملاء المناديب}
@section PageTitle2{@title }
@section Button1{ادارة عملاء مندوب}
@section Button1Link{/SaleMenCustomers/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">@title</h4>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("CreateEdit", "SaleMenCustomers", FormMethod.Post, new { id = "form1" }))
            {
<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group required">
                <label>الادارة</label>
                @Html.DropDownList("DepartmentId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control select2 din-med", @onchange = "SaleMenCustomer_Module.getSaleMenDepartmentChange()" })
                @Html.HiddenFor(model => model.Id)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group required">
                <label>الموظف</label>
                @Html.DropDownList("EmployeeId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control select2 din-med" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-custom gutter-b">
                <div class="card-header ">
                    <div class="card-title alert alert-warning">
                        <h3 class="card-label">اضافة عملاء للمندوب</h3>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-6 alert alert-primary">
                            <div class="form-group required">
                                <label>فئات العملاء</label>
                                @Html.DropDownList("PersonCategoryId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control din-med", @onchange = "SaleMenCustomer_Module.getCustomerOnCategoryChange();" })
                            </div>
                        </div>
                        <div class="col-lg-6 alert alert-primary">
                            <div class="form-group required">
                                <label>العمــيل</label>
                                @Html.DropDownList("CustomerId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control select2 din-med" })
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>.</label>
                                <button type="button" onclick="SaleMenCustomer_Module.addCustomer();" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100">اضافة عميل</button>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group ">
                                <label>العملاء المسجلين</label>
                                <table class="table table-separate table-head-custom table-foot-custom table-checkable" id="kt_dtCustomers">
                                    <thead>

                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12" style="text-align:left;">
                            @*<input type="button" onclick="SaleMenCustomer_Module.SubmitForm(this);" value="@btn" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px" />*@

                            <a href="javascript:void(0);" onclick="SaleMenCustomer_Module.SubmitForm(this);" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px"><i class="@icon"></i>@btn</a>
                            @if (Model.Id != Guid.Empty)
                            {
            <a href="#" onclick="window.history.back()" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="@icon2"></i>عودة</a>}
                        </div>
                    </div>
                </div>}
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Assets/JSCustom/SaleMenCustomer.js"></script>
    <script>
        $(document).ready(function () {
            SaleMenCustomer_Module.initCustomer();
        });
    </script>
}

