@model ERP.Web.ViewModels.GeneralDayAccountVM
@using ERP.Web.Utilites
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @*DateTime dFrom = Utility.GetDateTime(); DateTime dTo = Utility.GetDateTime();
        if (!DateTime.TryParse(ViewBag.FinancialYearStartDate, out dFrom) || !DateTime.TryParse(ViewBag.FinancialYearEndDate, out dTo))
        {
            <script>
                    $(document).ready(function () {
                        /**/
                        toastr.error('يجب تعريف بداية ونهاية السنة المالية فى شاشة الاعدادات', '')
                        /**/
                    });
            </script>
        }*@
    string AccountActionBalanceBeforPeriod, TotalPeriodSpecified, AccountActionBalanceDuringPeriod, FinalBalanceAccountUntilEndPeriod;
    string reportTitle;
    if (!Model.ShowRptEn)
    {
        reportTitle = "كشف حساب";
        AccountActionBalanceBeforPeriod = "رصيد حركة الحساب قبل الفترة";
        TotalPeriodSpecified = "اجمالى الفترة المحددة";
        AccountActionBalanceDuringPeriod = "رصيد حركة الحساب خلال الفترة";
        FinalBalanceAccountUntilEndPeriod = "الرصيد النهائى للحساب حتى نهاية الفترة";

    }
    else
    {
        reportTitle = "Account Statement";
        AccountActionBalanceBeforPeriod = "Account action balance before the period";
        TotalPeriodSpecified = "The total period specified";
        AccountActionBalanceDuringPeriod = "Account action balance during the period";
        FinalBalanceAccountUntilEndPeriod = "The final balance of the account until the end of the period";
    }

}

@section PageTitle1{كشف حساب}
@section PageTitle2{بحث}
@section Button1{@null}
@section Button1Link{@null}
@section icon{@null}


<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">
                            كشف حساب
                        </h4>
                    </div>
                    <div class="col-sm-6">
                        <div class="fa-pull-left">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="svg-icon svg-icon-md">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3" />
                                                <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000" />
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span> تصدير الى<i class="mdi mdi-chevron-down"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a href="#" class="dropdown-item" id="export_print">
                                        <i class="fa fa-print"></i>
                                        طباعة
                                    </a>
                                    <a href="#" class="dropdown-item" id="export_excel">
                                        <i class="fa fa-file-excel"></i>
                                        <span>إكسل</span>
                                    </a>
                                    <a href="#" class="dropdown-item" id="export_copy">
                                        <span>
                                            <i class="fa fa-copy"></i>
                                        </span>
                                        <span>نسخ</span>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Search", "RptAccountStatements", FormMethod.Get, new { id = "form1" }))
                {
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group mb-0 w-100">

                                <div class="input-icon input-icon-right">
                                    <label>بحث</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" style="text-align:start;" id="kt_datatable_search_query" placeholder="ادخل كلمة البحث">
                                        <div class="input-group-text">
                                            <i class="bx bx-search-alt align-middle"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div>
                                    <label> شجرة الحسابات</label>
                                    <input name="accountTree" type="text" class="form-control alert alert-success" id="accountTree" autocomplete="off" style="text-align:right;"/>
                                    @*<input type="hidden" id="AccountTreeId" />*@
                                    @Html.HiddenFor(m => m.AccountTreeId)
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div>
                                    <label>حالة التقرير</label>
                                    @Html.DropDownList("ReportStatus",null, htmlAttributes: new { @class = "form-control din-med" })
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-4">
                            <div class="form-group">
                                <div>
                                    <label>عرض التقرير بالانجليزية</label>
                                    @Html.CheckBoxFor(m => m.ShowRptEn, htmlAttributes: new { @class = "form-check-input din-med" })
                                </div>
                            </div>
                        </div>*@


                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div>
                                    <label> من تاريخ</label>
                                    @Html.TextBoxFor(m => m.dtFrom, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control din-med", @type = "date" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div>
                                    <label> إلي تاريخ</label>
                                    @Html.TextBoxFor(m => m.dtTo, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control din-med", @type = "date" })
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-2">
                            <div class="form-group">
                                <div>
                                    <label> .</label>
                                    <button type="submit" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100"><i class="bx bx-search-alt m-1"></i>بــحث</button>

                                    @*<a href="/RptAccountStatements/Search?AccountTreeId=@Model.AccountTreeId&dtFrom=@Model.dtFrom&dtTo=@Model.dtTo"  class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100"><i class="bx bx-search-alt m-1"></i>بــحث</a>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <div>
                                    <label> .</label>
                                    @*<button type="submit" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100"><i class="bx bx-search-alt m-1"></i>بــحث</button>*@

                                    <a href="javascript:void(0);" onclick="printReport()" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100"><i class="bx bx-printer m-1"></i>طباعه</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_datatable">
                        <thead>

                            <tr>
                                @*<th style="display:none;">Id</th>
                                <th style="display:none;">TransactionId</th>
                                <th style="display:none;">AccountsTreeId</th>
                                <th style="display:none;">TransactionTypeId</th>*@
                                @if (!Model.ShowRptEn)
                                {
                                    <th>تاريخ المعاملة</th>
                                    @*<th>رقم الحساب</th>
                                    <th>اسم الحساب</th>*@
                                    <th>مدين</th>
                                    <th>دائن</th>
                                    <th>الرصيد</th>
                                    <th>نوع المعاملة</th>
                                    <th>البيان</th>
                                    <th>عمليات</th>
                                }
                                else
                                {
                                    <th>Transaction Date</th>
                                    @*<th>Account Number</th>
                                    <th>Account Name</th>*@
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Balance</th>
                                    <th>Transaction Type</th>
                                    <th>Notes</th>
                                    <th>Operation</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.GeneralDalies.Count > 0&&Model.ReportStatus==1)
                            {
                                <tr>
                                    @*<td style="display:none;"></td>
        <td style="display:none;"></td>
        <td style="display:none;"></td>
        <td style="display:none;"></td>*@
                                    <td>  <label style="color:firebrick">@AccountActionBalanceBeforPeriod </label></td>
                                    <td>
                                        <label style="color: firebrick; font-size: 14px;">
                                            @if (Model.LastBalanceDebit < 0)
                                            {
                                                <b>(</b> @Math.Abs(Model.LastBalanceDebit)<b>)</b>
                                            }
                                            else
                                            {
                                                @Model.LastBalanceDebit
                                            }

                                        </label>
                                    </td>
                                    <td>
                                        <label style="color: firebrick; font-size: 14px;">
                                            @if (Model.LastBalanceCredit < 0)
                                            {
                                                <b>(</b> @Math.Abs(Model.LastBalanceDebit)<b>)</b>

                                            }
                                            else
                                            {
                                                @Model.LastBalanceCredit

                                            }
                                        </label>
                                    </td>
                                    <td></td>
                                    <td></td>

                                    <td></td>
                                    <td>
                                        <label style="color:firebrick">
                                            @*@AccountActionBalanceBeforPeriod*@
                                        </label>
                                    </td>
                                    @*<th colspan="3">
            <label style="color: firebrick; font-size: 14px;">@AccountActionBalanceBeforPeriod </label>
        </th>
        <th>
            <label style="color: firebrick; font-size: 14px;">
                @Model.LastBalanceDebit
            </label>
        </th>
        <th>
            <label style="color: firebrick; font-size: 14px;">
                @Model.LastBalanceCredit
            </label>
        </th>
        <th colspan="3">
            <label style="color:firebrick">
                @AccountActionBalanceBeforPeriod
            </label>
        </th>*@
                                </tr>

                            }
                            @foreach (var item in Model.GeneralDalies)
                            {
                                <tr>
                                    @*<td style="display:none;">@item.Id</td>
                                    <td style="display:none;">@item.TransactionId</td>
                                    <td style="display:none;">@item.AccountsTreeId</td>
                                    <td style="display:none;">@item.TransactionTypeId</td>*@
                                    <td>@item.TransactionDate</td>
                                    @*<td>@item.AccountNumber</td>
                                    <td>@item.AccountsTreeName</td>*@
                                <td>
                                    @if (item.Debit < 0)
                                    {
                                        <b>(</b> @Math.Abs(item.Debit)<b>)</b>

                                    }
                                    else
                                    {
                                        @item.Debit
                                    }
                                </td>
                                <td>
                                    @if (item.Credit < 0)
                                    {
                                        <b>(</b> @Math.Abs(item.Credit)<b>)</b>

                                    }
                                    else
                                    {
                                        @item.Credit

                                    }
                                </td>
                                    <td>@item.Balance</td>
                                    <td>@item.TransactionTypeName</td>
                                    <td>@item.Notes</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="javascript:;" onclick=showTransactionPage('@item.TransactionTypeId') class="btn btn-sm btn-clean btn-icUrln" title="شاشة المعاملة">
                                                <i class="fa fa-search"></i>
                                            </a>
                                            <a href="/GeneralDailies/Index/?tranId=@item.TransactionId&tranTypeId=@item.TransactionTypeId" class="btn btn-sm btn-clean btn-icon" title="عرض القيود">
                                                <i class="fa fa-money-bill"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="footerCl">
                            @if (Model.GeneralDalies.Count > 0)
                            {


                                <tr>
                                    <th>
                                        <label style="color: firebrick; font-size: 14px;"></label>
                                    </th>
                                    <th>
                                        <label style="color: firebrick; font-size: 14px;">
                                        </label>
                                    </th>
                                    <th>
                                        <label style="color: firebrick; font-size: 14px;">
                                        </label>
                                    </th>
                                    <th>
                                        <label style="color:firebrick">
                                        </label>
                                    </th>
                                    <th>
                                        <label style="color:firebrick">
                                        </label>
                                    </th>
                                    <th>
                                        <label style="color:firebrick">
                                        </label>
                                    </th>
                                    <th>
                                        <label style="color:firebrick">
                                        </label>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label style="color: firebrick; font-size: 14px;">@TotalPeriodSpecified</label>
                                    </th>
                                    <th>
                                        <label style="color: firebrick; font-size: 14px; ">
                                            @if (Model.TotalDebit < 0)
                                            {
                                                <b>(</b> @Math.Abs(Model.TotalDebit)<b>)</b>

                                            }
                                            else
                                            {
                                                @Model.TotalDebit

                                            }

                                        </label>
                                    </th>
                                    <th>
                                        <label style="color: firebrick; font-size: 14px; ">
                                            @if (Model.TotalCredit < 0)
                                            {
                                                <b>(</b> @Math.Abs(Model.TotalCredit)<b>)</b>

                                            }
                                            else
                                            {
                                                @Model.TotalCredit

                                            }

                                        </label>
                                    </th>
                                    <th colspan="4">
                                        <label style="color: firebrick; font-size: 14px;">

                                            @TotalPeriodSpecified
                                        </label>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label style="color: firebrick; font-size: 14px;">@AccountActionBalanceDuringPeriod </label>
                                    </th>
                                    <th>
                                        <label style="color: firebrick; font-size: 14px;">
                                            @if (Model.TotalBalanceDebit < 0)
                                            {
                                                <b>(</b> @Math.Abs(Model.TotalBalanceDebit)<b>)</b>

                                            }
                                            else
                                            {
                                                @Model.TotalBalanceDebit

                                            }

                                        </label>
                                    </th>
                                    <th>
                                        <label style="color: firebrick; font-size: 14px;">
                                            @if (Model.TotalBalanceCredit < 0)
                                            {
                                                <b>(</b> @Math.Abs(Model.TotalBalanceCredit)<b>)</b>

                                            }
                                            else
                                            {
                                                @Model.TotalBalanceCredit

                                            }

                                        </label>
                                    </th>
                                    <th colspan="4">
                                        <label style="color: firebrick; font-size: 14px;">
                                            @AccountActionBalanceDuringPeriod
                                        </label>
                                    </th>
                                </tr>
                                if (Model.ReportStatus == 1)
                                {
                                    <tr>
                                        <th>
                                            <label style="color: firebrick; font-size: 14px;">@FinalBalanceAccountUntilEndPeriod  </label>
                                        </th>
                                        <th>
                                            <label style="color: firebrick; font-size: 14px;">
                                                @if (Model.SafyBalanceDebit < 0)
                                                {
                                                    <b>(</b> @Math.Abs(Model.SafyBalanceDebit)<b>)</b>

                                                }
                                                else
                                                {
                                                    @Model.SafyBalanceDebit

                                                }

                                            </label>
                                        </th>
                                        <th>
                                            <label style="color: firebrick; font-size: 14px;">
                                                @if (Model.SafyBalanceCredit < 0)
                                                {
                                                    <b>(</b> @Math.Abs(Model.SafyBalanceCredit)<b>)</b>

                                                }
                                                else
                                                {
                                                    @Model.SafyBalanceCredit

                                                }

                                            </label>
                                        </th>
                                        <th colspan="4">
                                            <label style="color: firebrick; font-size: 14px;">
                                                @FinalBalanceAccountUntilEndPeriod
                                            </label>
                                        </th>
                                    </tr>

                                }
                            }
                        </tfoot>
                    </table>
                }
            </div>


        </div>
    </div>

</div>


@section Scripts
{
    <script>
        function showTransactionPage(trantypId) {
            if (trantypId === "1") {
                window.location = "/PurchaseInvoices/Index"; // توريد
            } else if (trantypId === "2")
                window.location = "/SellInvoices/Index";//بيع
            else if (trantypId === "3")
                window.location = "/PurchaseBackInvoices/Index";//مرتجع توريد
            else if (trantypId === "4")
                window.location = "/SellBackInvoices/Index";//مرتجع بيع
            else if (trantypId === "5")
                window.location = "/SuppliersPayments/Index";//صرف نقدية
            else if (trantypId === "6")
                window.location = "/CustomersPayments/Index";//توريد نقدية
            else if (trantypId === "7")
                window.location = "/Expenses/Index";//مصروف
            else if (trantypId === "21")
                window.location = "/Incomes/Index";//ايراد
            else if (trantypId === "9")
                window.location = "/GeneralRecords/Index";//قيود حرة
            else if (trantypId === "22")
                window.location = "/VoucherPayments/Index";//سند صرف
            else if (trantypId === "23")
                window.location = "/VoucherReceipts/Index";//سند دفع
            else if (trantypId === "24")
                window.location = "/SellInvoiceInstallmentSchedules/Index";//تقسيط
            else if (trantypId === "25")
                window.location = "/CustomerIntials/Index";//رصيد اول عملاء
            else if (trantypId === "26")
                window.location = "/SupplierIntials/Index";//رصيد اول موردين
        }
    </script>
    <script>
   
        var accounTree;
        $(document).ready(function () {

      
            var ele = '<footer><div class="footer" style="left: 0; bottom:0;width: 100%;background-color: red;color:white;text-align:center;"><h1>qqqqqq</h1></div></footer>';
            $('#kt_datatable').DataTable({
                "ordering": false,
                dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>",
                buttons: [
                    {
                        extend: 'print',
                        //footer: true,
                        className: 'green glyphicon glyphicon-print',
                        title: function () {
                            //var tfoo = $("#kt_datatable tfoot").html();
                            //var ele = "<table><tbody>" + tfoo + "</tbody></table><h1>كشف حساب  </h1>";
                            return '@reportTitle';
                        },
                        customize: function (win) {
                 @*$(win.document.body)
                    .append(
                        '@include("report/shop/printmemberconsolidate")'
                    ),*@
                            $(win.document.body)
                                //.css('font-size', '20pt')
                                .prepend(
                                    '<img src=' + localStorage.getItem("logo") + ' style="position:absolute; top:25%; right:10%;opacity: 0.2;" />'
                                );
                            $(win.document.body).find('table')
                                //.addClass('compact')
                                .css('font-size', 'inherit')
                                .css('direction', 'rtl')
                                .css('text-align', 'right')
                                .find('.actions').css('display', 'none');
                                //.append(ele);
                            //$(win.document.body).find('#kt_datatable tfoot').append(ele);
                            //var tfoo = $("#kt_datatable tfoot tr:eq(1)").html()
                            //console.log(tfoo);
                            //$(win.document.body).find('table tfoot tr:eq(1)').append(tfoo);
                            //console.log($(win.document.body).find('table tfoot tr:eq(1)'));
                            //var tfoo = $("#kt_datatable tfoot").html();
                            //var ele="<table><tbody>"+tfoo+"</tbody></table>";
                            //$(win.document.body).find('kt_datatable').append(ele);
                            //توسيط عنوان التقرير
                            $(win.document.body).find('h1').css('text-align', 'center');
                        },
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: "copyHtml5",
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: "excelHtml5",
                        filename: '@reportTitle',
                        title: '@reportTitle',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                ],
                language: {
                    search: "البحث",
                    lengthMenu: "عرض _MENU_ عنصر لكل صفحة",
                    info: "العناصر من_START_ الي _END_ من اصل _TOTAL_ عنصر",
                    processing: "جارى التحميل",
                    zeroRecords: "لا يوجد سجلات لعرضها",
                    infoFiltered: "",
                    infoEmpty: 'لا يوجد سجلات متاحه',
                    oPaginate: {
                        sNext: '<span class="pagination-default">التالى</span><span class="pagination-fa"><i class="fa fa-chevron-left" ></i></span>',
                        sPrevious: '<span class="pagination-default">السابق</span><span class="pagination-fa"><i class="fa fa-chevron-right" ></i></span>'
                    }

                },
                //"order": [[4, "asc"]]
                //"order": [[0, "desc"]]
            });
            $('#kt_datatable_length').css("text-align", "left");

            $('#export_print').on('click', function (e) {
                e.preventDefault();
                $('#kt_datatable').DataTable().button('.buttons-print').trigger();
            });
            $('#export_copy').on('click', function (e) {
                e.preventDefault();
                $('#kt_datatable').DataTable().button('.buttons-copy').trigger();
            });
            $('#export_excel').on('click', function (e) {
                e.preventDefault();
                $('#kt_datatable').DataTable().button('.buttons-excel').trigger();
            });
            $('#kt_datatable_search_query').on('keyup', function () {
               

                $('#kt_datatable').DataTable().search(this.value).draw();
                
            });
            //دليل الحسابات
            var dsTree = [];
            $.get("/SharedDataSources/GetAccountsTrees", { selectedTree: false,ShowAllLevel:true }, function (data) {
                accounTree.setSource(data);
            });
            accounTree = $('#accountTree').comboTree({
                source: dsTree,
                isMultiple: false,
                collapse: true,
                selected: ['@Model.AccountTreeId']
                //selectableLastNode: true
            });
            accounTree.onChange(function () {
                if (accounTree.getSelectedIds() != null) {
                    $('#AccountTreeId').val(accounTree.getSelectedIds()[0]);
                }
            });
            // ============== نهاية شجرة الحسابات

        });

        //طباعه التقرير
        function printReport() {
            var accountId = $("#AccountTreeId").val();
            console.log(accountId);
            if (accountId === '' || accountId == null) {
                toastr.error('تأكد من اختيار الحساب', ''); return false;
            }
            var chekLang = $("#ShowRptEn").is('checked');
            console.log(chekLang);

            var lang = "ar";
            if (chekLang == false) { //arabic
                lang = "ar";
            } else {

                lang = "en";
            }

            var dFrom = $("#dtFrom").val();
            var dTo = $("#dtTo").val();
            var reportStatus = $("#ReportStatus").val();
            console.log(dFrom);
            console.log(dTo);
            console.log(reportStatus);

            var aEl = document.createElement('a');
            aEl.href = "/PrintInvoices/PrintRptAccountStatements/?accountId=" + accountId + "&dFrom=" + dFrom + "&dTo=" + dTo + "&lang=ar&reportStatus=" + reportStatus;
            aEl.target = "_blank";
            aEl.click();
            }
    </script>
}







