
@model ERP.DAL.AccountsTree
@using ERP.DAL
@{
    ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn = string.Empty, icon = string.Empty, icon2 = string.Empty;
    if (Model.Id == Guid.Empty)
    {
        title = "اضافة حساب جديد";
        btn = "اضافة";
        icon = "fa fa-plus-circle m-1";
    }
    else
    {
        title = "تعديل حساب ";
        btn = "تعديل";
        icon = "fa fa-edit m-1";
        icon2 = "fa-solid fa-caret-left m-1";
    }
}

@section PageTitle1{شجرة الحسابات}
@section PageTitle2{@title }
@section Button1{ادارة حساب}
@section Button1Link{/AccountsTrees/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">
                            @title
                        </h4>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("CreateEdit", "AccountsTrees", FormMethod.Post, new { id = "form1" }))
            {
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>نوع الحساب</label>
                                @Html.DropDownList("TypeId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select  " })
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.ParentId)
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>رقم الحساب</label>
                                @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control", @type = "number", @step = "0" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label> الحساب الرئيسي <i style="color: green;font-size:10px;">تترك فارغة فى حالة ادخال الحسابات الاولية للشجرة</i></label>
                                <input name="parent" type="text" class="form-control" id="parent" autocomplete="off" />
                                @*<input type="hidden" class="form-control" id="ParentId" />*@
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label>اسم الحساب باللغة العربية</label>
                                @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label>اسم الحساب باللغة الانجليزية</label>
                                @Html.TextBoxFor(m => m.AccountNameEn, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="alert alert alert-success" role="alert">
                                <h5>تعليمات وارشادات </h5>
                                <hr />
                                <p>
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-success">عدم تكرار اسم او رقم الحساب</li>
                                        <li class="list-group-item list-group-item-success">يرجى اضافة الموردين من شاشة تسجيل الموردين</li>
                                        <li class="list-group-item list-group-item-success">يرجى اضافة العملاء من شاشة تسجيل العملاء</li>
                                        <li class="list-group-item list-group-item-success">يرجى اضافة المصروفات من شاشة تسجيل المصروفات</li>
                                        <li class="list-group-item list-group-item-success">يرجى اضافة الخزن الفرعية من شاشة تسجيل الخزن</li>
                                        <li class="list-group-item list-group-item-success">يرجى اضافة حسابات البنوك من شاشة تسجيل حسابات البنوك</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
              
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12" style="text-align:left;">
                            @*<input type="button" onclick="AccountsTree_Module.SubmitForm(this);" value="@btn" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px" />*@
                            <a href="javascript:void(0);" onclick="AccountsTree_Module.SubmitForm(this);" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px"><i class="@icon"></i>@btn</a>
                            @if (Model.Id != Guid.Empty)
                            {
                                <a href="/AccountsTrees/Index" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="@icon2"></i>عودة</a>
                            }
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
    @if (Model.Id == Guid.Empty && ViewBag.LastRow != null)
    {
        var modl = ViewBag.LastRow as AccountsTree;

        <div class="col-lg-12">
            <div class="card card-custom gutter-b">
                <div class="card-header din-bold">
                    <h4>اخر بيان تم اضافته</h4>
                </div>
                <div class="card-body">
                    <!--begin::Example-->
                    <div class="example mb-10 din-bold">
                        <table class="table table-hover mb-6">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">رقم الحساب</th>
                                    <th scope="col">اسم الحساب</th>
                                    <th scope="col"> الحساب الرئيسى</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>@modl.AccountNumber</td>
                                    <td>@modl.AccountName</td>
                                    @{
                                            if (modl.AccountsTreeParent != null)
                                            {
                                                <td>@modl.AccountsTreeParent.AccountName</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end::Example-->
                </div>
            </div>
        </div>

    }
</div>

@section Scripts
{
    <script src="~/Assets/JSCustom/AccountsTree.js"></script>
    <script>
        var tree;
        $(document).ready(function () {
            $.get("/SharedDataSources/GetAccountsTrees", {selectedTree:true}, function (data) {
                tree.setSource(data);
            })
            var ds = [];
            tree=$('#parent').comboTree({
                source: ds,
                isMultiple: false,
                collapse: true,
                selected:['@Model.ParentId']
                //selectableLastNode: true

            });
            //parent.destroy();

            //parent.setSource(data);
            tree.onChange(function () {
                if (tree.getSelectedIds()!=null) {
                    $('#ParentId').val(tree.getSelectedIds()[0]);

                }
            });


        })
    </script>
}
                         


