
@model ERP.DAL.ProductionOrder
@using ERP.DAL
@{
    ViewBag.Title = "RegisterOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageTitle1{أوامر الانتاج}
@section PageTitle2{انشاء أمر انتاج منتج }
@section Button1{ادارة أوامر الانتاج}
@section Button1Link{/ProductionOrders/Index}
@section icon{<i class="fa fa-cog m-1"></i>}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div id="basic-pills-wizard" class="twitter-bs-wizard">
                <div class="card-header din-bold">
                    <ul class="twitter-bs-wizard-nav">
                        <li class="nav-item">
                            <a href="#seller-details" class="nav-link" data-toggle="tab">
                                <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Seller Details">
                                    <i class="bx bx-list-ul"></i>
                                </div>
                                <h4 style="margin-top:30px;">
                                    1. البيانات الاساسية  للمنتج النهائى
                                </h4>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#seller-details2" class="nav-link" data-toggle="tab">
                                <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Seller Details">
                                    <i class="bx bx-list-ul"></i>
                                </div>
                                <h4 style="margin-top:30px;">
                                    2. توليفة المنتج النهائى
                                </h4>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#seller-details3" class="nav-link" data-toggle="tab">
                                <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Seller Details">
                                    <i class="bx bx-list-ul"></i>
                                </div>
                                <h4 style="margin-top:30px;">
                                    3. تكاليف الإنتاج
                                </h4>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body din-bold">

                    @using (Html.BeginForm("RegisterOrder", "ProductionOrders", FormMethod.Post, htmlAttributes: new { id = "kt_form" }))
                    {
                        <!--begin::Wizard Step 1 البيانات الاساسية للمنتج النهائى-->
                    <div class="tab-content twitter-bs-wizard-tab-content">
                        <div class="tab-pane" id="seller-details">
                            <div class="text-center mb-4">
                                <h5>بيانات المنتج النهائى</h5>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Select-->
                                    <div class="form-group required">
                                        <label>الفرع</label>
                                        @Html.DropDownList("BranchId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med", @onchange = "ProductionOrder_Module.getStoresOnBranchChanged()" })
                                        <span class="form-text text-muted">اختر الفرع </span>
                                    </div>
                                    <!--end::Select-->
                                </div>
                                <div class="col-xl-6">
                                    <!--begin::Select-->
                                    <div class="form-group required">
                                        <label>مخزن التصنيع (المنتج النهائى)</label>
                                        <input type="text" value="@ViewBag.ProductionStoreName" disabled class="form-control din-med" />
                                        @Html.HiddenFor(m => m.ProductionStoreId)
                                        @*@Html.DropDownList("ProductionStoreId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med", @disabled = "disabled" })*@
                                        @*<span class="form-text text-muted">اختر مخزن </span>*@
                                    </div>
                                    <!--end::Select-->
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group required">
                                        <label> المجموعة الاساسية</label>
                                        <input name="groupBasic" type="text" class="form-control form-control-solid form-control-lg" id="groupBasic" autocomplete="off" placeholder="اختر عنصر من القائمة" />
                                        <span class="form-text text-muted">اختر مجموعة</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group required">
                                        <label>المنتج النهائى</label>
                                        @Html.DropDownList("FinalItemId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2 din-med w-100", @onchange = "removeClassInValid()" })
                                        <span class="form-text text-muted">اختر الصنف</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <label>لون المنتج</label>
                                    <div class="input-group">

                                        <select id="OrderColorId" name="OrderColorId" class="form-control form-control-solid form-control-lg" onchange="onColorChange();"></select>
                                        <div class="input-group-prepend">
                                            <span id="SelectedColor"></span>
                                        </div>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group required">
                                        <label>الكمية</label>
                                        <input type="number" class="form-control form-control-solid form-control-lg" name="OrderQuantity" id="OrderQuantity" placeholder="الكمية المطلوبة" value="0" min="1" onchange="ProductionOrder_Module.onOrderQuantityChange();" />
                                        <span class="form-text text-muted">ادخل كمية الصنف</span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>تاريخ امر الانتاج</label>
                                        @Html.TextBoxFor(m => m.ProductionOrderDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control form-control-solid form-control-lg", @placeholder = "ادخل تاريخ امر الانتاج", @type = "date" })
                                        @*<input type="date" class="form-control form-control-solid form-control-lg" name="ProductionOrderDate" id="ProductionOrderDate" placeholder="ادخل تاريخ امر الانتاج" />*@
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>ملاحظات</label>
                                        @Html.TextBoxFor(m => m.Notes, htmlAttributes: new { @class = "form-control", @placeholder = "ادخل ملاحظات امر الانتاج" })
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <ul class="pager wizard twitter-bs-wizard-pager-link">
                                <li class="next" style="margin-bottom:10px;">
                                    <a href="javascript: void(0);" class="btn btn-primary">
                                        التالي <i class="bx bx-chevron-left ms-1"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end::Wizard Step 1-->
                        <!--begin::Wizard Step 2 بدلات واضافات الموظف-->
                        <div class="tab-pane" id="seller-details2">
                            <div class="text-center mb-4">
                                <h5>
                                    المواد الخام
                                </h5>
                            </div>
                            <div class="form-group">
                                <label>الاصناف الخام</label>
                                @Html.Hidden("isFirstInit", "0")
                                <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_datatableItemProduction">
                                    <thead>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 text-center">
                                    <div class="form-group">
                                        <h4 class="alert alert-success">اضافة مواد خام لتكوين المنتج النهائى</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group required">
                                        <label> المجموعة الاساسية</label>
                                        <input name="groupBasicMaterial" type="text" class="form-control form-control-solid form-control-lg" id="groupBasicMaterial" autocomplete="off" placeholder="اختر عنصر من القائمة" />
                                        <span class="form-text text-muted">اختر مجموعة</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group required">
                                        <label>الصنف</label>
                                        @Html.DropDownList("ItemId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2 din-med w-100" })
                                        <span class="form-text text-muted">اختر الصنف</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Select-->
                                    <div class="form-group">
                                        <label>مخزن المواد الخام</label>
                                        @Html.DropDownList("StoreId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2 din-med", @onchange = "ProductionOrder_Module.getBalanceOnStoreChange();" })
                                        <span class="form-text text-muted">اختر مخزن </span>
                                    </div>
                                    <!--end::Select-->
                                </div>
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>الكمية</label>
                                        <input type="number" class="form-control form-control-solid form-control-lg" name="Quantity" id="Quantity" placeholder="الكمية" value="0" onchange="ProductionOrder_Module.onQuantityChangeDiffBalance();" />
                                        <span class="form-text text-muted">ادخل كمية الصنف</span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Select-->
                                    <div class="form-group">
                                        <label>احتساب تكلفة المنتج</label>
                                        @Html.DropDownList("ItemCostCalculateId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med", @onchange = "ProductionOrder_Module.getPriceOnItemCostCalculateChange()" })
                                        <span class="form-text text-muted">اختر طريقة احتساب تكلفة المنتج </span>
                                    </div>
                                    <!--end::Select-->
                                </div>
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>تكلفة المنتج</label>
                                        <input type="number" class="form-control form-control-solid form-control-lg" name="ItemCost" id="ItemCost" placeholder="" value="0" readonly />
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-between flex-column font-size-lg">
                                    <div class="d-flex flex-column text-md-center">
                                        <span class="font-size-lg font-weight-bolder mb-1">رصيد المخزن</span>
                                        <span class="font-size-h2 font-weight-boldest text-danger mb-1" id="balanceCurrentStore">0</span>
                                        @*<span>Taxes Included</span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>.</label>
                                        <button type="button" onclick="ProductionOrder_Module.addItemMaterials();" class="btn btn-primary font-weight-bold  px-15 py-4 w-100">اضافة منتج خام</button>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label>الاصناف المسجلة</label>
                                <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_datatableItemMaterial">
                                    <thead>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>

                            <ul class="pager wizard twitter-bs-wizard-pager-link">
                                <li class="previous">
                                    <a href="javascript: void(0);" class="btn btn-primary">
                                        <i class="bx bx-chevron-right me-1"></i> السابق
                                    </a>
                                </li>
                                <li class="next">
                                    <a href="javascript: void(0);" class="btn btn-primary">
                                        التالي <i class="bx bx-chevron-left ms-1"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end::Wizard Step 2-->
                        <!--begin::Wizard Step 3 ادخال خصومات الموظف-->
                        <div class="tab-pane" id="seller-details3">
                            <div class="text-center mb-4">
                                <h5>
                                    تسجيل تكالبف الانتاج (ان وجدت)
                                </h5>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group required">
                                        <label>مسمى التكلفة</label>
                                        @Html.DropDownList("ExpenseTypeId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med" })
                                        <span class="form-text text-muted">اختر مسمى التكلفة</span>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>قيمة التكلفة</label>
                                        <input type="number" class="form-control form-control-solid form-control-lg" name="ExpenseAmount" id="ExpenseAmount" placeholder="قيمة التكلفة" value="0" />
                                        <span class="form-text text-muted">ادخل قيمة التكلفة</span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>ملاحظات</label>
                                        <textarea class="form-control din-med" name="Note" id="Note" placeholder="ملاحظات التكلفة"></textarea>
                                        <span class="form-text text-muted">ادخل ملاحظة على التكلفة</span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>.</label>
                                        <button type="button" onclick="ProductionOrder_Module.addProductionOrderExpenses();" class="btn btn-primary font-weight-bold  px-15 py-4 w-100">اضافة تكلفة</button>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label>التكاليف المسجلة</label>
                                <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_dtProductionOrderExpenses">
                                    <thead>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-between flex-column font-size-lg">
                                    <div class="d-flex flex-column text-md-center">
                                        <span class="font-size-lg font-weight-bolder mb-1">اجمالى التكاليف</span>
                                        <span class="font-size-h2 font-weight-boldest text-danger mb-1" id="TotalExpenses">0</span>
                                        @*<span>Taxes Included</span>*@
                                    </div>
                                </div>
                            </div>
                            <ul class="pager wizard twitter-bs-wizard-pager-link" style="margin-bottom:10px;">
                                <li class="previous">
                                    <a href="javascript: void(0);" class="btn btn-primary">
                                        <i class="bx bx-chevron-right me-1"></i> السابق
                                    </a>
                                </li>
                                <li class="next">
                                    <button type="button" class="btn btn-success " onclick="ProductionOrder_Module.SubmitForm(this,false)" data-wizard-type="action-submit">
                                        <span><i class="fa fa-plus m-1"></i></span>حفظ العملية
                                    </button>


                                </li>
                            </ul>  <!--end::Input-->
                        </div>
                       
                        </div>
                        <!--end::Wizard Actions-->
                        }
                        <!--end::Wizard Form-->
                    </div>
                    </div>
            <!--end::Wizard Body-->
        </div>
    </div>
    <!--end::Wizard-->
</div>       
@section Scripts
{
    <script src="~/Assets/JSCustom/ProductionOrderFisrt.js"></script>
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/Assets/JSCustom/JSMetronic/wizard-ProductionOrder.js"></script>
    <!--end::Page Scripts-->
    <script type="text/javascript">
        function removeClassInValid() {
            if ($("#FinalItemId").val() > 0) {
                $(".fv-plugins-message-container").hide()
            };
            if ($("#OrderQuantity").val() > 0) {
                $(".fv-plugins-message-container").hide()
            };
        }
        $(document).ready(function () {
            ProductionOrder_Module.initItemProduction();
            ProductionOrder_Module.initItemMaterial();
            ProductionOrder_Module.initProductionOrderExpense();


            $.get("/SharedDataSources/BindProductionOrderColors", null, function (data) {
                $("#OrderColorId").empty();
                $("#OrderColorId").append("<option value=>اختر عنصر من القائمة</option>");
                $.each(data, function (index, row) {
                    $("#OrderColorId").append("<option value='" + row.Id + "' style='background-color:" + row.ColorHEX + "'>" + row.Name + "</option>");
                });

            });



        });
        function onColorChange() {
            var bgColor = $("#OrderColorId option:selected").css("background-color");
            var hexColor;
            if (bgColor.search("rgb") == -1) {
                hexColor = bgColor;
            }
            else {
                bgColor = bgColor.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
                function hex(x) {
                    return ("0" + parseInt(x).toString(16)).slice(-2);
                }
                hexColor = "#" + hex(bgColor[1]) + hex(bgColor[2]) + hex(bgColor[3]);
            }
            $("#SelectedColor").html("<div style='background-color:" +
                hexColor + ";width:30px;height:40px'></div>.");
        }
    </script>
    <script>
        var treeBasic;
        $(document).ready(function () {
            //المجموعة الاساسية للمنتج النهائى
            var dsBasic = [];
            $.get("/SharedDataSources/onGroupTypeChange", { id: 1 }, function (data) {
                treeBasic.setSource(data);
            });

            treeBasic = $('#groupBasic').comboTree({
                source: dsBasic,
                isMultiple: false,
                collapse: true,
                selected: []
                //selectableLastNode: true

            });
            treeBasic.onChange(function () {
                if (treeBasic.getSelectedIds() != null) {
                    var currentSelected = treeBasic.getSelectedIds()[0];

                    $.get("/SharedDataSources/ItemsOnGroupChanged", { id: currentSelected }, function (data) {
                        $("#FinalItemId").empty();
                        $("#FinalItemId").append("<option value=>اختر عنصر من القائمة</option>");
                        $.each(data, function (index, row) {
                            $("#FinalItemId").append("<option value='" + row.Id + "'>" + row.Name + "</option>");
                        });
                    });

                }
            });
            // ============== نهاية المجموعة الاساسية

            //المجموعة الاساسية للمنتج الخام
            var dsBasicMaterial = [];
            $.get("/SharedDataSources/onGroupTypeChange", { id: 1 }, function (data) {
                treeBasicMaterial.setSource(data);
            });

            treeBasicMaterial = $('#groupBasicMaterial').comboTree({
                source: dsBasicMaterial,
                isMultiple: false,
                collapse: true,
                selected: []
                //selectableLastNode: true

            });
            treeBasicMaterial.onChange(function () {
                if (treeBasicMaterial.getSelectedIds() != null) {
                    var currentSelected = treeBasicMaterial.getSelectedIds()[0];

                    $.get("/SharedDataSources/ItemsOnGroupChanged", { id: currentSelected }, function (data) {
                        $("#ItemId").empty();
                        $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                        $.each(data, function (index, row) {
                            $("#ItemId").append("<option value='" + row.Id + "'>" + row.Name + "</option>");
                        });
                    });

                }
            });
            // ============== نهاية المجموعة الاساسية

        });
    </script>
    @if (ViewBag.Msg != null)
    {

        <script type="text/javascript">
    $(document).ready(function () {
          // رسالة خطأ عند عدم تحديد المخزن التصنيع الداخلى من شاشة الاعدادات العامة
        toastr.error('@ViewBag.Msg', '');
            });
        </script>
    }
}
