
@model ERP.Web.ViewModels.VoucherVM
@using ERP.DAL
@{ ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn = string.Empty, icon = string.Empty, icon2 = string.Empty;

        title = "تسجيل سند قبض بنكي ";
        btn = "اضافة";
        icon = "fa fa-plus-circle m-1";
    

    }
@section PageTitle1{سندات قبض بنكي}
@section PageTitle2{@title }
@section Button1{ادارة سندات قبض البنكية}
@section Button1Link{/VoucherBankReceipts/Index}
@section icon{<i class="fa fa-cog m-1"></i>}
<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold"> @title </h4>
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("SaveCopied", "VoucherBankReceipts", FormMethod.Post, new { id = "form1" }))
            {
                <div class="card-body">
                    <div class="row bg-soft-success">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>الفرع</label>
                                @if (ViewBag.Branchcount > 1)
                                {
                                    @Html.DropDownList("BranchId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select  " })

                                }
                                else
                                {
                                    @Html.DropDownList("BranchId", null, htmlAttributes: new { @class = "form-select  " })

                                }
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label>تاريخ المعاملة</label>
                                @Html.TextBoxFor(m => m.VoucherDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label>الحساب المدين</label>
                                @Html.DropDownList("AccountTreeId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med", @onchange = "VoucherReceipt_Module.getBalanceAccountChanged();" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>الرصيد</label>
                                @Html.TextBox("AccountBalance", null, htmlAttributes: new { @class = "form-control din-med", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>بيان عام على القيد</label>
                                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
                            </div>
                        </div>

                    </div>
                    <hr />
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label>الحساب الدائن</label>
                                <input style="text-align:right;" name="accountTreeTo" type="text" class="form-control alert alert-success" id="accountTreeTo" autocomplete="off" />
                                @Html.HiddenFor(model => model.SelectedAccountTreeId)
                            </div>
                        </div>
                        <div class="col-lg-6 required">
                            <div class="form-group required">
                                <label>المبلغ</label>
                                @Html.TextBoxFor(m => m.InsertedAmount, new { @class = "form-control", @type = "number", @step = "0" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label> البيان</label>
                                @Html.TextAreaFor(m => m.InsertedNotes, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group ">
                                <label>.</label>
                                <input style="text-align:center;" type="button" onclick="VoucherReceipt_Module.AddVoucherTransaction()" value="اضافة القيد" class="btn btn-primary font-weight-bold w-100" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group ">
                                <label>الحسابات المدخلة</label>
                                <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_datatableVoucherDetails">
                                    <thead>

                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="5" style="text-align:right">Total:</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12">
                            <a href="javascript:void(0);" onclick="VoucherReceipt_Module.SubmitForm(this,false);" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold "><i class="@icon"></i>@btn</a>
                            <a href="javascript:void(0);" onclick="VoucherReceipt_Module.SubmitForm(this,true);" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold "><i class="@icon"></i>حفظ سند القبض واعتماده</a>
                            <a href="/GeneralRecords/Index" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fa-solid fa-caret-left m-1"></i>عودة</a>
                        </div>
                    </div>
                </div>}

        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Assets/JSCustom/VoucherBankReceipt.js"></script>
    <script>
        var accounTreeFrom;
        $(document).ready(function () {
            VoucherReceipt_Module.initDetailsDT();
            //دليل الحسابات
            var dsTree = [];
            $.get("/SharedDataSources/GetAccountsTrees", { selectedTree: false, showAllLevel: true }, function (data) {
                accounTree.setSource(data);
            });

            accounTree = $('#accountTreeTo').comboTree({
                source: dsTree,
                isMultiple: false,
                collapse: true,
                //selected: ['@Model.AccountTreeId']
                //selectableLastNode: true

            });
            accounTree.onChange(function () {
                if (accounTree.getSelectedIds() != null) {
                    $('#SelectedAccountTreeId').val(accounTree.getSelectedIds()[0]);
                }
            });
            // ============== نهاية شجرة الحسابات

        });
    </script>
}