

@model ERP.DAL.Cheque
@using ERP.DAL

@{ ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn = string.Empty, icon = string.Empty;
    string showDiv = "none";

    title = "تسجيل عملية استلام شيك من عميل";
    btn = "اضافة";
    icon = "fa fa-plus-circle m-1"; }

@section PageTitle1{استلام شيك من عميل}
@section PageTitle2{@title }
@section Button1{ادارة استلام شيك من عميل}
@section Button1Link{/SaleMenCustomerCheques/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

@{ if (ViewBag.ErrorMsg == null)
    {
<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">@title</h4>
                    </div>
                </div>
            </div>
                @using (Html.BeginForm("CreateEdit", "SaleMenCustomerCheques", FormMethod.Post, new { id = "form1" }))
                {
<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group required">
                <label>فئة العملاء</label>
                @Html.DropDownList("PersonCategoryId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med", @onchange = "SaleMenCustomerCheque_Module.getCustomerOnCategoryChange();" })
                @Html.HiddenFor(model => model.Id)
                <input type="hidden" id="SaleMenEmployeeId" name="SaleMenEmployeeId" value="@ViewBag.SaleMenEmployeeId" />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group required">
                <label>اسم العميل</label>
                @Html.DropDownList("CustomerId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2 din-med" })
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group required">
                <label>المبلغ</label>
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @type = "number" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>رقم فاتورة البيع (ان وجدت) </label>
                @Html.TextBoxFor(m => m.InvoiceId, htmlAttributes: new { @class = "form-control din-med", @type = "number" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group required">
                <label>رقم الشيك</label>
                @Html.TextBoxFor(m => m.CheckNumber, htmlAttributes: new { @class = "form-control din-med", @style = "text-align:right;" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group required">
                <label>تاريخ الاصدار</label>
                @Html.TextBoxFor(m => m.CheckDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control din-med", @type = "date" })
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group ">
                <label>البيان</label>
                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12" style="text-align:left;">
                                @*<input type="button" onclick="SaleMenCustomerCheque_Module.SubmitForm(this);" value="@btn" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px" />*@
                                <a href="javascript:void(0);" onclick="SaleMenCustomerCheque_Module.SubmitForm(this);" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px"><i class="@icon"></i>@btn</a>
                                @if (Model.Id != Guid.Empty)
                                {
            <a href="/SaleMenCustomerCheques/Index" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fa-solid fa-caret-left m-1"></i>عودة</a>}
                            </div>
                        </div>
                    </div>}
            </div>
        </div>
    </div> } }
@section Scripts
{
    @if (ViewBag.ErrorMsg != null)
    {
<script>
            $(document).ready(function () {
                toastr.error('@ViewBag.ErrorMsg', '')
            });
</script>}
    <script src="~/Assets/JSCustom/SaleMenCustomerCheque.js"></script>
}


