
@model ERP.Web.ViewModels.ItemUnitVM

@{ ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn = string.Empty, icon = string.Empty;

    title = "تسجيل وحدات الاصناف";
    btn = "تسجيل";
    icon = "fa fa-plus-circle m-1"; }


@section PageTitle1{تسجيل وحدات الاصناف}
@section PageTitle2{@title }
@section Button1{@null}
@section Button1Link{@null}
@section icon{@null}

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold"> @title</h4>
                    </div>

                </div>
            </div>
            @using (Html.BeginForm("CreateEdit", "ItemUnits", FormMethod.Post, new { id = "form1" }))
            {
<div class="card-body">

    <div class="row">
        <div class="col-lg-6 alert alert-primary">
            <div class="form-group required">
                <div>
                    <label> الوحدة</label>
                    @Html.DropDownList("UnitId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control din-med" })
                </div>
            </div>
        </div>

        <div class="col-lg-6 alert alert-primary">
            <div class="form-group required">
                <label>نوع الصنف</label>
                @Html.DropDownList("ItemtypeId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control din-med" })
            </div>
        </div>

        <div class="col-lg-4 alert alert-primary">
            <div class="form-group required">
                <label>الكمية<span class="alert alert-danger">من الوحدة الاساسية</span></label>
                @Html.TextBoxFor(m => m.GeneralQuantity, htmlAttributes: new { @class = "form-control ", @style = "text-align:right;" })
            </div>
        </div>
        <div class="col-lg-4 alert alert-primary">
            <div class="form-group required">
                <label>السعر</label>
                @Html.TextBoxFor(m => m.GeneralSellPrice, htmlAttributes: new { @class = "form-control ", @style = "text-align:right;" })
            </div>
        </div>
        <div class="col-lg-4 alert alert-primary">
            <div class="form-group ">
                <label>.</label>
                <input  style = "text-align:center;" type="submit" @*onclick="Item_Module.SubmitFormTreePrice()"*@ value="بحث" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100 form-control" />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group mb-0 w-100">

                <div class="input-icon input-icon-right">
                    <label>بحث</label>
                    <div class="input-group">
                        <input type="text" class="form-control" style="text-align:start;" id="kt_datatable_search_query" placeholder="ادخل كلمة البحث">
                        <div class="input-group-text"><i class="bx bx-search-alt align-middle"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group ">
                <label>الاصناف <span class="badge badge-soft-warning fa-1x">يتم ترك السعر المخصص بصفر فى حالة عدم الرغبة فى تسجيله</span></label>
                <table class="table table-separate table-head-custom table-foot-custom table-checkable" id="kt_datatableTreePrice">
                    <thead>
                        <tr>
                            <th style="display:none;">ItemUnitId</th>
                            <th style="display:none;">ItemId</th>
                            <th style="display:none;">ItemUnitBase</th>
                            <th>اسم الصنف</th>
                            @*<th>سعر البيع الاساسى</th>*@
                            <th>سعر بيع الوحدة</th>
                            <th>الكمية</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ItemsDetails)
                        {
        <tr>
            <td class="selectedDay" style="display:none;">@item.ItemUnitId</td>
            <td style="display:none;">@item.ItemId</td>
            <td style="display:none;">@item.ItemUnitBase</td>
            <td>@item.ItemName</td>
            @*<td>@item.SellPrice</td>*@
            <td>
                <input type="text" class="form-control" value="@item.SellPriceCustome" />
            </td>
            <td>
                <input type="text" class="form-control" value="@item.Quantity" />
            </td>
        </tr>}
                    </tbody>
                    <tfoot></tfoot>
                </table>

            </div>
        </div>
    </div>
</div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12" style="text-align:left;">
                            <a href="javascript:void(0);" onclick="ItemUnit_Module.SubmitForm(this);" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px"><i class="@icon"></i>@btn</a>

                        </div>
                    </div>
                </div>}
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Assets/JSCustom/ItemUnit.js"></script>
    <script>
        $(document).ready(function () {
            ItemUnit_Module.initItemDetails();
            $('#kt_datatable_search_query').on('keyup', function () {
                $('#kt_datatableTreePrice').DataTable().search(this.value).draw();
            });
        });


    </script>
    @if (ViewBag.ErrorMsg != null)
    {
<script>
            $(document).ready(function () {
                toastr.error('@ViewBag.ErrorMsg', '');
            })
</script>}
}