@model ERP.Web.ViewModels.OrderSellVM
@using ERP.Web.Utilites
@using ERP.Web.DataTablesDS

@{ ViewBag.Title = "RegisterOrderComplex";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string title, btn = string.Empty, icon = string.Empty;

    title = "امر انتاج مجمع";
    btn = "تسجيل امر انتاج مجمع";
    icon = "fa fa-add m-1";
    var generalAccount = Lookups.GeneralExpenses;
}


@section PageTitle1{تجهيز امر انتاج مجمع}
@section PageTitle2{@title }
@section Button1{ادارة اوامر انتاج }
@section Button1Link{/ProductionOrders/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

@using (Html.BeginForm("RegisterOrderComplex", "ProductionOrders", FormMethod.Post, new { id = "form1" }))
{
    <div class="row">
        <div class="col-12">
            <div class="card din-bold">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class=" din-bold">@title </h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>الفرع</label>
                                @Html.DropDownList("BranchId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select  din-med", @onchange = "ProductionOrder_Module.getStoresBranchChanged()" })
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.BranchId)
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label>تاريخ امر الانتاج</label>
                                @Html.TextBoxFor(m => m.ProductionOrderDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control din-med", @placeholder = "ادخل تاريخ امر الانتاج", @type = "date" })
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <!--begin::Select-->
                            <div class="form-group">
                                <label>مخزن تحت التصنيع)</label>
                                @Html.DropDownList("ProductionUnderStoreId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control din-med" })
                            </div>
                            <!--end::Select-->
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>مخزن التصنيع (المنتج النهائى)</label>
                                @Html.DropDownList("ProductionStoreId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control din-med" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>خط الانتاج</label>
                                @Html.DropDownList("ProductionLineId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2 din-med" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>عدد ساعات امر الانتاج</label>
                                @Html.TextBoxFor(m => m.ProductionOrderHours, htmlAttributes: new { @class = "form-control din-med", @type = "number" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>ملاحظات</label>
                                @Html.TextAreaFor(m => m.Notes, htmlAttributes: new { @class = "form-control", @placeholder = "ادخل ملاحظات امر الانتاج" })
                            </div>
                        </div>

                    </div>
                    <hr />
                    <h3>اضافة التوليفات</h3>
                    <hr />
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label> التوليفة</label>
                                @Html.DropDownList("ItemProductionId", null, htmlAttributes: new { @class = "form-select din-med select2" })                                @Html.HiddenFor(m => m.ExpenseTypeId)
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>الكمية</label>
                                @Html.TextBoxFor(m => m.QuantityItemProduction, new { @class = "form-control", @type = "number" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>.</label>
                                <button type="submit" name="actionType" value="addProductionItem" @*onclick="ProductionOrder_Module.addProductionOrderExpenses();"*@ class="btn btn-primary font-weight-bold  px-15 w-100">اضافة توليفة</button>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>التوليفات المسجلة</label>
                                <table class="table table-bordered dt-responsive  nowrap w-100" id="ProductionOrderItem">
                                    <thead>
                                        <tr>
                                            <td>الكمية</td>
                                            <td>التوليفة</td>
                                            <td>حذف</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.ItemProductionDetails.Count; i++)
                                        {
                                            <tr>
                                                @*<td>@Model.ItemDetails[i].ItemName</td>*@
                                                @Html.HiddenFor(m => m.ItemProductionDetails[i].ItemProductionId)
                                                @Html.HiddenFor(m => m.ItemProductionDetails[i].Quantity)
                                                @Html.HiddenFor(m => m.ItemProductionDetails[i].ItemProductionName)
                                                <td>@Model.ItemProductionDetails[i].Quantity </td>
                                                <td>@Model.ItemProductionDetails[i].ItemProductionName </td>
                                                <td>
                                                    <div class="btn-group">
                                                        @*<a href="javascript:;" onclick=ProductionOrder_Module.deleteRowItemIn() class="btn btn-sm btn-clean btn-icUrln deleteIcon" title="حذف"><i class="fa fa-trash"></i></a>*@
                                                        <button type="submit" name="actionType" value="deletItemProduction" onclick="deletItemProduction('@Model.ItemProductionDetails[i].ItemProductionId');" class="btn btn-primary font-weight-bold ">حذف</button>

                                                    </div>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                                @Html.HiddenFor(m => m.ItemProductionDeleted)

                                <script>
                                    function deletItemProduction(id) {
                                        $("#ItemProductionDeleted").val(id);
                                    }
                                </script>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="form-group">
                            @*<label>.</label>*@
                            <!--<button type="submit" name="actionType" value="generateItemProduction"--> @*onclick="OrderSell_Module.UpdateData();"*@ <!--class="btn btn-primary font-weight-bold  px-15 w-100">انشاء اصناف التوليفات</button>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    if (Model.OrderSellItems.Any(x => x.ItemProductionOrderDetailsIn.Any()) || Model.OrderSellItems.Any(x => x.ItemProductionOrderDetailsOut.Any()))
    {
        <div class="row din-bold">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">

                        <h4>بيانات التوليفة</h4>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            @for (int o = 0; o < Model.OrderSellItems.Count; o++)
                            {
                                <div class="col-xl-5">
                                    <!--begin::List Widget 2-->
                                    <div class="card bg-soft-success text-White border-success">
                                        <!--begin::Header-->
                                        <div class="card-body pt-2">

                                            <h3 class="mb-3 text-White">الصنف/الاصناف الداخلة</h3>
                                            <!--end::Header-->
                                            <!--begin::Body-->
                                            <div class="form-group">
                                                <table class="table table-bordered dt-responsive  nowrap w-100 kt_datatableItems">
                                                    <thead>
                                                        <tr>
                                                            <td>المنتج الداخل</td>
                                                            <td>الحالة</td>
                                                            <td>تكلفة المنتج</td>
                                                            <td>الكمية المطلوبة</td>
                                                            <td>الكمية المتاحة</td>
                                                            @*<td>عمليات</td>*@
                                                        </tr>

                                                    </thead>
                                                    <tbody>


                                                        @for (int i = 0; i < Model.OrderSellItems[o].ItemProductionOrderDetailsIn.Count(); i++)
                                                        {
                                                            <tr>
                                                                <td>@Model.OrderSellItems[o].ItemProductionOrderDetailsIn[i].ItemName</td>
                                                                @Html.HiddenFor(m => m.OrderSellItems[o].ItemProductionOrderDetailsIn[i].ItemProductionId)
                                                                @Html.HiddenFor(m => m.OrderSellItems[o].ItemProductionOrderDetailsIn[i].ItemId)
                                                                @Html.HiddenFor(m => m.OrderSellItems[o].ItemProductionOrderDetailsIn[i].ItemCostCalculateId)
                                                                <td>@(Model.OrderSellItems[o].ItemProductionOrderDetailsIn[i].IsAllQuantityDone ? "الرصيد يكفى" : "الرصيد لا يكفى")</td>
                                                                <td>@Model.OrderSellItems[o].ItemProductionOrderDetailsIn[i].ItemCost</td>
                                                                <td>@Model.OrderSellItems[o].ItemProductionOrderDetailsIn[i].QuantityRequired</td>
                                                                <td>@Model.OrderSellItems[o].ItemProductionOrderDetailsIn[i].QuantityAvailable</td>
                                                                @*<td>
                                                                        <div class="btn-group"><a href="javascript:;" onclick=ProductionOrder_Module.deleteRowItemIn() class="btn btn-sm btn-clean btn-icUrln deleteIcon" title="حذف"><i class="fa fa-trash"></i></a></div>
                                                                    </td>*@
                                                            </tr>
                                                        }


                                                    </tbody>
                                                    <tfoot></tfoot>
                                                </table>


                                            </div>

                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::List Widget 2-->
                                </div>
                                <div class="col-xl-2">
                                    <!--begin::List Widget 2-->
                                    <div class="card bg-soft-danger">
                                        <!--begin::Header-->
                                        <!--end::Header-->
                                        <!--begin::Body-->
                                        <div class="card-body pt-1">
                                            <!--begin::Item-->
                                            <div class="d-flex align-items-center mb-10">

                                                <!--begin::Text-->
                                                <div class="d-flex flex-column font-weight-bold">
                                                    @*<a href="#" class="text-dark text-hover-primary mb-1 font-size-lg"><<<<</a>
                                                        <span class="text-muted"></span>*@
                                                    <img src="~/Assets/media/logos/transfer-3787.png" class="h-30 align-self-end" />
                                                </div>
                                                <!--end::Text-->
                                            </div>
                                            <!--end::Item-->
                                            <!--begin::Item-->
                                            <!--end::Item-->

                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::List Widget 2-->
                                </div>
                                <div class="col-xl-5">
                                    <!--begin::List Widget 2-->
                                    <div class="card bg-soft-success text-White border-success">
                                        <!--begin::Header-->
                                        <div class="card-body pt-2">

                                            <h3 class="mb-3 text-White">الصنف/الاصناف الخارجة</h3>
                                            <!--end::Header-->
                                            <!--begin::Body-->
                                            <div class="form-group">
                                                <table class="table table-bordered dt-responsive  nowrap w-100 kt_datatableItems">
                                                    <thead>
                                                        <tr>
                                                            <td>المنتج الخارج</td>
                                                            <td>الكمية المطلوبة</td>
                                                        </tr>

                                                    </thead>
                                                    <tbody>


                                                        @for (int i = 0; i < Model.OrderSellItems[o].ItemProductionOrderDetailsOut.Count(); i++)
                                                        {
                                                            <tr>
                                                                <td>@Model.OrderSellItems[o].ItemProductionOrderDetailsOut[i].ItemName</td>
                                                                @Html.HiddenFor(m => m.OrderSellItems[o].ItemProductionOrderDetailsOut[i].ItemProductionId)
                                                                @Html.HiddenFor(m => m.OrderSellItems[o].ItemProductionOrderDetailsOut[i].ItemId)
                                                                @Html.HiddenFor(m => m.OrderSellItems[o].ItemProductionOrderDetailsOut[i].ItemCostCalculateId)
                                                                <td>@Model.OrderSellItems[o].ItemProductionOrderDetailsOut[i].QuantityRequired</td>
                                                            </tr>
                                                        }


                                                    </tbody>
                                                    <tfoot></tfoot>
                                                </table>




                                            </div>

                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::List Widget 2-->
                                </div>

                            }


                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>.</label>

                                </div>
                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>

        <div class="row din-bold">
            <div class="col-12">
                <div class="card ">
                    <div class="card-header">
                        <h4>تكاليف الانتاج</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-body">

                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group required">
                                        <label> مسمى التكلفة</label>
                                        <input style="text-align:right;" name="accountTree" placeholder="اختر مسمى التكلفة" type="text" class="form-control alert-success" id="accountTree" autocomplete="off" />
                                        @Html.HiddenFor(m => m.ExpenseTypeId)
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group required">
                                        <label>قيمة التكلفة</label>
                                        @Html.TextBoxFor(m => m.ExpenseAmount, new { @class = "form-control", @type = "number" })
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>ملاحظات</label>
                                        @Html.TextAreaFor(m => m.ExpenseNotes, new { @class = "form-control", @placeholder = "ملاحظات التكلفة" })
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>.</label>
                                        <button type="submit" name="actionType" value="addExpense" @*onclick="ProductionOrder_Module.addProductionOrderExpenses();"*@ class="btn btn-primary font-weight-bold  px-15 w-100">اضافة تكلفة</button>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>التكاليف المسجلة</label>
                                        <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_dtProductionOrderExpenses">
                                            <thead>
                                                <tr>
                                                    <td>مسمى المصروف</td>
                                                    <td>القيمة</td>
                                                    <td>حذف</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.ProductionOrderExpens.Count; i++)
                                                {
                                                    <tr>
                                                        <td>@Model.ProductionOrderExpens[i].ExpenseTypeName</td>
                                                        <td>@Model.ProductionOrderExpens[i].ExpenseAmount</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                @*<a href="javascript:;" onclick=ProductionOrder_Module.deleteRowItemIn() class="btn btn-sm btn-clean btn-icUrln deleteIcon" title="حذف"><i class="fa fa-trash"></i></a>*@
                                                                <button type="submit" name="actionType" value="deletExpense" onclick="deletExpense('@Model.ProductionOrderExpens[i].ExpenseTypeId');" class="btn btn-primary font-weight-bold ">حذف</button>

                                                            </div>

                                                        </td>
                                                        @Html.HiddenFor(m => m.ProductionOrderExpens[i].ExpenseTypeId)
                                                        @Html.HiddenFor(m => m.ProductionOrderExpens[i].ExpenseTypeName)
                                                        @Html.HiddenFor(m => m.ProductionOrderExpens[i].ExpenseAmount)
                                                        @Html.HiddenFor(m => m.ProductionOrderExpens[i].Notes)
                                                    </tr>

                                                }
                                            </tbody>
                                            <tfoot></tfoot>
                                        </table>
                                        @Html.HiddenFor(m => m.ExpenseTypeIdDeleted)

                                        <script>
                                            function deletExpense(id) {
                                                $("#ExpenseTypeIdDeleted").val(id);
                                            }
                                        </script>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="d-flex justify-content-between flex-column font-size-lg">
                                            <div class="d-flex flex-column text-md-center">
                                                <span class="font-size-lg font-weight-bolder mb-1">اجمالى التكاليف</span>
                                                <span class="font-size-h2 font-weight-boldest text-danger mb-1">@Model.ProductionOrderExpens.Sum(x => x.ExpenseAmount)</span>
                                                @*<span>Taxes Included</span>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>.</label>
                                        <button type="submit" name="actionType" value="save" @*onclick="RegisterOrderComplex_Module.SubmitForm(this);"*@ class="btn btn-primary font-weight-bold  px-15 w-100">انشاء أمــر الانتاج المجمع</button>
                                        @*<a href="javascript:void(0);" onclick="RegisterOrderComplex_Module.SubmitForm(this)" class="btn btn-primary font-weight-bold  px-15  w-100"><i class="fa fa-plus-circle m-1"></i>حفظ العملية</a>*@

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>


            </div>
        </div>

    }
}


@section Scripts
{
    <script src="~/Assets/JSCustom/ProductionOrder.js"></script>
    <script>

        $(document).ready(function () {
            //ProductionOrderComplex_Module.init();
            $.get("/SharedDataSources/BindProductionOrderColors", null, function (data) {
                $("#OrderColorId").empty();
                $("#OrderColorId").append("<option value=>اختر عنصر من القائمة</option>");
                $.each(data, function (index, row) {
                    $("#OrderColorId").append("<option value='" + row.Id + "' style='background-color:" + row.ColorHEX + "'>" + row.Name + "</option>");
                });

            });



        });
        function onColorChange() {
            var bgColor = $("#OrderColorId option:selected").css("background-color");
            var hexColor;
            if (bgColor.search("rgb") == -1) {
                hexColor = bgColor;
            }
            else {
                bgColor = bgColor.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
                function hex(x) {
                    return ("0" + parseInt(x).toString(16)).slice(-2);
                }
                hexColor = "#" + hex(bgColor[1]) + hex(bgColor[2]) + hex(bgColor[3]);
            }
            $("#SelectedColor").html("<div style='background-color:" +
                hexColor + ";width:30px;height:40px'></div>.");
        }
    </script>
    @if (ViewBag.Msg != null)
    {
        <script>
            toastr.error('@ViewBag.Msg', '');
        </script>
    }
    @if (ViewBag.MsgSuccess != null)
    {
        <script>
            toastr.success('@ViewBag.MsgSuccess', '');
            setTimeout(function () { window.location = "/ProductionOrders/Index" }, 3000);
        </script>
    }
    <script>
        var treeBasic;
        var accounTree;

        $(document).ready(function () {
            //دليل الحسابات
            var dsTree = [];
            $.get("/SharedDataSources/GetAccountsTrees", { selectedTree: false, showAllLevel: true, spcLevel: @generalAccount }, function (data) {
                accounTree.setSource(data);
            });

            accounTree = $('#accountTree').comboTree({
                source: dsTree,
                isMultiple: false,
                collapse: true,
                //selectableLastNode: true

            });
            accounTree.onChange(function () {
                if (accounTree.getSelectedIds() != null) {
                    $('#ExpenseTypeId').val(accounTree.getSelectedIds()[0]);
                }
            });
            // ============== نهاية شجرة الحسابات


                        });
    </script>
}

