@model ERP.Web.ViewModels.GeneralRecordVM

@{ ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn = string.Empty, icon = string.Empty;
    title = "اضافة قيد حر مركب";
    btn = "حفظ بدون اعتماد";
    icon = "fa fa-plus-circle m-1"; }


@section PageTitle1{القيود اليومية}
@section PageTitle2{@title }
@section Button1{ادارة قيد اليومية}
@section Button1Link{/GeneralRecords/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">@title</h4>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("CreateEdit", "GeneralRecordComplex", FormMethod.Post, new { id = "form1" }))
            {
<div class="card-body">
    <div class="row">
        <div class="col-lg-6 alert alert-success">
            <div class="form-group">
                <label>الفرع</label>
                @Html.DropDownList("BranchId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select  " })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ComplexAccountTreeId)
            </div>
        </div>
        <div class="col-lg-6 alert alert-success">
            <div class="form-group required">
                <label>تاريخ المعاملة</label>
                @Html.TextBoxFor(m => m.TransactionDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group required">
                <label>  الحساب</label>
                <input style="text-align:right;" name="accountId" type="text" class="form-control" id="accountId" autocomplete="off" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group required">
                <label>حالة الحساب</label>
                @Html.DropDownList("ComplexDebitCredit", null, htmlAttributes: new { @class = "form-control din-med" })
            </div>
        </div>
        <div class="col-lg-3 required">
            <div class="form-group required">
                <label>المبلغ</label>
                @Html.TextBoxFor(m => m.ComplexAmount, new { @class = "form-control", @type = "number", @step = "0" })
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label> البيان</label>
                @Html.TextAreaFor(m => m.ComplexNotes, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group ">
                <label>.</label>
                <input style="text-align:center;" type="button" onclick="GeneralRecord_Module.AddNewGeneralComplex()" value="اضافة القيد" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100 form-control" />
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group ">
                <label>الحسابات المدخلة</label>
                <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_datatableGenralComplex">
                    <thead>

                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4" style="text-align:right">Total:</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12">
                            <a href="javascript:void(0);" onclick="GeneralRecord_Module.SubmitFormComplex(this,false);" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold "><i class="@icon"></i>@btn</a>
                            <a href="javascript:void(0);" onclick="GeneralRecord_Module.SubmitFormComplex(this,true);" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold "><i class="@icon"></i>حفظ القيود واعتمادها</a>
                            <a href="/GeneralRecords/Index" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class= "fa-solid fa-caret-left m-1"></i>عودة</a>
                        </div>
                    </div>
                </div>}
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Assets/JSCustom/GeneralRecord.js"></script>
    <script>
        var treeFrom;
        $(document).ready(function () {
            $.get("/SharedDataSources/GetAccountsTrees", { selectedTree: false, showAllLevel:true}, function (data) {
                treeFrom.setSource(data);
            })

          //#region جريد الحسابات
            // begin first table
            //jQuery.fn.dataTable.Api.register('sum()', function () {
            //    return this.flatten().reduce(function (a, b) {
            //        if (typeof a === 'string') {
            //            a = a.replace(/[^\d.-]/g, '') * 1;
            //        }
            //        if (typeof b === 'string') {
            //            b = b.replace(/[^\d.-]/g, '') * 1;
            //        }

            //        return a + b;
            //    }, 0);
            //});
            $('#kt_datatableGenralComplex').DataTable({
                // DOM Layout settings
                "createdRow": function (row, data, dataIndex) {
                    console.log(data);;
                    if (data.IsCustRelated == true) {
                        $(row).addClass('alert alert-warning');

                    }

                    /*$(row).addClass('red');*/
                },
                dom: "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>",
                language: {
                    search: "البحث",
                    lengthMenu: "عرض _MENU_ عنصر لكل صفحة",
                    info: "العناصر من_START_ الي _END_ من اصل _TOTAL_ عنصر",
                    processing: "جارى التحميل",
                    zeroRecords: "لا يوجد سجلات لعرضها",
                    infoFiltered: "",
                    infoEmpty: 'لا يوجد سجلات متاحه',
                },

                ajax: {
                    url: '/GeneralRecordComplex/GetDSGenaralComplex',
                    type: 'GET',

                },
                columns: [
                    { data: 'Id', title: 'م', visible: false },
                    { data: 'ComplexDebitCredit', visible: false },
                    { data: 'ComplexDebitName', title: 'مدين' },
                    { data: 'ComplexCreditName', title: 'دائن' },
                    { data: 'ComplexAccountTreeName', title: 'الحساب' },
                    { data: 'ComplexAccountTreeNum', title: 'رقم الحساب' },
                    { data: 'ComplexNotes', title: 'البيان' },
                    { data: 'Actions', responsivePriority: -1 },

                ],

                columnDefs: [
                    {
                        targets: 0,
                        title: 'م',
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        },
                    },
                    {
                        targets: -1,
                        title: 'عمليات',
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '\
							<div class="btn-group">\
							<a href="javascript:;" onclick=GeneralRecord_Module.deleteRowComplex('+ row.Id + ')  class="btn btn-sm btn-clean btn-icUrln deleteIcon" title="حذف">\
								<i class="fas fa-trash"></i>\
							</a></div>\
						';
                        },
                    }

                ],
                drawCallback: function () {
                    var html = ' <tr><th colspan ="2" style= "text-align:center" ><div class="row alert alert-success"><label>اجمالى المدين : ';
                    var api = this.api();
                    var balanceStatusTxt = '';
                    var debit = api.column(2).data().sum();
                    var credit = api.column(3).data().sum();
                    var balance = Number.parseFloat(debit) - Number.parseFloat(credit);
                    if (balance > 0) {
                        balanceStatusTxt = 'الرصيد مدين : ' + balance;
                    } else
                        if (balance < 0) {
                            balanceStatusTxt = 'الرصيد دائن : ' + balance;
                        } else {
                            balanceStatusTxt = 'الرصيد : 0';
                        }
                    $(api.table().footer()).html(html + debit + '</label></div></th> <th colspan ="2" style= "text-align:center" ><div class="row alert alert-success"><label>' + balanceStatusTxt + '</label ></div ></th ><th colspan ="3" style= "text-align:center" ><div class="row alert alert-success"><label>اجمالى الدائن :' + api.column(3, { page: 'current' }).data().sum() + '</label ></div ></th > </tr>');
                },

                "order": [[0, "asc"]]
                //"order": [[0, "desc"]]

            });



            //#endregion
            //  الحساب
            var dsFrom = [];
            treeFrom = $('#accountId').comboTree({
                source: dsFrom,
                isMultiple: false,
                collapse: true,
                selected:['@Model.ComplexAccountTreeId']
                //selectableLastNode: true

            });
            treeFrom.onChange(function () {
                if (treeFrom.getSelectedIds()!=null) {
                    $('#ComplexAccountTreeId').val(treeFrom.getSelectedIds()[0]);

                }
            });



        })

    </script>
}



