
@{
    ViewBag.Title = "NewDamageInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageTitle1{فواتير الهالك}
@section PageTitle2{بحث}
@section Button1{ادارة فاتورة هالك}
@section Button1Link{/DamageInvoices/Index}
@section icon{<i class="fas fa-cog m-1"></i>}


<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">تسجيل فاتورة هالك</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group mb-0 w-100">
                            <div class="input-icon input-icon-right">
                                <label>بحث</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" style="text-align:start;" id="kt_datatable_search_query" placeholder="ادخل كلمة البحث">
                                    <div class="input-group-text">
                                        <i class="bx bx-search-alt align-middle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div>
                                <label> كود الصنف</label>
                                @Html.TextBox("ItemCode", null, htmlAttributes: new { @class = "form-control din-med" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div>
                                <label> باركود الصنف</label>
                                @Html.TextBox("BarCode", null, htmlAttributes: new { @class = "form-control din-med" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div>
                                <label> المجموعة الاساسية</label>
                                <input name="groupBasic" type="text" class="form-control" id="groupBasic" autocomplete="off" />
                                <input type="hidden" id="groupId" />
                                <input type="hidden" id="isFirstInitPage" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div>
                                <label> نوع المجموعة</label>
                                @Html.DropDownList("ItemtypeId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med", @onchange = "onItemTypeChange()" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div>
                                <label> الصنف</label>
                                @Html.DropDownList("ItemId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div>
                                <label> الفرع</label>
                                @Html.DropDownList("BranchId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med", @onchange = "onBranchChange();" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group required">
                            <div>
                                <label> المخزن</label>
                                @Html.DropDownList("StoreId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div>
                                <label> .</label>
                                <a href="javascript:void(0);" onclick="searchData();" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100">بحث<i class="bx bx-search-alt m-1"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12">
                    <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_dtItemDetails">
                        <thead>
                        </thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div>
                                <label>ملاحظات</label>
                                @Html.TextArea("Notes", htmlAttributes: new { @class = "form-control din-med" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div>
                                <label>احتساب تكلفة المنتج</label>
                                @Html.DropDownList("ItemCostCalculateId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div>
                                <label>تاريخ العملية</label>
                                @Html.TextBox("InvoiceDate", DateTime.Now, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control din-med", @type = "date" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div>
                                <label><span class="alert alert-danger">سيتم حفظ الاصناف المدخل لها كميات فقط وتجاهل الاصناف بصفر</span></label>
                                <a href="javascript:void(0);" onclick="DamageInvoice_Module.SaveInvoice();" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100"><i class="bx bx-search-alt m-1"></i>حفظ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Assets/JSCustom/DamageInvoice.js"></script>
    <script>

        function searchData() {
            $("#isFirstInitPage").val('0');
            if ($("#StoreId").val() === '') {
                toastr.error('تأكد من اختيار المخزن', '');
            }
            $('#kt_dtItemDetails').DataTable().ajax.reload();

        };

        function onItemTypeChange() {
            $.get("/SharedDataSources/OnItemTypeChange", { id: $("#ItemtypeId").val() }, function (data) {
                $("#ItemId").empty();
                $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                $.each(data, function (index, row) {
                    $("#ItemId").append("<option value='" + row.Id + "'>" + row.Name + "</option>");
                });
                $("#groupBasic").val(null);
            });
        };
        function onBranchChange() {
            $.get("/SharedDataSources/getStoresOnBranchChanged", { id: $("#BranchId").val() }, function (data) {
                $("#StoreId").empty();
                $("#StoreId").append("<option value=>اختر عنصر من القائمة</option>");
                $.each(data, function (index, row) {
                    $("#StoreId").append("<option value='" + row.Id + "'>" + row.Name + "</option>");
                });
            });
        };
        $(document).ready(function () {
            // begin first table
            DamageInvoice_Module.initItemDetails();
            $('#kt_dtItemDetails_length').css('text-align', 'left');

            //عند ادخال الباركود الصنف
            $("#BarCode").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $.get("/SharedDataSources/ItemsBarcodeEnter", { barcode: $("#BarCode").val() }, function (data) {
                        $("#ItemId").empty();
                        $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                        $.each(data, function (index, row) {
                            $("#ItemId").append("<option value='" + row.Id + "' selected>" + row.Name + "</option>");
                        });
                    });
                }
            });



        });

    </script>
    <script>
        var treeBasic;
        $(document).ready(function () {
            //المجموعة الاساسية
            var dsBasic = [];
            $.get("/SharedDataSources/onGroupTypeChange", { id: 1 }, function (data) {
                treeBasic.setSource(data);
            });

            treeBasic = $('#groupBasic').comboTree({
                source: dsBasic,
                isMultiple: false,
                collapse: true,
                //selectableLastNode: true

            });
            treeBasic.onChange(function () {
                if (treeBasic.getSelectedIds() != null) {
                    $('#groupId').val(treeBasic.getSelectedIds()[0]);
                    $.get("/SharedDataSources/ItemsOnGroupChanged", { id: treeBasic.getSelectedIds()[0] }, function (data) {
                        $("#ItemId").empty();
                        $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                        $.each(data, function (index, row) {
                            $("#ItemId").append("<option value='" + row.Id + "'>" + row.Name + "</option>");
                        });
                        $("#ItemtypeId").val(null);
                    });

                }
            });
            // ============== نهاية المجموعة الاساسية


        })
    </script>
}




