@model ERP.DAL.DamageInvoice
@using ERP.Web.Utilites
@{
    ViewBag.Title = "ShowDamageInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageTitle1{استعراض فاتورة هالك}
@section PageTitle2{ملخص فاتورة}
@section Button1{استعراض كل فواتير الهالك}
@section Button1Link{/DamageInvoices/Index}
@section icon{<i class="fas fa-cog m-1"></i>}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="invoice-title">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <div class="mb-4">
                                <h4>فاتورة هالك</h4>
                            </div>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="mb-4">
                                <h4 class="float-end font-size-16">
                                    <img src="~/Assets/media/logos/white-logo.png" alt="" height="100">
                                </h4>
                            </div>
                        </div>
                    </div>
                    <p class="mb-1">
                        <span class="din-bold">@Model.Notes</span>
                    </p>

                </div>
                <hr class="my-4">

                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="font-weight-bolde mb-2r din-bold ylow">تاريخ الفاتورة</h6>
                        <p class="din-med">@Model.InvoiceDate</p>
                    </div>
                    <div class="col-sm-3">
                        <h6 class="font-weight-bolder mb-2 din-bold ylow">المخزن</h6>
                        <p class="din-med">
                            @Model.Store.Name
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <h6 class="font-weight-bolde mb-2r din-bold ylow">الفرع</h6>
                        <p class="din-med">@Model.Store.Branch.Name</p>
                    </div>
                    <div class="col-sm-3">
                        <h6 class="font-weight-bolder mb-2 din-bold ylow">احتساب تكلفة الفروق</h6>
                        <p class="din-med">@Model.ItemCostCalculation.Name</p>
                    </div>

                </div>
                <hr class="my-4">

                <!-- end: Invoice header-->
                <!-- begin: Invoice body-->

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pl-0 font-weight-bold text-muted text-uppercase din-bold">الصنف</th>
                                <th class="text-right font-weight-bold text-muted text-uppercase din-bold">كمية الهالك</th>
                                <th class="text-right pr-0 font-weight-bold text-muted text-uppercase din-bold">تكلفة كمية الهالك</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DamageInvoiceDetails)
                            {
                                <tr class="font-weight-boldest font-size-lg">
                                    <td class="pl-0 pt-7 din-bold">@item.Item.Name</td>
                                    <td class="text-right pt-7 din-bold">@item.Quantity</td>
                                    <td class="text-right pt-7 din-bold">@item.CostQuantity</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <hr class="my-4">

                <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                    <div class="d-flex flex-column text-md-center">
                        <span class="font-size-lg font-weight-bolder mb-1 din-bold">اجمالى تكلفة الهوالك</span>
                        <span class="font-size-h2 font-weight-boldest text-danger mb-1 din-bold">@Model.TotalCostQuantityAmount</span>
                        @*<span>Taxes Included</span>*@
                    </div>
                </div>

                <!-- end: Invoice footer-->
                <!-- begin: Invoice action-->
                <hr class="my-4">

                <div class="d-flex justify-content-between">
                    @*<button type="button" class="btn btn-light-primary font-weight-bold din-bold" onclick="window.print();">Download Invoice</button>*@
                    <button type="button" class="btn btn-primary font-weight-bold din-bold" onclick="window.print();">طباعة</button>
                    <a href="#" onclick="window.history.back()" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fa-solid fa-caret-left  m-1"></i>عودة</a>
                </div>
            </div>
        </div>
        <!-- end: Invoice action-->
        <!-- end: Invoice-->
    </div>
</div>
<!-- end::Card-->
