@model ERP.Web.DataTablesDS.PrintInvoiceDto
@using ERP.DAL
@using ERP.Web.Utilites
@using ERP.DAL.Utilites

@{
    VTSAuth auth = new VTSAuth();
    Layout = null;
    string entityName = string.Empty;
    if (auth.CheckCookies())
    {
        auth.LoadDataFromCookies();
        entityName = auth.CookieValues.EntityName;
    }
    bool isUnitQuantity = Model.ItemDetails.Any(x => !string.IsNullOrEmpty(x.QuantityUnitName));
    string logo = "~/Files/printLogo.jpg";
    int counter = 1;
    var entityData = (List<GeneralSetting>)ViewBag.EntityData;
    var line1Up = entityData.Where(x => x.Id == (int)Lookups.GeneralSettingCl.PrintLine1Up).FirstOrDefault().SValue;
    var line2Up = entityData.Where(x => x.Id == (int)Lookups.GeneralSettingCl.PrintLine2Up).FirstOrDefault().SValue;
    var line3Up = entityData.Where(x => x.Id == (int)Lookups.GeneralSettingCl.PrintLine3Up).FirstOrDefault().SValue;
    var line1Down = entityData.Where(x => x.Id == (int)Lookups.GeneralSettingCl.PrintLine1Down).FirstOrDefault().SValue;
    var line2Down = entityData.Where(x => x.Id == (int)Lookups.GeneralSettingCl.PrintLine2Down).FirstOrDefault().SValue;

    var pageDir = "rtl";
    string title_invoNumber, title_invoDate, title_taxNum, title_RegNum, btn_switch_title, btn_print_title, btn_close_title;
    string title_itemNum, title_itemName, title_itemPrice, title_itemQuantity, title_itemUnitName, title_itemAmount;
    string title_totalAmount, title_salesTax, title_discount, title_profitTax, title_safy, title_notes, title_signature;
    if (Model.LanguagePage == "en")
    {
        pageDir = "ltr";
        title_invoNumber = "invoice number";
        title_invoDate = "invoice date";
        title_taxNum = "tax number";
        title_RegNum = "Commercial Registration Number";
        btn_switch_title = "عربى";
        btn_print_title = "Print";
        btn_close_title = "Close";

        title_itemNum = "M";
        title_itemName = "Item";
        title_itemPrice = "Price";
        title_itemQuantity = "Quantity";
        title_itemUnitName = "Unit Name";
        title_itemAmount = "Amount";
        title_totalAmount = "Total";
        title_salesTax = "Sales tax";
        title_discount = "Discount";
        title_profitTax = "Profit tax";
        title_safy = "Net total";
        title_notes = "Notes";
        title_signature = "Signature";

    }
    else
    {
        title_invoNumber = "رقم الفاتورة";
        title_invoDate= "تاريخ الفاتورة";
        title_taxNum = "الرقم الضريبي";
        title_RegNum = "رقم السجل التجاري";
        btn_switch_title = "English";
        btn_print_title = "طباعه";
        btn_close_title = "اغلاق";

        title_itemNum = "م";
        title_itemName = "الصنف";
        title_itemPrice = "السعر";
        title_itemQuantity = "الكمية";
        title_itemUnitName = "الكمية بالوحدة";
        title_itemAmount = "القيمة";
        title_totalAmount = "الاجمالى";
        title_salesTax = "ضريبة القيمة المضافة";
        title_profitTax = "ضريبة ارباح تجارية";
        title_safy = "الاجمالى بعد الضريبة";
        title_notes = "ملاحظات";
        title_signature = "التوقيع";
        title_discount = "الخصم";

    }

}

<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="utf-8" />
    <title>@entityName | طباعه</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico">
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap-rtl.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Custom Style -->
    <link href="~/Assets/css/vts-rtl-style.css" rel="stylesheet" />
    <link href="~/Assets/css/Printstyle.css" rel="stylesheet" />

    <title>Invoice..!</title>
</head>

<body dir="@pageDir" class="din-med">
    <div class="my-5 page" size="A4">
        <div class="p-5">
            <section class="top-content bb d-flex justify-content-between">
                <div class="top-left">
                    <div class="graphic-path">
                        <p style="font-size:large">@Model.RptTitle </p>
                    </div>
                    <div class="position-relative">
                        @if (string.IsNullOrEmpty(line1Up) && string.IsNullOrEmpty(line2Up) && string.IsNullOrEmpty(line3Up))
                        {
                            <p id="PvisibleFalse">------------------ </p>

                        }
                        else
                        {
                            <p>@line1Up</p>
                            <p>@line2Up</p>
                            <p>@line3Up</p>

                        }
                    </div>
                </div>
                <div class="logo">
                    <img src="~/Files/printLogo.jpg" alt="" class="img-fluid">
                </div>

            </section>

            <section class="store-user">
                <div class="col-12">
                    <div class="row bb pb-3">
                        <div class="col-10">

                            <div class="row">
                                <div class="col-6">
                                    <p>
                                        @title_invoNumber : <span>@(Model.InvoiceNumber)</span>
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p>
                                        @title_invoDate : <span>@(Model.InvoiceDate)</span>
                                    </p>
                                </div>
                            </div>

                            @*<p>العميل : <span>@(Model.PersonCustomer?.Name)</span></p>*@
                            <p>@Model.PersonTypeName</p>
                            <h2>@(Model.SuppCustomerName)</h2>

                            @if (!string.IsNullOrEmpty(Model.CustomerCommercialRegistrationNo) || !string.IsNullOrEmpty(Model.CustmerTaxNumber))
                            {
                                <div class="row">
                                    <div class="col-6">
                                        <p>
                                           @title_taxNum  : <span>@(Model.CustmerTaxNumber)</span>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p>
                                            @title_RegNum : <span>@(Model.CustomerCommercialRegistrationNo)</span>
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-2">
                            <br />
                            <a href="javascript:void(0);" onclick="window.print();" class="btn btn-success din-bold btnPrint w-100"><i class="fa fa-print"></i>@btn_print_title</a>
                            <a href="@Model.ToggleUrl"  class="btn btn-secondary din-bold btnPrint w-100"><i class="fa fa-toggle-on"></i>@btn_switch_title</a>
                            <a href="javascript:void(0);" onclick="close_window();" class="btn btn-soft-secondary din-bold btnPrint w-100"><i class="fa fa-window-close"></i>@btn_close_title</a>


                        </div>
                    </div>

                </div>
            </section>

            <section class="product-area ">
                @*mt-4*@

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>@title_itemNum</td>
                            <td>@title_itemName</td>
                            @if (isUnitQuantity)
                            {
                                <td>@title_itemUnitName</td>
                            }
                            <td>@title_itemPrice</td>
                            <td>@title_itemQuantity</td>
                            <td>@title_itemAmount</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.ItemDetails)
                            {
                                                <tr>
                                                    <td>@counter</td>
                                                    <td>
                                                        <div class="media">
                                                            <div class="media-body">
                                                                @*<p class="mt-0 title">Media heading</p>*@
                                                                @item.ItemName
                                                            </div>
                                                        </div>
                                                    </td>
                                                    @if (isUnitQuantity)
                                                    {
                                                        <td>@item.QuantityUnitName</td>
                                                    }
                                                    <td>@item.Price</td>
                                                    <td>@item.Quantity</td>
                                                    <td>@item.Amount</td>
                                                </tr>

                                counter++;
                            }
                        }


                    </tbody>
                </table>
            </section>

            <section class="balance-info">
                <div class="row">
                    <div class="col-8">
                        <p class="m-0 font-weight-bold"> @title_notes</p>
                        <p>@Html.Raw(Model.Notes)</p>
                    </div>
                    <div class="col-4">
                        <table class="table border-0 table-hover">
                            <tr>
                                <td>@title_totalAmount :</td>
                                <td>@Model.TotalValue</td>
                            </tr>
                            @if (Model.SalesTax > 0)
                            {
                                <tr>
                                    <td>@title_salesTax :</td>
                                    <td>@Model.SalesTax</td>
                                </tr>
                            }
                            @if (Model.TotalDiscount > 0)
                            {
                                <tr>
                                    <td>@title_discount :</td>
                                    <td>@Model.TotalDiscount</td>
                                </tr>
                            }


                            @if (Model.ProfitTax > 0)
                            {
                                <tr>
                                    <td>@title_profitTax :</td>
                                    <td>@Model.ProfitTax</td>
                                </tr>
                            }


                            <tfoot>
                                <tr>
                                    <td>@title_safy :</td>
                                    <td>@Model.Safy</td>
                                </tr>
                            </tfoot>
                        </table>

                        <!-- Signature -->
                        <div class="col-12">
                            <img src="signature.png" class="img-fluid" alt="">
                            <p class="text-center m-0"> @title_signature </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Cart BG -->
            @*<img src="cart.jpg" class="img-fluid cart-bg" alt="">*@

            <footer>

                @*<p >
                        View THis Invoice Online At - <a href="#!"> invoice/saburbd.com/#868 </a>
                    </p>*@
                <div class="lineDown">
                    <div class="col-12">
                        @line1Down
                    </div>
                    <div class="col-12">
                        @line2Down
                    </div>
                </div>
                @*<p></p>*@
                <hr>

                <div class="copyright">
                    تطوير VTS-co.com

                </div>
            </footer>
        </div>
    </div>







    <script>
        function close_window() {
            if (confirm("متاكد من اغلاق النافذة ؟")) {
                window.close();
                return false;
            }
        }

    </script>


</body>
</html>