@model ERP.DAL.UploadCenter
@using ERP.DAL

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Msg = string.Empty;
    string defultImage = "../../Files/UploadCenter/defaultImageUpload.jpg";
    if (ViewBag.redirect != null)
    {
        if (ViewBag.redirect == "setting")
        {
            Msg = "يجب تعريف المجلدات الرئيسية لرفع الملفات من شاشة الاعدادات";
        }
        else if (ViewBag.redirect == "errorCreateDir")
        {
            Msg = "حدث خطأ فى انشاء المجلد الرئيسى للملفات .. برجاء حاول مرة اخرى بعد فترة";
        }
        else if (ViewBag.redirect == "noQueryString")
        {
            Msg = "حدث خطأ .. تأكد من اختيار الشاشة المناسبة لرفع الملف";
        }
    } }

@section PageTitle1{مركز التحميل}
@section PageTitle2{@ViewBag.TitlePage}
@section Button1{@null}
@section Button1Link{@null}
@section icon{@null}

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">
                            @ViewBag.TitlePage
                        </h4>
                    </div>
                </div>

                @if (ViewBag.redirect != null)
                {
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert alert-danger" role="alert">
                    <h5> حدث خطأ </h5>
                    <hr />
                    <p>
                        @Msg
                    </p>
                </div>
            </div>

        </div>
    </div> }
else
{
    using (Html.BeginForm("Index", "UploadCenterTypeFiles", FormMethod.Post, new { id = "form1" }))
    {
<div class="card-body">
    <div class="row">


        <div class="col-lg-6">
            <div class="form-group">
                <label>المجلد الرئيسيى</label>
                @Html.TextBoxFor(m => m.UploadCenterParent.Name, new { @class = "form-control", @readonly = "readonly" })
                @Html.HiddenFor(model => model.ParentId)
                @Html.HiddenFor(model => model.ReferenceGuid)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>اسم الملف</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label text-right">الملف المراد رفعه</label>
                <div class="col-lg-9 col-xl-6">
                    <div class="image-input image-input-outline" id="kt_image_1">
                        <div class="image-input-wrapper" style="        background-image: url( @defultImage ); background-size: 100% 100%;" id="imgFile"></div>
                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="اختر ملف">
                            <i class="fa fa-pen icon-sm text-muted"></i>
                            <input type="file" id="uploadFile" name="profile_avatar" accept=".png, .jpg, .jpeg, .pdf, .doc, .docx, .xls, .xlsx, .mdb, .accdb" />
                            <input type="hidden" name="profile_avatar_remove" />
                        </label>
                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>
                    </div>
                    <span class="form-text text-muted">الملفات المسموح بها: png, jpg, jpeg,pdf,doc,docx,xls,xlsx,mdb,accdb.</span>
                </div>
            </div>
        </div>
    </div>


</div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12">
                                @*<input type="button" onclick="UploadCenterTypeFile_Module.SubmitForm(this);" value="@btn" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px" />*@

                                <a href="javascript:void(0);" onclick="UploadCenterTypeFile_Module.SubmitForm(this);" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px"><i class="flaticon2-download"></i>رفع ملف</a>
                                <a href="#" onclick="window.history.back();" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fa-solid fa-caret-left  m-1"></i>عودة</a>
                            </div>
                        </div>
                    </div>}
            }


            </div>


        </div>

    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->


<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Dashboard-->
        <!--begin::Row-->
        <div class="row din-bold">
            <div class="col-lg-12">
                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">الملفات المرفوعة مسبقا</h3>
                        </div>
                        <div class="card-toolbar">
                            <div class="btn-group" role="group" aria-label="Basic example">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_datatable">
                            <thead>

                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>

@section Scripts
{
    <script src="~/Assets/JSCustom/UploadCenterTypeFile.js"></script>
    <script>
        $(document).ready(function () {
            UploadCenterTypeFile_Module.init();
        });
    </script>
}