@model ERP.DAL.StoresTransfer
@using ERP.DAL
@{
    ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn, icon = string.Empty;
    double totalQuantity = 0;
    if (Model.Id == Guid.Empty)
    {
        title = "تسجبل تحويل مخزنى";
        btn = "اضافة";
        icon = "fa fa-plus-circle m-1";
    }
    else
    {
        title = "تعديل تحويل مخزنى ";
        btn = "تعديل";
        icon = "fa fa-edit m-1";
        totalQuantity = Model.StoresTransferDetails.Where(x => !x.IsDeleted).Sum(x => (double?)x.Quantity ?? 0);
    }

}

@section PageTitle1{التحويلات}
@section PageTitle2{@title }
@section Button1{ادارة التحويلات المخزنية}
@section Button1Link{/StoresTransfers/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

@Html.Hidden("ItemAcceptNoBalance")
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div id="basic-pills-wizard" class="twitter-bs-wizard">
                <div class="card-header din-bold">
                    <ul class="twitter-bs-wizard-nav">
                        <li class="nav-item">
                            <a href="#window1" class="nav-link mx-40" data-toggle="tab">
                                <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="1. البيانات الاساسية لعملية التحويل">
                                    <i class="bx bx-list-ul"></i>
                                </div>
                                <h4 style="margin-top:30px;">1. البيانات الاساسية لعملية التحويل</h4>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#window2" class="nav-link" data-toggle="tab">
                                <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="2. الاصناف المحولة">
                                    <i class="bx bxs-bank"></i>
                                </div>
                                <h4 style="margin-top:30px;">2. الاصناف المحولة</h4>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">


                    @using (Html.BeginForm("CreateEdit", "StoresTransfers", FormMethod.Post, htmlAttributes: new { id = "kt_form" }))
                    {
                        <div class="tab-content twitter-bs-wizard-tab-content din-bold">

                            <!--begin::Wizard Step 1 البيانات الاساسية-->
                            <div class="tab-pane" id="window1">
                                <div class="text-center mb-4">
                                    <h5>البيانات الاساسية</h5>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <!--begin::Select-->
                                        <div class="form-group">
                                            <label>الفرع</label>
                                            @Html.DropDownList("BranchFromId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   form-control-solid form-control-lg din-med", @onchange = "StoresTransfer_Module.getStoresOnBranchFromChanged();" })
                                            @Html.HiddenFor(x => x.Id)
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <!--begin::Select-->
                                        <div class="form-group">
                                            <label> <span class="badge bg-soft-warning text-black fa-1x" id="saleMenFromName">من مخزن</span></label>
                                            @Html.DropDownList("StoreFromId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   form-control-solid form-control-lg din-med", @onchange = "StoresTransfer_Module.getSaleMenFromChanged();" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <!--begin::Select-->
                                        <div class="form-group">
                                            <label>الفرع</label>
                                            @Html.DropDownList("BranchToId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   form-control-solid form-control-lg din-med", @onchange = "StoresTransfer_Module.getStoresOnBranchToChanged();" })
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <!--begin::Select-->
                                        <div class="form-group">
                                            <label> <span class="badge bg-soft-warning text-black fa-1x" id="saleMenToName">الى مخزن</span></label>
                                            @Html.DropDownList("StoreToId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   form-control-solid form-control-lg din-med", @onchange = "StoresTransfer_Module.getSaleMenToChanged();" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <!--begin::Input-->
                                        <div class="form-group">
                                            <label>تاريخ التحويل</label>
                                            @Html.TextBoxFor(model => model.TransferDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control form-control-solid form-control-lg", type = "date" })
                                            <span class="form-text text-muted">اختر تاريخ العملية </span>
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                    @*<div class="col-xl-6">
                                            <div class="form-group">
                                                <label>تحويل من/الى مندوب</label>
                                                @Html.CheckBoxFor(model => model.ForSaleMen, htmlAttributes: new { @class = "form-control form-control-solid form-control-lg",@onchange= "showSaleMenDiv()" })
                                            </div>
                                        </div>*@
                                </div>
                                @*<div class="row saleMenDiv" style="display:none;">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>من الادارة</label>
                                                @Html.DropDownList("DepartmentFromId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   form-control-solid form-control-lg din-med select2", @onchange = "StoresTransfer_Module.getSaleMenDepartmentChange('1')" })
                                                <span class="form-text text-muted">اختر الادارة </span>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>من المندوب</label>
                                                @Html.DropDownList("EmployeeFromId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   form-control-solid form-control-lg din-med select2" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row saleMenDiv" style="display:none;">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>الى الادارة</label>
                                                @Html.DropDownList("DepartmentToId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   form-control-solid form-control-lg din-med select2", @onchange = "StoresTransfer_Module.getSaleMenDepartmentChange('2')" })
                                                <span class="form-text text-muted">اختر الادارة </span>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>الى المندوب</label>
                                                @Html.DropDownList("EmployeeToId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   form-control-solid form-control-lg din-med select2" })
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="col-xl-12">
                                        <!--begin::Input-->
                                        <div class="form-group">
                                            <label>ملاحظات</label>
                                            @Html.TextAreaFor(model => model.Notes, htmlAttributes: new { @class = "form-control form-control-solid form-control-lg" })
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                </div>

                                <ul class="pager wizard twitter-bs-wizard-pager-link">
                                    <li class="next">
                                        <a href="javascript: void(0);" class="btn btn-primary">
                                            التالي <i class="bx bx-chevron-left ms-1"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--end::Wizard Step 1-->
                            <!--begin::Wizard Step 2 ادخال اصناف الفاتورة-->
                            <div class="tab-pane" id="window2">
                                <div class="text-center mb-4 din-bold">
                                    <h5>اضافة اصناف الفاتورة</h5>
                                </div>
                                @*<div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>باركود الصنف</label>
                                                @Html.TextBox("ItemBarcode", null, htmlAttributes: new { @class = "form-control form-control-solid form-control-lg" })
                                                <span class="form-text text-muted">باركود الصنف</span>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="row mb-3">
                                    <label>حالة البيع</label>
                                    <div class="col-3">
                                        <div class="form-check form-check-inline ">
                                            <label class="form-check-label">
                                                بيع بكميات
                                            </label>
                                            <input class="form-check-input" type="radio" checked name="radios2" id="rdo_barcode" onchange="StoresTransfer_Module.onRdoBarcodeChanged();" />
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                بيع حسب السيريال نمبر
                                            </label>
                                            <input class="form-check-input" type="radio" name="radios2" id="rdo_serial" onchange="StoresTransfer_Module.onRdoSerialChanged();" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12" id="barcodeDiv">
                                        <div class="form-group">
                                            <label>باركود الصنف</label>
                                            @Html.TextBox("ItemBarcode", null, htmlAttributes: new { @class = "form-control form-control-solid form-control-lg" })
                                            <span class="form-text text-muted">باركود الصنف</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 " style="display:none;" id="serialDiv">
                                        <div class="form-group">
                                            <label>سيريال الصنف</label>
                                            @Html.TextBox("ItemSerial", null, htmlAttributes: new { @class = "form-control form-control-solid form-control-lg" })
                                            <span class="form-text text-muted">سيريال الصنف</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group required">
                                            <label> المجموعة الاساسية</label>
                                            <input name="groupBasic" type="text" class="form-control form-control-solid form-control-lg" id="groupBasic" autocomplete="off" />
                                            <span class="form-text text-muted">اختر مجموعة</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group required">
                                            <label>الصنف</label>
                                            @Html.DropDownList("ItemId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2 din-med w-100", onchange = "StoresTransfer_Module.onItemChange()" })
                                            <span class="form-text text-muted">اختر الصنف</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <!--begin::Select-->
                                        <div class="form-group required">
                                            <label>اوامر الانتاج/الرصيد المتاح</label>
                                            <select class="form-control din-med" id="balanceProductionOrder" onchange="StoresTransfer_Module.onProductionOrderChange()"></select>
                                            <input type="hidden" id="balanceVal" />
                                            <input type="hidden" id="serialItemId" />
                                            <input type="hidden" id="productionOrderId" />
                                            <input type="hidden" id="isIntial" />
                                            <span class="form-text text-muted">اختر الرصيد </span>
                                        </div>
                                        <!--end::Select-->
                                    </div>
                                    <div class="col-xl-6">
                                        <!--begin::Input-->
                                        <div class="form-group">
                                            <label>الكمية</label>
                                            <input type="number" class="form-control form-control-solid form-control-lg" name="Quantity" id="Quantity" placeholder="الكمية" value="0" onkeyup="StoresTransfer_Module.onPriceOrQuanKeyUp();" />
                                            <span class="form-text text-muted">ادخل كمية الصنف</span>
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xl-12">
                                        <!--begin::Input-->
                                        <div class="form-group">
                                            <label>.</label>
                                            <button type="button" onclick="StoresTransfer_Module.addItemDetails();" class="btn btn-primary font-weight-bold px-15 w-100">اضافة صنف </button>
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                </div>

                                <div class="row mt-10">


                                    <label>الاصناف المسجلة</label>
                                    <table style="width:100%!important;" class="table table-bordered dt-responsive  nowrap w-100" id="kt_dtItemDetails">
                                        <thead>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="d-flex justify-content-between flex-column  font-size-lg">
                                            <div class="d-flex flex-column text-md-center">
                                                <span class="font-size-lg font-weight-bolder mb-1">اجمالي العدد</span>
                                                <span class="font-size-h2 font-weight-boldest text-danger mb-1" id="TotalQuantity">@totalQuantity</span>                                            @*<span>Taxes Included</span>*@
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <ul class="pager wizard twitter-bs-wizard-pager-link">
                                    <li class="previous">
                                        <a href="javascript: void(0);" class="btn btn-primary">
                                            <i class="bx bx-chevron-right me-1"></i> السابق
                                        </a>
                                    </li>
                                    <li class="float-end">
                                        <a href="javascript: void(0);" class="btn btn-primary" data-bs-toggle="modal" onclick="StoresTransfer_Module.SubmitForm(this)"
                                           data-bs-target=".confirmModal">
                                            <i class="fa fa-plus-circle"></i>
                                            حفظ عملية التحويل المخزنى
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    }
                    <!--end::Wizard Form-->
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Assets/JSCustom/StoresTransfer.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            StoresTransfer_Module.initItemDetails();

            //عند ادخال الباركود الصنف
            $("#ItemBarcode").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $.get("/SharedDataSources/ItemsBarcodeEnter", { barcode: $("#ItemBarcode").val() }, function (data) {
                        $("#ItemId").empty();
                        $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                        $.each(data, function (index, row) {
                            $("#ItemId").append("<option value='" + row.Id + "' selected>" + row.Name + "</option>");
                        });
                        $("#Price").val(0);
                        if (data[0].Name != null) {
                            StoresTransfer_Module.onItemChange();
                        }
                    });
                }
            });
            //عند ادخال السيريال الصنف
            $("#ItemSerial").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $.get("/SharedDataSources/ItemsSerialEnter", { serial: $("#ItemSerial").val(), isReturnBack: false }, function (data) {
                        if (data.length > 0) {
                            $("#ItemId").empty();
                            $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                            $.each(data, function (index, row) {
                                $("#ItemId").append("<option value='" + row.Id + "' selected>" + row.Name + "</option>");
                            });
                            $("#Quantity").val(1);
                            //if (data[0].Name != null) {
                            //    SellInvoice_Module.onItemChange();
                            //}
                            var currentStore = data[0].CurrentStore;
                            if ($("#StoreFromId option[value=" + currentStore + "]").length > 0) {
                                $("#StoreFromId").val(currentStore);
                                //$("#StoreId").select2("val", currentStore);

                                $("#balanceVal").val(1);
                                $("#serialItemId").val(data[0].SerialItemId);
                                $("#productionOrderId").val(data[0].ProductionOrderId);
                                $("#isIntial").val(data[0].IsIntial);
                                $("#balanceProductionOrder").empty();
                                $("#balanceProductionOrder").append("<option value=  selected >" + data[0].CmboBalanceTxt + "</option>");
                                //$("#StoreId").select2().select2('val', currentStore);

                            } else {
                                $("#balanceVal").val(null);
                                $("#serialItemId").val(null);
                                $("#productionOrderId").val(null);
                                $("#isIntial").val(null);
                                $("#balanceProductionOrder").val(null);
                                toastr.error('السيريال موجود ولكن المخزن الصحيح للسيريال غير موجود فى قائمة المخازن', '');

                            }
                        } else {
                            toastr.error('السيريال غير موجود او تم استخدامه مسبقا فى عملية بيع', '');
                            return false;

                        }
                    });
                }
            });


        });
        //اظهار واخفاء نافذة المندوب
        //function showSaleMenDiv() {
        //    if ($("#ForSaleMen").is(':checked')) {
        //        $(".saleMenDiv").show();
        //    } else
        //        $(".saleMenDiv").hide();
        //};
    </script>
    <script>
        var treeBasic;
        $(document).ready(function () {
            //تحميل كل الاصناف فى اول تحميل للصفحة
            $.get("/SharedDataSources/ItemsOnGroupChanged", { id: null }, function (data) {
                $("#ItemId").empty();
                $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                $.each(data, function (index, row) {
                    $("#ItemId").append("<option value='" + row.Id + "'>" + row.Name + "</option>");
                });
            });
            //المجموعة الاساسية
            var dsBasic = [];
            $.get("/SharedDataSources/onGroupTypeChange", { id: 1 }, function (data) {
                treeBasic.setSource(data);
            });

            treeBasic = $('#groupBasic').comboTree({
                source: dsBasic,
                isMultiple: false,
                collapse: true,
                selected: []
                //selectableLastNode: true

            });
            treeBasic.onChange(function () {
                if (treeBasic.getSelectedIds() != null) {
                    var currentSelected = treeBasic.getSelectedIds()[0];
                    $.get("/SharedDataSources/ItemsOnGroupChanged", { id: currentSelected }, function (data) {
                        $("#ItemId").empty();
                        $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                        $.each(data, function (index, row) {
                            $("#ItemId").append("<option value='" + row.Id + "'>" + row.Name + "</option>");
                        });
                    });

                }
            });
            // ============== نهاية المجموعة الاساسية

        });
    </script>
}
