@model ERP.DAL.SellBackInvoice
@using ERP.DAL

@{ ViewBag.Title = "ApprovalStore";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


@section PageTitle1{فواتير مرتجع البيع}
@section PageTitle2{اعتماد مخزنى لفواتير مرتجع البيع}
@section Button1{@null}
@section Button1Link{@null}
@section icon{@null}
<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">اعتماد مخزنى لفواتير مرتجع التوريد</h4>
                    </div>
                </div>
            </div>
                <div class="card-body">

                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>رقم الفاتورة</label>
                                @Html.TextBoxFor(m => m.InvoiceNumber, new { @class = "form-control", @style = "text-align:right;", @readonly = "readonly" })
                                @Html.HiddenFor(model => model.Id)
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>تاريخ الفاتورة</label>
                                @Html.TextBoxFor(m => m.InvoiceDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>اجمالى العدد</label>
                                @Html.TextBoxFor(m => m.TotalQuantity, new { @class = "form-control", @style = "text-align:right;", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-separate table-head-custom table-foot-custom table-checkable" id="kt_dtItemDetails">
                                <thead>
                                    <tr>
                                        <th style="display:none;">Id</th>
                                        <th style="display:none;">ItemId</th>
                                        <th>الاسم</th>
                                        <th>الكمية</th>
                                        <th>الكمية المستلمة</th>
                                        <th>المخزن</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SellBackInvoicesDetails.Where(x => !x.IsDeleted))
                                    {
                        <tr>
                            <td class="selectedDay" style="display:none;">@item.Id</td>
                            <td style="display:none;">@item.ItemId</td>
                            <td>@item.Item.Name</td>
                            <td>@item.Quantity</td>
                            <td>
                                <input type="text" class="form-control" value="@item.QuantityReal" />
                            </td>
                            <td>@item.Store.Name</td>
                        </tr>
}
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12" style="text-align:left;">
                            @*<input type="button" onclick="Bank_Module.SubmitForm(this);" value="@btn" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px" />*@
                            <a href="javascript:void(0);" onclick="SellBackInvoiceStore_Module.ApprovalInvoice();" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px"><i class="fas fa-check m-1 "></i>اعتمــاد</a>
                            <a href="/SellBackInvoiceStores/Index" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fa-solid fa-caret-left m-1"></i>عودة</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts
{

    <script src="~/Assets/JSCustom/SellBackInvoiceStore.js"></script>
    <script>
        $(document).ready(function () {
            SellBackInvoiceStore_Module.initItemDetails();
        });


    </script>
}




