@model ERP.DAL.QuoteOrderSell
@using ERP.Web.Utilites


@{ ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double totalValue = 0;   // اجمالى الفاتورة (البيع)
    double totalQuantity = 0;   // اجمالى العدد (البيع)
    double totalExpenses = 0; // اجمالى الايرادات
    double totalDiscount = 0; // اجمالى الخصومات على كل الفاتورة
    double safy = 0; // صافى الفاتورة

    totalValue = Model.TotalValue;
    totalQuantity = Model.TotalQuantity;
    safy = Model.Safy;
    string displayDiscount = "none";
    string isInvoiceDisVal = "true";
    string chkValRdo = "checked";
    string chkPerRdo = "";

    string title, btn = string.Empty, icon = string.Empty;
    if (Model.Id == Guid.Empty)
    {
        title = "اضافة عرض سعر لعميل";
        btn = "تسجيل عرض سعر";
        icon = "fa fa-plus-circle m-1";
        chkValRdo = "checked";
        chkPerRdo = "";
    }
    else
    {
        title = "تعديل عرض سعر ";
        btn = "تعديل";
        icon = "fa fa-edit m-1";
        if (Model.DiscountPercentage > 0)
        {
            displayDiscount = "block";
            isInvoiceDisVal = "false";
            chkValRdo = "";
            chkPerRdo = "checked";
        }
        totalDiscount = Model.InvoiceDiscount;
    }
}


@section PageTitle1{عروض اسعار}
@section PageTitle2{@title }
@section Button1{ادارة عروض الاسعار}
@section Button1Link{/Quotes/Index}
@section icon{<i class="fa fa-cog m-1"></i>}
@section Styles
{
}
@*الرصيد*@
<input type="hidden" id="balanceVal" />

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">@title </h4>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("CreateEdit", "Quotes", FormMethod.Post, new { id = "form1" }))
            {
                <div class="card-body">

                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>الفرع</label>
                                @if (ViewBag.Branchcount > 1)
                                {
                                    @Html.DropDownList("BranchId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   form-control-solid  din-med" })

                                }
                                else
                                {
                                    @Html.DropDownList("BranchId", null,htmlAttributes: new { @class = "form-select   form-control-solid  din-med" })

                                }
                                @Html.HiddenFor(m => m.Id)
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>العميل</label>
                                @Html.DropDownList("CustomerId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2 din-med" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>تاريخ العملية </label>
                                @Html.TextBoxFor(m => m.InvoiceDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control din-med", @type = "date" })
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="my-5 din-med">
                            <h3 class="text-dark font-weight-bold mb-10 din-med">اضافة اصناف الفاتورة : </h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label>حالة البيع</label>
                                        <div class="col-12">
                                            <div class="radio-inline">
                                                <div class="col-xl-6">
                                                    <label class="radio">
                                                        <input type="radio" checked name="radios2" id="rdo_barcode" onchange="Quote_Module.onRdoBarcodeChanged();" />
                                                        <span></span>بيع بكميات
                                                    </label>
                                                </div>
                                                <div class="col-xl-6">
                                                    <label class="radio">
                                                        <input type="radio" name="radios2" id="rdo_serial" onchange="Quote_Module.onRdoSerialChanged();" />
                                                        <span></span>بيع حسب السيريال نمبر
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6" id="barcodeDiv">
                                    <div class="form-group row">
                                        <label>باركود الصنف</label>
                                        <div class="col-12">
                                            @Html.TextBox("ItemBarcode", null, htmlAttributes: new { @class = "form-control " })
                                            <span class="form-text text-muted">باركود الصنف</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6" style="display:none;" id="serialDiv">
                                    <div class="form-group row">
                                        <label>سيريال الصنف</label>
                                        <div class="col-12">
                                            @Html.TextBox("ItemSerial", null, htmlAttributes: new { @class = "form-control " })
                                            <span class="form-text text-muted">سيريال الصنف</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label>المجموعة الاساسية</label>
                                        <div class="col-12">
                                            <input name="groupBasic" type="text" class="form-control " id="groupBasic" autocomplete="off" />
                                            <span class="form-text text-muted">اختر مجموعة</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label>الصنف</label>
                                        <div class="col-12">
                                            @Html.DropDownList("ItemId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control select2 w-100", onchange = "Quote_Module.onItemChange()" })
                                            <span class="form-text text-muted">اختر الصنف</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="form-group row">
                                        <label>اسعار البيع السابقة</label>
                                        <div class="col-12">
                                            <select id="prevouisPrice" class="form-control din-med w-100" onchange="Quote_Module.ChangeCurrentPice()"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group row">
                                        <label>سياسة الاسعار</label>
                                        <div class="col-12">
                                            @Html.DropDownList("PricingPolicyId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control din-med w-100", onchange = "Quote_Module.onPricingPolicyChange()" })
                                            <span class="form-text text-muted">اختر الصنف</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group row">
                                        <label>وحدات الصنف</label>
                                        <div class="col-12">
                                            @Html.DropDownList("ItemUnitsId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control din-med w-100", onchange = "Quote_Module.onItemUnitChange()" })
                                            <span class="form-text text-muted">اختر وحدة الصنف</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group row">
                                        <label>الكمية</label>
                                        <div class="col-12">
                                            <input type="number" class="form-control " name="Quantity" id="Quantity" placeholder="الكمية" value="0" onkeyup="Quote_Module.onPriceOrQuanKeyUp();" />
                                            <span class="form-text text-muted">ادخل كمية الصنف</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group row">
                                        <label>سعر البيع</label>
                                        <div class="col-12">
                                            <input type="number" class="form-control " name="Price" id="Price" placeholder="سعر البيع" value="0" onkeyup="Quote_Module.onPriceOrQuanKeyUp();" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group row">
                                        <label>القيمة</label>
                                        <div class="col-12">
                                            <input type="number" class="form-control " name="Amount" id="Amount" placeholder="القيمة" value="0" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-group row">
                                        <label></label>
                                        <div class="col-12">
                                            <button type="button" onclick="Quote_Module.addItemDetails();" class="btn btn-primary font-weight-bold  px-15 w-100">اضافة صنف للفاتورة</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group row">
                                        <label></label>
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <div class="d-flex justify-content-between flex-column  font-size-lg">
                                                    <div class="d-flex flex-column text-md-center">
                                                        <span class="font-size-lg font-weight-bolder mb-1">اجمالي العدد</span>
                                                        <span class="font-size-h2 font-weight-boldest text-danger mb-1" id="TotalQuantity">@totalQuantity</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group row">
                                        <label>الاصناف المسجلة</label>
                                        <div class="col-12">
                                            <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_dtItemDetails">
                                                <thead>

                                                </thead>
                                                <tbody></tbody>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="separator separator-dashed my-10"></div>
                        <div class="my-52   din-med">
                            <h3 class="text-dark font-weight-bold mb-10">تسجيل الضرائب (ان وجدت):</h3>
                            <div class="row ">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label>احتساب الخصم</label>
                                        <div class="col-12">
                                            <div class="radio-inline">
                                                <div class="col-xl-6">
                                                    <label class="radio">
                                                        <input type="radio" name="radiosInvoice" id="rdo_valAllInvoice" @chkValRdo onchange="Quote_Module.onRdoInvoiceValChanged();" />
                                                        <input type="hidden" id="isInvoiceDisVal" name="isInvoiceDisVal" value="@isInvoiceDisVal" />
                                                        <span></span>قيمة
                                                    </label>
                                                </div>
                                                <div class="col-xl-3">
                                                    <label class="radio">
                                                        <input type="radio" name="radiosInvoice" id="rdo_percentageAllInvoice" @chkPerRdo onchange="Quote_Module.onRdoInvoicePercentageChanged();" />
                                                        <span></span>نسبة
                                                    </label>
                                                </div>
                                                <div class="col-xl-3" id="divDiscountPercentage" style="display:@displayDiscount">
                                                    <!--begin::Input-->
                                                    <div class="form-group">
                                                        <label>النسبة</label>
                                                        <input type="number" class="form-control " onkeyup="Quote_Module.onInvoiceDiscountChange();" name="DiscountPercentage" id="DiscountPercentage" placeholder="ادخل نسبة الخصم على الفاتورة" value="@Model.DiscountPercentage" />
                                                    </div>
                                                    <!--end::Input-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label>قيمة الخصم على الفاتورة</label>
                                        <div class="col-12">
                                            @*<input type="number" class="form-control " onkeyup="Quote_Module.onInvoiceDiscountChange();" name="InvoiceDiscount" id="InvoiceDiscount" placeholder="ادخل قيمة الخصم على الفاتورة" value="@Model.InvoiceDiscount" />*@
                                            @Html.TextBoxFor(model => model.InvoiceDiscount, htmlAttributes: new { @class = "form-control ", @onkeyup = "Quote_Module.onInvoiceDiscountChange();", @type = "number", @placeholder = "ادخل قيمة الخصم على الفاتورة" })

                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3">
                                    <!--begin::Input-->
                                    <div class="form-group row">
                                        <label> نسبة ضريبة القيمة المضافة</label>
                                        <div class="col-12">
                                            @Html.TextBoxFor(model => model.SalesTaxPercentage, htmlAttributes: new { @class = "form-control", @onkeyup = "Quote_Module.getSafyInvoice();", @type = "number", @placeholder = "ادخل نسبة ضريبة القيمة المضافة" })
                                        </div>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-lg-3">
                                    <!--begin::Input-->
                                    <div class="form-group row">
                                        <label> ضريبة القيمة المضافة</label>
                                        <div class="col-12">
                                            @Html.TextBoxFor(model => model.SalesTax, htmlAttributes: new { @class = "form-control", @type = "number", @placeholder = "ادخل قيمة ضريبة القيمة المضافة", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-lg-3">
                                    <!--begin::Input-->
                                    <div class="form-group row">
                                        <label>نسبة ضريبة ارباح تجارية</label>
                                        <div class="col-12">
                                            @Html.TextBoxFor(model => model.ProfitTaxPercentage, htmlAttributes: new { @class = "form-control", @onkeyup = "Quote_Module.getSafyInvoice();", @type = "number", @placeholder = "ادخل قيمة ضريبة ارباح تجارية" })
                                        </div>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-lg-3">
                                    <!--begin::Input-->
                                    <div class="form-group row">
                                        <label>قيمة ضريبة ارباح تجارية</label>
                                        <div class="col-12">
                                            @Html.TextBoxFor(model => model.ProfitTax, htmlAttributes: new { @class = "form-control", @type = "number", @placeholder = "ادخل قيمة ضريبة ارباح تجارية", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group row">
                                        <label>ملاحظات على الفاتورة</label>
                                        <div class="col-12 cke_rtl">
                                            @Html.TextAreaFor(x => x.Notes, htmlAttributes: new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-lg-12">
                                    <div class="form-group row">
                                        <label>ملاحظات اخرى </label>
                                        <div class="col-12">-->
                                @*<div id="ckeditor-classic"></div>*@
                                <!--</div>
                                    </div>
                                </div>-->
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                                            <div class="d-flex flex-column mb-10 mb-md-0">
                                                <div class="font-weight-bolder font-size-h6-lg mb-3">ملخص الفاتورة</div>
                                                <div class="d-flex justify-content-between mb-3">
                                                    <span class="mr-15 font-weight-bold">اجمالى الفاتورة:</span>
                                                    <span class="text-right" id="TotalAmount">@totalValue</span>
                                                    <span class="text-right d-none" id="TotalAmount2">@totalValue</span>
                                                </div>
                                                <div class="d-flex justify-content-between mb-3">
                                                    <span class="mr-15 font-weight-bold">اجمالى الخصومات:</span>
                                                    <span class="text-right" id="TotalDiscount">@totalDiscount</span>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-column text-md-right">
                                                <span class="font-size-lg font-weight-bolder mb-1">صافى الفاتورة</span>
                                                <span class="font-size-h2 font-weight-boldest text-danger mb-1" id="SafyInvoice">@safy</span>
                                                @*<span>Taxes Included</span>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        @*<label>ملاحظة هامة</label>*@
                                        <div class="alert alert-primary" role="alert">
                                            صافى قيمة الفاتورة= ( إجمالي قيمة الاصناف  + قيمة الضريبة المضافة  - إجمالي خصومات الفاتورة - قيمة ض.أ.ت.ص )
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12" style="text-align:center;">
                            @*<input type="button" onclick="Quote_Module.SubmitForm(this);" value="@btn" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px" />*@
                            <a href="javascript:void(0);" onclick="Quote_Module.SubmitForm(this);" class="btn btn-primary font-weight-bold w-25"><i class="@icon"></i>@btn</a>
                            <a href="javascript:void(0);" onclick="Quote_Module.SubmitForm(this,'print');" class="btn btn-primary font-weight-bold w-25"><i class="fa fa-print m-1"></i>حفظ عرض السعر وطباعه</a>

                            @*@if (Model.Id != Guid.Empty)
        {
            <a href="/Quotes/Index" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fa-solid fa-caret-left m-1"></i>عودة</a>
        }*@
                        </div>
                    </div>
                </div>}
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Assets/libs/@("@ckeditor")/ckeditor5-build-classic/build/ckeditor.js"></script>
    <script src="~/Assets/JSCustom/Quote.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            Quote_Module.initItemDetails();
        });
    </script>
    <script>
        var treeBasic;
        $(document).ready(function () {
            //الانتقال بين الحقول بالانتر وعند اضافة صنف
            $("#Quantity").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $("#Price").focus().select();
                }
            });
            $("#Price").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    Quote_Module.addItemDetails();
                }
            });
            $("#ItemId").on('select2:select', function () {
                setTimeout(function () { $("#Quantity").focus().select(); }, 2000)
            })
            $("#ItemUnitsId").on('change', function () {
                if ($("#ItemUnitsId").val() != null) {
                    setTimeout(function () { $("#Quantity").focus().select(); }, 2000)

                }
            });

            //المجموعة الاساسية
            var dsBasic = [];
            $.get("/SharedDataSources/onGroupTypeChange", { id: 1 }, function (data) {
                treeBasic.setSource(data);
            });

            treeBasic = $('#groupBasic').comboTree({
                source: dsBasic,
                isMultiple: false,
                collapse: true,
                selected: []
                //selectableLastNode: true

            });
            treeBasic.onChange(function () {
                if (treeBasic.getSelectedIds() != null) {
                    var currentSelected = treeBasic.getSelectedIds()[0];

                    $.get("/SharedDataSources/ItemsOnGroupChanged", { id: currentSelected }, function (data) {
                        $("#ItemId").empty();
                        $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                        $.each(data, function (index, row) {
                            $("#ItemId").append("<option value='" + row.Id + "'>" + row.Name + "</option>");
                        });
                    });

                }
            });
            // ============== نهاية المجموعة الاساسية

            //عند ادخال الباركود الصنف
            $("#ItemBarcode").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $.get("/SharedDataSources/ItemsBarcodeEnter", { barcode: $("#ItemBarcode").val() }, function (data) {
                        $("#ItemId").empty();
                        $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                        $.each(data, function (index, row) {
                            $("#ItemId").append("<option value='" + row.Id + "' selected>" + row.Name + "</option>");
                        });
                        $("#Price").val(0);
                        if (data[0].Name != null) {
                            Quote_Module.onItemChange();
                        }
                    });
                }
            });

            //عند ادخال السيريال الصنف
            $("#ItemSerial").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $.get("/SharedDataSources/ItemsSerialEnter", { serial: $("#ItemSerial").val(), isReturnBack: false }, function (data) {
                        if (data.length > 0) {
                            $("#ItemId").empty();
                            $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                            $.each(data, function (index, row) {
                                $("#ItemId").append("<option value='" + row.Id + "' selected>" + row.Name + "</option>");
                            });

                            $("#Price").val(0);
                            $("#Quantity").val(1);
                        } else {
                            toastr.error('السيريال غير موجود او تم استخدامه مسبقا فى عملية بيع', '');
                            return false;

                        }
                    });
                }
            });


        });



    </script>
    @*<script>
            var elements = document.getElementsByClassName("ckeditor-classic");
            for (var i = 0; i < elements.length; i++) {
                ClassicEditor.create(elements[i]).then(function (e) { e.ui.view.editable.element.style.height = "200px" }).catch(function (e) { console.error(e) });
            }
        </script>*@

    <!-- init js -->

}

