@model ERP.DAL.QuoteOrderSell
@using ERP.Web.Utilites


@{ ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn = string.Empty, icon = string.Empty;
    if (Model.Id == Guid.Empty)
    {
        title = "اضافة عرض سعر لعميل";
        btn = "تسجيل عرض سعر";
        icon = "fa fa-plus-circle m-1"; 
    }
        else
        {
            title = "تعديل عرض سعر ";
            btn = "تعديل";
            icon = "fa fa-edit m-1";
        } 
    }


@section PageTitle1{عروض اسعار}
@section PageTitle2{@title }
@section Button1{ادارة عروض الاسعار}
@section Button1Link{/Quotes/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">@title </h4>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("CreateEdit", "Quotes", FormMethod.Post, new { id = "form1" }))
            {
                <div class="card-body">

                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>الفرع</label>
                                @Html.DropDownList("BranchId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   form-control-solid  din-med", @onchange = "Quote_Module.getStoresOnBranchChanged();" })
                                @Html.HiddenFor(m => m.Id)
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>العميل</label>
                                @Html.DropDownList("CustomerId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2 din-med" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group required">
                                <label>تاريخ العملية </label>
                                @Html.TextBoxFor(m => m.InvoiceDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control din-med", @type = "date" })
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group required">
                                <label>ملاحظات </label>
                                @Html.TextBoxFor(m => m.Notes, htmlAttributes: new { @class = "form-control din-med" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h5 class=" din-bold">اضافة الاصناف</h5>
                            <hr />
                        </div>


                        <div class="col-lg-6">
                            <div class="form-group">
                                <label> المجموعة الاساسية</label>
                                <input style="text-align:right;" name="groupBasic" type="text" class="form-control din-med" id="groupBasic" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group required">
                                <label>الصنف</label>
                                @Html.DropDownList("ItemId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2 din-med" })
                            </div>
                        </div>

                        <div class="row col-lg-12">
                            <div class="col-lg-4">
                                <div class="form-group required">
                                    <label>الكمية</label>
                                    <input type="number" class="form-control din-med" name="Quantity" id="Quantity" placeholder="الكمية" value="0" onkeyup="Quote_Module.onPriceOrQuanKeyUp();" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group required">
                                    <label>سعر الوحدة </label>
                                    <input type="number" class="form-control din-med" name="Price" id="Price" placeholder="سعر الشراء" value="0" onkeyup="Quote_Module.onPriceOrQuanKeyUp();" />
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group required">
                                    <label>القيمة</label>
                                    <input type="number" class="form-control din-med" name="Amount" id="Amount" placeholder="القيمة" value="0" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>.</label>
                                <button type="button" onclick="Quote_Module.addItemDetails();" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100">اضافة الصنف </button>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>الاصناف المسجلة</label>
                                <table class="table table-separate table-head-custom table-foot-custom table-checkable" id="kt_dtItemDetails">
                                    <thead>

                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12" style="text-align:left;">
                            @*<input type="button" onclick="Quote_Module.SubmitForm(this);" value="@btn" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px" />*@
                            <a href="javascript:void(0);" onclick="Quote_Module.SubmitForm(this);" class="btn btn-primary font-weight-bold w-100"><i class="@icon"></i>@btn</a>
                            @*@if (Model.Id != Guid.Empty)
                                {
                                    <a href="/Quotes/Index" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fa-solid fa-caret-left m-1"></i>عودة</a>
                                }*@
                        </div>
                    </div>
                </div>}
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Assets/JSCustom/Quote.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Quote_Module.initItemDetails();
        });
    </script>
    <script>
        var treeBasic;
        $(document).ready(function () {
            //الانتقال بين الحقول بالانتر وعند اضافة صنف
            $("#Quantity").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $("#Price").focus().select();
                }
            });
            $("#Price").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    Quote_Module.addItemDetails();
                }
            });
            $("#ItemId").on('select2:select', function () {
                setTimeout(function () { $("#Quantity").focus().select(); }, 2000)
            })
            //المجموعة الاساسية
            var dsBasic = [];
            $.get("/SharedDataSources/onGroupTypeChange", { id: 1 }, function (data) {
                treeBasic.setSource(data);
            });

            treeBasic = $('#groupBasic').comboTree({
                source: dsBasic,
                isMultiple: false,
                collapse: true,
                selected: []
                //selectableLastNode: true

            });
            treeBasic.onChange(function () {
                if (treeBasic.getSelectedIds() != null) {
                    var currentSelected = treeBasic.getSelectedIds()[0];

                    $.get("/SharedDataSources/ItemsOnGroupChanged", { id: currentSelected }, function (data) {
                        $("#ItemId").empty();
                        $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                        $.each(data, function (index, row) {
                            $("#ItemId").append("<option value='" + row.Id + "'>" + row.Name + "</option>");
                        });
                    });

                }
            });
            // ============== نهاية المجموعة الاساسية

        });
    </script>

}

