@using ERP.Web.Utilites
@using ERP.DAL.Utilites
@{
    VTSAuth auth = new VTSAuth();
    string imagePerson = string.Empty;
    string userName = string.Empty;
    string entityName = string.Empty;
    imagePerson = "../../Files/Users/defaultImage.jpg";

    if (auth.CheckCookies())
    {
        auth.LoadDataFromCookies();
        userName = auth.CookieValues.UserName;
        entityName = auth.CookieValues.EntityName;
        if (auth.CookieValues.Image != null)
        {
            imagePerson = "../../Files/Users/" + auth.CookieValues.Image;
        }
    }
    //تستخدم فى حالة البحث من الصفحة الرئيسية ويتم ارسالها الى الشاشة الخاصه بها
    if (HttpContext.Current.Request.QueryString.AllKeys.Contains("src"))
    {
        TempData["txtSearch"] = HttpContext.Current.Request.QueryString["src"].ToString();
    }
    else
    {
        TempData["txtSearch"] = null;
    }
}
<!doctype html>
<html lang="en" dir="rtl">
<head>

    <meta charset="utf-8" />
    <title>@entityName | لوحة التحكم</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico">
    <!-- plugin css -->
    <link href="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

    <!-- preloader css -->
    <link rel="stylesheet" href="~/assets/css/preloader.min.css" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap-rtl.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app-rtl.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <!-- DataTables -->

    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- color picker css -->
    <link rel="stylesheet" href="~/assets/libs/simonwep/pickr/themes/classic.min.css" /> <!-- 'classic' theme -->
    <link rel="stylesheet" href="~/assets/libs/simonwep/pickr/themes/monolith.min.css" /> <!-- 'monolith' theme -->
    <link rel="stylesheet" href="~/assets/libs/simonwep/pickr/themes/nano.min.css" /> <!-- 'nano' theme -->
    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- choices css -->
    <link href="~/assets/libs/choices.js/public/assets/styles/choices.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/vts-rtl-style.css" rel="stylesheet" />
    <link href="~/Assets/css/toastr.min.css" rel="stylesheet" />
    <!-- DropDown tree-->
    <link href="~/Assets/plugins/DropDownComboTree/style.css" rel="stylesheet" />
    <!-- Sweet Alert-->
    <link href="~/Assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <!-- select2-->
    <link href="~/Assets/plugins/Select2/select2.min.css" rel="stylesheet" />

    <style>

        .form-group.required label:after {
            color: #d00;
            font-family: 'Glyphicons Halflings';
            font-weight: normal;
            font-size: 15px;
            content: "*";
            position: absolute;
            margin-left: 8px;
        }

        .noteLable {
            color: green;
            font-size: 12px;
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
    @RenderSection("Styles", false);

</head>

<body class="din-bold">

    <!-- <body data-layout="horizontal"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">


        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box" style="width:300px;padding-top:5px;padding-bottom:5px;">
                        <a href="@Url.Action("Index","Home")" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="~/assets/media/logos/favicon.ico" alt="" height="24" />
                            </span>
                            <span class="logo-lg">
                                <img src="~/assets/media/logos/black-logo.png" alt="" width="150" />
                            </span>
                        </a>

                        <a href="@Url.Action("Index","Home")" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="~/assets/media/logos/favicon.ico" alt="" height="24" />
                            </span>
                            <span class="logo-lg">
                                <img src="~/assets/media/logos/black-logo.png" alt="" width="150" />
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                    <!-- App Search-->
                    @*<form class="app-search d-none d-lg-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <button class="btn btn-primary" type="button"><i class="bx bx-search-alt align-middle"></i></button>
                            </div>
                        </form>*@
                </div>

                <div class="d-flex">


                    <div class="dropdown d-none d-sm-inline-block">
                        <button type="button" class="btn header-item" id="mode-setting-btn">
                            <i data-feather="moon" class="icon-lg layout-mode-dark fa fa-moon"></i>
                            <i data-feather="sun" class="icon-lg layout-mode-light fa fa-sun"></i>
                        </button>
                    </div>




                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item right-bar-toggle me-2">
                            <i data-feather="settings" class="icon-lg"></i>
                        </button>
                    </div>

                    <div class="dropdown d-inline-block din-bold">
                        <button type="button" class="btn header-item bg-soft-light border-start border-end" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="~/assets/images/users/avatar-1.jpg"
                                 alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1 fw-medium ">مرحبا  &nbsp; @userName</span>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="@Url.Action("Update","Home")"><i class="mdi mdi-face-profile font-size-16 align-middle me-1"></i> تعديل بياناتى الشخصية</a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("LogOut","Default")" class="btn btn-soft-primary font-weight-bold din-bold">تسجيل خروج</a>

                        </div>
                    </div>

                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        @Html.Partial("_SideBar")


        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content" style="margin-right:300px;">

            <div class="page-content pt-5" id="kt_content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between pt-3 pb-10" id="kt_subheader" style="position:sticky;">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item din-bold">
                                            @RenderSection("PageTitle1", false) &nbsp;
                                            <span class="din-light">|</span> &nbsp;
                                        </li>
                                        <li class="din-bold">@RenderSection("PageTitle2", false)</li>
                                    </ol>
                                </div>

                                <h3 class="font-size-18 mt-3">
                                    <a href=@RenderSection("Button1Link",false) class=" btn btn-primary din-bold d-inline" @RenderSection("Button1Action", false)>@RenderSection("icon", false)  @RenderSection("Button1", false)</a>
                                    @RenderSection("Button2", false)

                                </h3>
                            </div>

                        </div>
                    </div>
                    @RenderBody()

                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        @*<script>document.write(new Date().getFullYear())</script>*@ © Pekar
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & Develop by
                            <a href="https://www.vts-co.com" class="text-decoration-underline">VTS</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
    <!-- END layout-wrapper -->
    <!-- Right Sidebar -->
    <!-- /Right-bar -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <!-- pace js -->
    <script src="~/assets/libs/pace-js/pace.min.js"></script>

    <!-- apexcharts -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Plugins js-->
    <script src="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
    <!-- dashboard init -->
    <script src="~/assets/js/pages/dashboard.init.js"></script>

    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/assets/js/pages/datatables.init.js"></script>

    <script src="~/assets/js/app.js"></script>
    <!-- twitter-bootstrap-wizard js -->
    <script src="~/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/assets/libs/twitter-bootstrap-wizard/prettify.js"></script>

    <!-- form wizard init -->
    <script src="~/assets/js/pages/form-wizard.init.js"></script>
    <!-- choices js -->
    <script src="~/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>


    <!-- datepicker js -->
    <script src="~/assets/libs/flatpickr/flatpickr.min.js"></script>
    <!-- color picker js -->
    <script src="~/assets/libs/simonwep/pickr/pickr.min.js"></script>
    <script src="~/assets/libs/simonwep/pickr/pickr.es5.min.js"></script>

    <!-- init js -->
    <script src="~/assets/js/pages/form-advanced.init.js"></script>
    <script src="~/assets/js/pages/bootstrap-toasts.init.js"></script>
    <!-- choices js -->
    <script src="~/Assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <!-- init js -->
    <script src="~/Assets/js/pages/form-advanced.init.js"></script>
    <script src="~/Assets/js/toastr.min.js"></script>
    <script src="~/Assets/JSCustom/JQuery_Sum.js"></script>
    <script src="~/Assets/plugins/Select2/select2.full.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>
    <!-- DropDown tree-->
    <script src="~/Assets/plugins/DropDownComboTree/comboTreePlugin.js"></script>
    <!-- Sweet Alerts js -->
    <script src="~/Assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="~/Assets/js/pages/sweetalert.init.js"></script>

    <script type="text/javascript">
        //========Prevent Double Click in jQuery
        document.addEventListener('click', function (e) {
            //console.log(e.target);
            if (e.target.nodeName === 'BUTTON' || e.target.nodeName === 'I' || e.target.nodeName === 'A') {
                var $el = $(this);
                //console.log($(this).target);

                if ($el.data('clicked')) {
                    // Previously clicked, stop actions
                    e.preventDefault();
                    e.stopPropagation();
                } else {
                    // Mark to ignore next click
                    $el.data('clicked', true);
                    // Unmark after 1 second
                    window.setTimeout(function () {
                        $el.removeData('clicked');
                    }, 1000)
                }
            }
        }, true //capturing phase!!
        );
        $(document).ready(function () {
            $(document).ajaxComplete(function (event, xhr, settings) {
                var unAutorized = JSON.parse(xhr.responseText);
                if (unAutorized.Error === "UnAutorized") {
                    window.location = "/Default/Login?MsgBadLogin=1&returnUrl=" + window.location.href;
                    return false;
                }
                //console.log(settings.url);
                //if (settings.url === "ajax/test.html") {
                //    $(".log").text("Triggered ajaxComplete handler. The result is " +
                //        xhr.responseText);
                //}

                //
            });



        });

        //======trigger a confirmation dialog asking the user if they really want to leave the page
        //======منع الانتقال الى صفحة اخرى فى حالة ادخال بيانات بالصفحة الحالية
        //const beforeUnloadListener = (event) => {
        //    event.preventDefault();
        //    return event.returnValue = "يوجد بيانات تم ادخالها ... هل انت متأكد من مغادرة الصفحة";
        //};

        //document.addEventListener("input", (event) => {
        //    if (event.target.value !== "") {
        //        addEventListener("beforeunload", beforeUnloadListener, { capture: true });
        //    } else {
        //        removeEventListener("beforeunload", beforeUnloadListener, { capture: true });
        //    }
        //});






        //window.onbeforeunload = function (evt) {
        //    var message = 'Are you sure you want to leasssve?';
        //    if (typeof evt == 'undefined') {
        //        evt = window.event;
        //    }
        //    if (evt) {
        //        evt.returnValue = message;
        //    }
        //    return message;
        //}

        //$('input').change(function () {
        //    if ($(this).val() != "")
        //        window.onbeforeunload = "Are you sure you want to leave?";
        //});

        //$(window).bind("beforeUnload", verify);
        //$("form").submit(function () {
        //    $(window).unbind("beforeUnload");
        //});
        //==========================================

        //function urlClick(url) {
        //    $('.content').load(ulr);
        //    return false;
        //    //var url = $(this).attr('href');
        //    //alert(url);
        //    $('.content').load(ulr);
        //    return false;
        //}
    </script>
    <script>
        //ادداة البحث فى القائمة الجانبية
        function onSearchMenuChange() {
            window.location = $("#SearchMenu").val();
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                //theme: "classic"
            });
        })
    </script>
    @RenderSection("Scripts", false)

</body>

</html>