
@model ERP.Web.ViewModels.SaleMenSellInvoiceVM
@using ERP.DAL
@{ ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn, icon = string.Empty;

    double totalValue = 0;   // اجمالى الفاتورة (المبيعات)
    double totalItemDiscount = 0; // اجمالى الخصومات على الاصناف
    double totalExpenses = 0; // اجمالى المصروفات
    double totalDiscount = 0; // اجمالى الخصومات على كل الفاتورة
    double safy = 0; // صافى الفاتورة
    string showDiv = "none";
    if (Model.Id == Guid.Empty)
    {
        title = "تسجبل فاتورة مرتجع بيع";
        btn = "اضافة";
        icon = "fa fa-plus-circle m-1";
    }
    else
    {
        if (Model.BySaleMen)
        {
            showDiv = "flex";
        }
        title = "تعديل فاتورة مرتجع بيع ";
        btn = "تعديل";
        icon = "fa fa-edit m-1";
        totalValue = Model.TotalValue;
        totalItemDiscount = Model.TotalItemDiscount;
        totalDiscount = Model.TotalDiscount;
        safy = Model.Safy;
    } }

@section PageTitle1{فواتير مرتجع البيع}
@section PageTitle2{@title }
@section Button1{ادارة فواتير مرتجع البيع}
@section Button1Link{/SaleMenSellBackInvoices/Index}
@section icon{<i class="fa fa-cog m-1"></i>}
@{
    if (ViewBag.ErrorMsg == null)
    {

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div id="basic-pills-wizard" class="twitter-bs-wizard">
                        <div class="card-header din-bold">
                            <ul class="twitter-bs-wizard-nav">
                                <li class="nav-item">
                                    <a href="#seller-details" class="nav-link" data-toggle="tab">
                                        <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Seller Details">
                                            <i class="bx bx-list-ul"></i>
                                        </div>
                                        <h4 style="margin-top:30px;">
                                            1. البيانات الاساسية للفاتورة
                                        </h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#seller-details2" class="nav-link" data-toggle="tab">
                                        <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Seller Details">
                                            <i class="bx bx-list-ul"></i>
                                        </div>
                                        <h4 style="margin-top:30px;">
                                            2.  اصناف للفاتورة
                                        </h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#seller-details3" class="nav-link" data-toggle="tab">
                                        <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Seller Details">
                                            <i class="bx bx-list-ul"></i>
                                        </div>
                                        <h4 style="margin-top:30px;">
                                            3. ضرائب وملخص
                                        </h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body din-bold">

                            @using (Html.BeginForm("CreateEdit", "SaleMenSellBackInvoices", FormMethod.Post, htmlAttributes: new { id = "kt_form" }))
                            {
                            <div class="tab-content twitter-bs-wizard-tab-content">
                                <div class="tab-pane" id="seller-details">
                                    <div class="text-center mb-4">
                                        <h5>البيانات الاساسية</h5>
                                    </div>
                                    @Html.HiddenFor(x => x.Id)
                                    @Html.HiddenFor(x => x.InvoiceGuid)
                                    @Html.HiddenFor(x => x.SaleMenEmployeeId)
                                    @Html.HiddenFor(x => x.BranchId)
                                    @Html.HiddenFor(x => x.SaleMenStoreId)
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <!--begin::Select-->
                                            <div class="form-group">
                                                <label>فئات العملاء</label>
                                                @Html.DropDownList("PersonCategoryId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   form-control-solid form-control-lg din-med", @onchange = "SaleMenSellBackInvoice_Module.getCustomerOnCategoryChange();" })
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <!--begin::Select-->
                                            <div class="form-group required">
                                                <label>العميل</label>
                                                @Html.DropDownList("CustomerId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2 din-med", @onchange = "removeClassInValid();" })
                                                <span class="form-text text-muted">ادخل العميل </span>
                                            </div>
                                            <!--end::Select-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group required">
                                                <label>تاريخ الفاتورة</label>
                                                @Html.TextBoxFor(model => model.InvoiceDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control form-control-solid form-control-lg", type = "date" })
                                                <span class="form-text text-muted">ادخل تاريخ الفاتورة </span>
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Select-->
                                            <div class="form-group required">
                                                <label>طريقة السداد</label>
                                                @Html.DropDownList("PaymentTypeId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med", @onchange = "SaleMenSellBackInvoice_Module.onPaymentTypeChanged();" })
                                            </div>
                                            <!--end::Select-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>رقم فاتورة البيع</label>
                                                @Html.TextBoxFor(model => model.SellInvoiceId, null, htmlAttributes: new { @class = "form-control form-control-solid form-control-lg", @type = "number" })
                                                <span class="form-text text-muted">ادخل رقم فاتورة البيع ان وجدت</span>
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        @*<div class="col-xl-6">
                    <div class="form-group">
                        <label>المندوب</label>
                        @Html.DropDownList("SaleMenId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   form-control-solid form-control-lg select2 din-med" })
                    </div>
                </div>*@
                                    </div>
                                    <script>
                                        function removeClassInValid() {
                                            if ($("#CustomerId").val() > 0) {
                                                $(".fv-plugins-message-container").hide()
                                            };
                                            //$.get("/SharedDataSources/GetSaleMenByCustomer", { id: $("#CustomerId").val() }, function (data) {
                                            //    $("#SaleMenId").empty();
                                            //    $("#SaleMenId").append("<option value=>اختر عنصر من القائمة</option>");
                                            //    $.each(data, function (index, row) {
                                            //        $("#SaleMenId").append("<option value='" + row.Id + "'>" + row.Name + "</option>");
                                            //    });
                                            //});
                                        }
                                    </script>

                                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="next" style="margin-bottom:10px;">
                                            <a href="javascript: void(0);" class="btn btn-primary">
                                                التالي <i class="bx bx-chevron-left ms-1"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end::Wizard Step 1-->
                                <!--begin::Wizard Step 2 بدلات واضافات الموظف-->
                                <div class="tab-pane" id="seller-details2">
                                    <div class="text-center mb-4">
                                        <h5>
                                            اضافة اصناف الفاتورة
                                        </h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <!--begin::Select-->
                                            <div class="form-group alert alert-primary">
                                                <label>حالة الاسترجاع</label>
                                                <div class="radio-inline">
                                                    <div class="col-xl-6">
                                                        <label class="radio">
                                                            <input type="radio" checked name="radios2" id="rdo_barcode" onchange="SaleMenSellBackInvoice_Module.onRdoBarcodeChanged();" />
                                                            <span></span>استرجاع بكميات
                                                        </label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <label class="radio">
                                                            <input type="radio" name="radios2" id="rdo_serial" onchange="SaleMenSellBackInvoice_Module.onRdoSerialChanged();" />
                                                            <span></span>استرجاع حسب السيريال نمبر
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end::Select-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12" id="barcodeDiv">
                                            <div class="form-group">
                                                <label>باركود الصنف</label>
                                                @Html.TextBox("ItemBarcode", null, htmlAttributes: new { @class = "form-control form-control-solid form-control-lg" })
                                                <span class="form-text text-muted">باركود الصنف</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 " style="display:none;" id="serialDiv">
                                            <div class="form-group">
                                                <label>سيريال الصنف</label>
                                                @Html.TextBox("ItemSerial", null, htmlAttributes: new { @class = "form-control form-control-solid form-control-lg" })
                                                <span class="form-text text-muted">سيريال الصنف</span>
                                                <input type="hidden" id="serialItemId" />
                                                <input type="hidden" id="productionOrderId" />
                                                <input type="hidden" id="isIntial" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group required">
                                                <label> المجموعة الاساسية</label>
                                                <input name="groupBasic" type="text" class="form-control form-control-solid form-control-lg" id="groupBasic" autocomplete="off" />
                                                <span class="form-text text-muted">اختر مجموعة</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group required">
                                                <label>الصنف</label>
                                                @Html.DropDownList("ItemId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2 din-med w-100", onchange = "SaleMenSellBackInvoice_Module.onItemChange()" })
                                                <span class="form-text text-muted">اختر الصنف</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @*<div class="col-xl-6">
                    <div class="form-group required">
                        <label>المخزن</label>
                        @Html.DropDownList("StoreId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2 din-med" })
                        <span class="form-text text-muted">اختر المخزن </span>
                    </div>
                </div>*@
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>سعر البيع</label>
                                                <input type="number" readonly class="form-control form-control-solid form-control-lg" name="Price" id="Price" placeholder="سعر البيع" value="0" onkeyup="SaleMenSellBackInvoice_Module.onPriceOrQuanKeyUp();" />
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>الكمية</label>
                                                <input type="number" class="form-control form-control-solid form-control-lg" name="Quantity" id="Quantity" placeholder="الكمية" value="0" onkeyup="SaleMenSellBackInvoice_Module.onPriceOrQuanKeyUp();" />
                                                <span class="form-text text-muted">ادخل كمية الصنف</span>
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>القيمة</label>
                                                <input type="number" class="form-control form-control-solid form-control-lg" name="Amount" id="Amount" placeholder="القيمة" value="0" readonly />
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>قيمة الخصم على الصنف</label>
                                                <input type="number" class="form-control form-control-solid form-control-lg" name="ItemDiscount" id="ItemDiscount" placeholder="ادخل قيمة الخصم على الصنف" value="0" />
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-6">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>.</label>
                                                <button type="button" onclick="SaleMenSellBackInvoice_Module.addItemDetails();" class="btn btn-warning font-weight-bold  px-15 py-4 w-100">اضافة صنف للفاتورة</button>
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>الاصناف المسجلة</label>
                                        <table class="table table-separate table-head-custom table-foot-custom table-checkable" id="kt_dtItemDetails">
                                            <thead>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot></tfoot>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="d-flex justify-content-between flex-column  font-size-lg">
                                                <div class="d-flex flex-column text-md-center">
                                                    <span class="font-size-lg font-weight-bolder mb-1">اجمالي الفاتورة</span>
                                                    <span class="font-size-h2 font-weight-boldest text-danger mb-1" id="TotalAmount">@totalValue</span>
                                                    @*<span>Taxes Included</span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="d-flex justify-content-between flex-column  font-size-lg">
                                                <div class="d-flex flex-column text-md-center">
                                                    <span class="font-size-lg font-weight-bolder mb-1">اجمالي الخصومات على الاصناف</span>
                                                    <span class="font-size-h2 font-weight-boldest text-danger mb-1" id="TotalItemDiscount">@totalItemDiscount</span>
                                                    @*<span>Taxes Included</span>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="previous">
                                            <a href="javascript: void(0);" class="btn btn-primary">
                                                <i class="bx bx-chevron-right me-1"></i> السابق
                                            </a>
                                        </li>
                                        <li class="next">
                                            <a href="javascript: void(0);" class="btn btn-primary">
                                                التالي <i class="bx bx-chevron-left ms-1"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end::Wizard Step 2-->
                                <!--begin::Wizard Step 3 ادخال خصومات الموظف-->
                                <div class="tab-pane" id="seller-details3">
                                    <div class="text-center mb-4">
                                        <h5>
                                            تسجيل الضرائب (ان وجدت)
                                        </h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>قيمة الخصم على الفاتورة</label>
                                                <input type="number" class="form-control form-control-solid form-control-lg" onkeyup="SaleMenSellBackInvoice_Module.onInvoiceDiscountChange();" name="InvoiceDiscount" id="InvoiceDiscount" placeholder="ادخل قيمة الخصم على الفاتورة" value="@Model.InvoiceDiscount" />
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label> ضريبة القيمة المضافة</label>
                                                <input type="number" class="form-control form-control-solid form-control-lg" onkeyup="SaleMenSellBackInvoice_Module.getSafyInvoice();" name="SalesTax" id="SalesTax" placeholder="ادخل قيمة ضريبة القيمة المضافة" value="@Model.SalesTax" />
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>قيمة ضريبة ارباح تجارية</label>
                                                <input type="number" class="form-control form-control-solid form-control-lg" onkeyup="SaleMenSellBackInvoice_Module.getSafyInvoice();" name="ProfitTax" id="ProfitTax" placeholder="ادخل قيمة ضريبة ارباح تجارية" value="@Model.ProfitTax" />
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>المبلغ المدفوع</label>
                                                <input type="number" class="form-control form-control-solid form-control-lg" onkeyup="SaleMenSellBackInvoice_Module.onPayedValueChange();" name="PayedValue" id="PayedValue" placeholder="ادخل المبلغ المدفوع" value="@Model.PayedValue" />
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-6">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>المبلغ المتبقى</label>
                                                <input type="number" class="form-control form-control-solid form-control-lg" name="RemindValue" id="RemindValue" readonly value="@Model.RemindValue" />
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>تاريخ استحقاق الفاتورة</label>
                                                <input type="date" class="form-control form-control-solid form-control-lg" name="DueDate" id="DueDate" placeholder="ادخل تاريخ الاستحقاق" value="@Model.DueDate" />
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-xl-6">
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                <label>ملاحظات على الفاتورة</label>
                                                @Html.TextAreaFor(x => x.Notes, htmlAttributes: new { @class = "form-control form-control-solid form-control-lg" })
                                                @*<textarea class="form-control form-control-solid form-control-lg"  name="Notes" id="Notes" ></textarea>*@
                                            </div>
                                            <!--end::Input-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                                            <div class="d-flex flex-column mb-10 mb-md-0">
                                                <div class="font-weight-bolder font-size-h6-lg mb-3">ملخص الفاتورة</div>
                                                <div class="d-flex justify-content-between mb-3">
                                                    <span class="mr-15 font-weight-bold">اجمالى الفاتورة:</span>
                                                    <span class="text-right" id="TotalAmount2">@totalValue</span>
                                                </div>
                                                <div class="d-flex justify-content-between mb-3">
                                                    <span class="mr-15 font-weight-bold">اجمالى الخصومات:</span>
                                                    <span class="text-right" id="TotalDiscount">@totalDiscount</span>
                                                </div>
                                                <div class="d-flex justify-content-between mb-3">
                                                    <span class="mr-15 font-weight-bold">اجمالى الإيرادات:</span>
                                                    <span class="text-right" id="TotalExpenses2">@totalExpenses</span>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-column text-md-right">
                                                <span class="font-size-lg font-weight-bolder mb-1">صافى الفاتورة</span>
                                                <span class="font-size-h2 font-weight-boldest text-danger mb-1" id="SafyInvoice">@safy</span>
                                                @*<span>Taxes Included</span>*@
                                            </div>
                                        </div>
                                    </div>
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        @*<label>ملاحظة هامة</label>*@
                                        <div class="alert alert alert-primary" role="alert">
                                            صافى قيمة الفاتورة= ( إجمالي قيمة مرتجع المبيعات + إجمالي قيمة الايرادات + قيمة الضريبة المضافة  - إجمالي خصومات الفاتورة - قيمة ض.أ.ت.ص )
                                        </div>
                                    </div>
                                    <!--end::Input-->
                                    <ul class="pager wizard twitter-bs-wizard-pager-link" style="margin-bottom:10px;">
                                        <li class="previous">
                                            <a href="javascript: void(0);" class="btn btn-primary">
                                                <i class="bx bx-chevron-right me-1"></i> السابق
                                            </a>
                                        </li>
                                        <li class="next">
                                            <button type="button" class="btn btn-success px-9 py-4" onclick="SaleMenSellBackInvoice_Module.SubmitForm(this,false)" data-wizard-type="action-submit">
                                                <span><i class="fa fa-plus m-1"></i></span>حفظ الفاتورة
                                            </button>
                                            <button type="button" class="btn btn-success px-9 py-4" onclick="SaleMenSellBackInvoice_Module.SubmitForm(this,true)" data-wizard-type="action-submit">
                                                <span><i class="fa fa-plus m-1"></i></span>حفظ الفاتورة ورفع ملفات
                                            </button>


                                        </li>
                                    </ul>  <!--end::Input-->
                                </div> <!--end::Wizard Step 4--> <!--begin::Wizard Actions-->
                              
                                </div> <!--end::Wizard Actions-->
                            }
                                <!--end::Wizard Form-->
                            </div>
                            </div>
            <!--end::Wizard Body-->
        </div>
        </div>
        <!--end::Wizard-->
        </div> <!--end::Container-->
        <!--end::Entry-->
        } }
@section Scripts
{
    @if (ViewBag.ErrorMsg != null)
    {
        <script>
            $(document).ready(function () {
                toastr.error('@ViewBag.ErrorMsg', '')
            });
        </script>
    }
    <script src="~/Assets/JSCustom/SaleMenSellBackInvoice.js"></script>
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/Assets/JSCustom/JSMetronic/wizard-SaleMenSellInvoice.js"></script>
    <!--end::Page Scripts-->
    <script type="text/javascript">
        $(document).ready(function () {
            SaleMenSellBackInvoice_Module.initItemDetails();

            //عند ادخال الباركود الصنف
            $("#ItemBarcode").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $.get("/SharedDataSources/ItemsBarcodeEnter", { barcode: $("#ItemBarcode").val() }, function (data) {
                        $("#ItemId").empty();
                        $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                        $.each(data, function (index, row) {
                            $("#ItemId").append("<option value='" + row.Id + "' selected>" + row.Name + "</option>");
                        });
                        $("#Price").val(0);
                        if (data[0].Name != null) {
                            SaleMenSellBackInvoice_Module.onItemChange();
                        }
                    });
                }
            });
            //عند ادخال السيريال الصنف
            $("#ItemSerial").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $.get("/SharedDataSources/ItemsSerialEnter", { serial: $("#ItemSerial").val() }, function (data) {
                        if (data.length > 0) {
                            $("#ItemId").empty();
                            $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                            $.each(data, function (index, row) {
                                $("#ItemId").append("<option value='" + row.Id + "' selected>" + row.Name + "</option>");
                            });

                            $("#Price").val(0);
                            if (data[0].Name != null) {
                                SaleMenSellBackInvoice_Module.onItemChange();
                            }
                            $("#serialItemId").val(data[0].SerialItemId);
                            $("#productionOrderId").val(data[0].ProductionOrderId);
                            $("#isIntial").val(data[0].IsIntial);
                        } else {
                            toastr.error('السيريال غير موجود او تم استخدامه مسبقا فى عملية بيع', '');
                            return false;

                        }
                    });
                }
            });
        });

    </script>
    <script>
        var treeBasic;
        $(document).ready(function () {
            //المجموعة الاساسية
            var dsBasic = [];
            $.get("/SharedDataSources/onGroupTypeChange", { id: 1 }, function (data) {
                treeBasic.setSource(data);
            });

            treeBasic = $('#groupBasic').comboTree({
                source: dsBasic,
                isMultiple: false,
                collapse: true,
                selected: []
                //selectableLastNode: true

            });
            treeBasic.onChange(function () {
                if (treeBasic.getSelectedIds() != null) {
                    var currentSelected = treeBasic.getSelectedIds()[0];

                    $.get("/SharedDataSources/ItemsOnGroupChanged", { id: currentSelected }, function (data) {
                        $("#ItemId").empty();
                        $("#ItemId").append("<option value=>اختر عنصر من القائمة</option>");
                        $.each(data, function (index, row) {
                            $("#ItemId").append("<option value='" + row.Id + "'>" + row.Name + "</option>");
                        });
                    });

                }
            });
            // ============== نهاية المجموعة الاساسية

        });
    </script>
}
