

@model ERP.DAL.SupplierPayment
@using ERP.DAL

@{ ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn = string.Empty, icon = string.Empty;
    if (Model.Id == Guid.Empty)
    {
        title = "تسجيل عملية صرف لمورد";
        btn = "اضافة";
        icon = "fa fa-plus-circle m-1";
    }
    else
    {
        title = "تعديل دفعة مالية لمورد ";
        btn = "تعديل";
        icon = "fa fa-edit m-1";
    } }


@section PageTitle1{صرف نقدى/بنكى لمورد}
@section PageTitle2{@title }
@section Button1{ادارة دفعة مالية لمورد}
@section Button1Link{/SuppliersPayments/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">
                            @title
                        </h4>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("CreateEdit", "SuppliersPayments", FormMethod.Post, new { id = "form1" }))
            {
<div class="card-body">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group required">
                <label>اسم المورد</label>
                @Html.DropDownList("SupplierId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2 din-med", @onchange = "getPesonBalance();" })
                @Html.HiddenFor(model => model.Id)
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>مديونية المورد</label>
                @Html.TextBox("PesonBalance", "0", htmlAttributes: new { @readonly = "readonly", @class = "form-control din-med", @style = "text-align:right;" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>رقم فاتورة التوريد </label>
                @Html.TextBoxFor(m => m.PurchaseInvoiceId, htmlAttributes: new { @class = "form-control din-med", @type = "number" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group required">
                <label>تاريخ العملية </label>
                @Html.TextBoxFor(m => m.PaymentDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control din-med", @type = "date" })
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group required">
                <label>المبلغ</label>
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @style = "text-align:right;" })
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group required">
                <label>الفرع</label>
                @Html.DropDownList("BranchId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med", @onchange = "SupplierPayment_Module.getSafesOnBranchChanged();" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>خزينة</label>
                <div class="input-group">
                  
                        <span class="input-group-text">$</span>
                    
                    @Html.DropDownList("SafeId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med", @aria_label = "Text input with radio" })
                   
                        <span class="input-group-text">
                            
                                <input type="radio" name="radios2" id="rdo_safe" checked onchange="SupplierPayment_Module.onRdoSafeChanged();" />
                        </span>
                    </div>
                
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>بنك</label>
                <div class="input-group">
                        <span class="input-group-text">$</span>
                    @Html.DropDownList("BankAccountId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med" })
                  <span class="input-group-text">
                         <input type="radio" name="radios2" id="rdo_bank" onchange="SupplierPayment_Module.onRdoBankChanged();" />
                 </span>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 alert alert-primary" style="display:none;" id="divCheck">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>رقم الشيك</label>
                    @Html.TextBoxFor(m => m.CheckNumber, htmlAttributes: new { @class = "form-control din-med" })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>تاريخ الاصدار</label>
                    @Html.TextBoxFor(m => m.CheckDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control din-med", @type = "date" })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>تاريخ الاستحقاق</label>
                    @Html.TextBoxFor(m => m.CheckDueDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control din-med", @type = "date" })
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group ">
                <label>البيان</label>
                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12" style="text-align:left;">
                            @*<input type="button" onclick="SupplierPayment_Module.SubmitForm(this);" value="@btn" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px" />*@
                            <a href="javascript:void(0);" onclick="SupplierPayment_Module.SubmitForm(this);" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px"><i class="@icon"></i>@btn</a>
                            @if (Model.Id != Guid.Empty)
                            {
            <a href="/SuppliersPayments/Index" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fa-solid fa-caret-left m-1"></i>عودة</a>}
                        </div>
                    </div>
                </div>}
        </div>
    </div>
    @if (Model.Id == Guid.Empty && ViewBag.LastRow != null)
    {
        var modl = ViewBag.LastRow as SupplierPayment;

<div class="col-lg-12">
    <div class="card card-custom gutter-b">

        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">اخر بيان تم اضافته</h3>
            </div>
        </div>
        <div class="card-body">
            <!--begin::Example-->
            <div class="example mb-10">
                <table class="table table-hover mb-6">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">المورد</th>
                            <th scope="col">المبلغ</th>
                            <th scope="col">الملاحظة</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>@modl.PersonSupplier.Name</td>
                            <td>@modl.Amount</td>
                            <td>@modl.Notes</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end::Example-->
        </div>
    </div>
</div>}
</div>

@section Scripts
{
    <script src="~/Assets/JSCustom/SupplierPayment.js"></script>
    <script>
        $(document).ready(function () {
            $("#BankAccountId").attr('disabled', 'disabled');
        })
        function getPesonBalance() {
            $.get("/SharedDataSources/GetPersonBalance", { id: $("#SupplierId").val(), isCustomer: false }, function (data) {
                $("#PesonBalance").val(data);
            });
        }
    </script>
}


