
@model ERP.DAL.Maintenance
@using ERP.DAL
@using ERP.Web.Utilites
@{
    ViewBag.Title = "ShowMaintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section PageTitle1{استعراض فاتورة صيانة}
@section PageTitle2{ملخص فاتورة}
@section Button1{استعراض كل فواتير الصيانة}
@section Button1Link{/MaintenancesAccountants/Index}
@section icon{<i class="fa fa-cog m-1"></i>}
<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">فاتورة صيانة</h4>
                        <div class="d-flex flex-column align-items-md-end px-0">
                            <!--begin::Logo-->
                            <a href="#" class="mb-5">
                                <img src="~/Assets/media/logos/logo-light.png" alt="" />
                            </a>
                            <!--end::Logo-->
                            <span class="text-white d-flex flex-column align-items-md-end opacity-70">
                                <span class="din-bold">@Model.Notes</span>
                                <span></span>
                            </span>
                        </div>
                    </div>
                    <div class="border-bottom w-100 opacity-20"></div>
                    <div class="d-flex justify-content-between text-white pt-6">
                        <div class="d-flex flex-column flex-root">
                            <span class="font-weight-bolder mb-2 din-bold ylow">رقم الفاتورة</span>
                            <span class="din-bold">@Model.Id</span>
                        </div>
                        <div class="d-flex flex-column flex-root">
                            <span class="font-weight-bolde mb-2r din-bold ylow">تاريخ الاستلام</span>
                            <span class="din-bold">@Model.InvoiceDate</span>
                        </div>
                        <div class="d-flex flex-column flex-root">
                            <span class="font-weight-bolde mb-2r din-bold ylow">تاريخ التسليم المتفق عليه</span>
                            <span class="din-bold">@Model.DeliveryDate</span>
                        </div>
                        <div class="d-flex flex-column flex-root">
                            <span class="font-weight-bolde mb-2r din-bold ylow">تاريخ التسليم الفعلي</span>
                            <span class="din-bold">@Model.ReceiptDate</span>
                        </div>


                    </div>

                    <div class="d-flex justify-content-between text-white pt-6">

                        <div class="d-flex flex-column flex-root">
                            <span class="font-weight-bolder mb-2 din-bold ylow">الفنى المسئول</span>
                            <span class="din-bold">@Model.EmployeeResponse.Person.Name</span>
                        </div>
                        <div class="d-flex flex-column flex-root">
                            <span class="font-weight-bolder mb-2 din-bold ylow">العميل</span>
                            <span class="din-bold">
                                @Model.Person.Name
                                <br />@Model.Person.Address
                            </span>
                        </div>
                        <div class="d-flex flex-column flex-root">
                            <span class="font-weight-bolde mb-2r din-bold ylow">الفرع</span>
                            <span class="din-bold">@Model.Branch.Name</span>
                        </div>
                        <div class="d-flex flex-column flex-root">
                            <span class="font-weight-bolde mb-2r din-bold ylow">مخزن الصيانة</span>
                            <span class="din-bold">@Model.Store.Name</span>
                        </div>

                    </div>
                    <div class="d-flex justify-content-between text-white pt-6">

                        <div class="d-flex flex-column flex-root">
                            <span class="font-weight-bolder mb-2 din-bold ylow">المبلغ المدفوع</span>
                            <span class="din-bold">@Model.PayedValue</span>
                        </div>
                        <div class="d-flex flex-column flex-root">
                            <span class="font-weight-bolder mb-2 din-bold ylow">المبلغ المتبقى</span>
                            <span class="din-bold">
                                @Model.RemindValue
                            </span>
                        </div>
                        <div class="d-flex flex-column flex-root">
                            <span class="font-weight-bolder mb-2 din-bold ylow">حالة التكلفة</span>

                            @{
                                if (Model.HasCost)
                                {
                                    <span class="din-bold">بتكلفة</span>
                                }
                                else
                                {
                                    <span class="din-bold">بدون تكلفه</span>
                                }
                            }

                        </div>
                        <div class="d-flex flex-column flex-root">
                            <span class="font-weight-bolder mb-2 din-bold ylow">حالة الضمان</span>
                            @{
                                if (Model.HasGuarantee)
                                {
                                    <span class="din-bold">داخل الضمان</span>
                                }
                                else
                                {
                                    <span class="din-bold">خارج الضمان</span>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: Invoice header-->
            <!-- begin: Invoice body-->
            <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pl-0 font-weight-bold text-muted text-uppercase din-bold">الصنف</th>
                                    <th class="text-right font-weight-bold text-muted text-uppercase din-bold">نوع العطل</th>
                                    <th class="text-right font-weight-bold text-muted text-uppercase din-bold">معلومات اضافية</th>
                                    <th class="text-right pr-0 font-weight-bold text-muted text-uppercase din-bold">المبلغ النهائى</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    double totalSpareWithDiscount = 0;
                                    var mainDetails = Model.MaintenanceDetails;
                                    foreach (var item in mainDetails)
                                    {
                                        var mainSpareParts = item.MaintenanceSpareParts.Where(x => !x.IsDeleted).ToList();
                                        var mainIncomes = item.MaintenanceIncomes.Where(x => !x.IsDeleted).ToList();
                                        var mainDamages = item.MaintenanceDamages.Where(x => !x.IsDeleted).FirstOrDefault();
                                        var mainDetailsDamages = new List<MaintenanceDamageDetail>();
                                        if (mainDamages != null)
                                        {
                                            mainDetailsDamages = mainDamages.MaintenanceDamageDetails.Where(x => !x.IsDeleted).ToList();
                                        }
                                        totalSpareWithDiscount += (item.TotalItemSpareParts - item.TotalItemDiscount);
                                        <tr class="font-weight-boldest font-size-h4-lg table-primary">
                                            <td class="pl-0 pt-7 din-bold">@item.Item.Name</td>
                                            <td class="text-right pt-7 din-bold">@(item.MaintenProblemType?.Name)</td>
                                            <td class="text-right pt-7 din-bold">@item.Note</td>
                                            <td class="text-danger pr-0 pt-7 text-right din-bold">@item.ItemSafy</td>
                                        </tr>

                                        //قطع الغيار
                                        if (mainSpareParts.Count() > 0)
                                        {
                                            <tr>
                                                <td colspan="4">
                                                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5 din-bold alert alert-warning">قطع الغيار</h5>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">

                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">اسم الصنف</th>
                                                                <th scope="col">المخزن</th>
                                                                <th scope="col">الكمية</th>
                                                                <th scope="col">الخصم</th>
                                                                <th scope="col">القيمة</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var sparePart in mainSpareParts)
                                                            {
                                                                <tr>
                                                                    <th scope="row">@sparePart.Item.Name</th>
                                                                    <td>@sparePart.Store.Name</td>
                                                                    <td>@sparePart.Quantity</td>
                                                                    <td>@sparePart.SparePartDiscount</td>
                                                                    <td>
                                                                        <span class="label label-inline label-light-success font-weight-bold">
                                                                            @sparePart.Amount
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        }
                                        //تكاليف الصيانة
                                        if (mainIncomes.Count() > 0)
                                        {
                                            <tr>
                                                <td colspan="4">
                                                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5 din-bold alert alert-warning">تكاليف الصيانة</h5>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">

                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">بيان الايراد</th>
                                                                <th scope="col">القيمة</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var income in mainIncomes)
                                                            {
                                                                <tr>
                                                                    <th>@income.Name</th>
                                                                    <td>
                                                                        <span class="label label-inline label-light-success font-weight-bold">
                                                                            @income.Amount
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        }
                                        //التوالف
                                        if (mainDetailsDamages.Count() > 0)
                                        {
                                            <tr>
                                                <td colspan="2">
                                                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5 din-bold alert alert-warning">التوالف</h5>
                                                </td>
                                                <td colspan="2">
                                                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5 din-bold">المخزن : @mainDamages.Store.Name</h5>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">

                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">اسم الصنف</th>
                                                                <th scope="col">الكمية</th>
                                                                @*<th scope="col">القيمة</th>*@
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var damage in mainDetailsDamages)
                                                            {
                                                                <tr>
                                                                    <th>@damage.Item.Name</th>
                                                                    <td>
                                                                        <span class="label label-inline label-light-success font-weight-bold">
                                                                            @damage.Quantity
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end: Invoice body-->
            <!-- end: Invoice footer-->
            <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0">
                <div class="col-md-9">
                    <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                        <div class="d-flex flex-column mb-10 mb-md-0">
                            @{
                                var paymentType = string.Empty;
                                switch (Model.PaymentTypeId)
                                {
                                    case 1:// نقدى
                                        paymentType = "نقدى";
                                        break;
                                    case 2:// آجل
                                        paymentType = "آجل";
                                        break;
                                    case 3:// جزئى
                                        paymentType = "جزئى";
                                        break;
                                    default:
                                        break;
                                }
                            }
                            <div class="font-weight-bolder font-size-lg mb-3 din-bold">طريقة السداد (@paymentType)</div>
                            @if (Model.PaymentTypeId == (int)Lookups.PaymentTypeCl.Cash || Model.PaymentTypeId == (int)Lookups.PaymentTypeCl.Partial)
                            {
                                if (Model.SafeId != null)
                                {
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="mr-15 font-weight-bold din-bold">اسم الخزينة:</span>
                                        <span class="text-right din-bold">@Model.Safe.Name</span>
                                    </div>
                                }
                                else if (Model.BankAccountId != null)
                                {
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="mr-15 font-weight-bold din-bold">اسم البنك:</span>
                                        <span class="text-right din-bold">@Model.BankAccount.Bank.Name</span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="mr-15 font-weight-bold din-bold">اسم الحساب:</span>
                                        <span class="text-right din-bold">@Model.BankAccount.AccountName</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span class="mr-15 font-weight-bold din-bold">رقم الحساب:</span>
                                        <span class="text-right din-bold">@Model.BankAccount.AccountNo</span>
                                    </div>
                                }
                            }
                        </div>


                    </div>
                </div>
            </div>
            <div class="border-bottom w-100 opacity-20"></div>
            <div class="border-bottom w-100 opacity-20"></div>


            <!-- begin: Invoice footer ملخص الفاتورة-->
            <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0">
                <div class="col-md-9">
                    <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                        <div class="d-flex flex-column mb-10 mb-md-0">
                            <div class="font-weight-bolder font-size-lg mb-3 din-bold">ملخص الفاتورة</div>
                            <div class="d-flex justify-content-between mb-3">
                                <span class="mr-15 font-weight-bold din-bold">اجمالى قطع الغيار:</span>
                                <span class="text-right din-bold">@totalSpareWithDiscount</span>
                            </div>

                            <div class="d-flex justify-content-between mb-3">
                                <span class="mr-15 font-weight-bold din-bold">اجمالى ايرادات الصيانة:</span>
                                <span class="text-right din-bold">@Model.TotalIncomes</span>
                            </div>
                            <div class="d-flex justify-content-between mb-3">
                                <span class="mr-15 font-weight-bold din-bold">خصم على الفاتورة:</span>
                                <span class="text-right din-bold">@Model.InvoiceDiscount</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column text-md-center">
                            <span class="font-size-lg font-weight-bolder mb-1 din-bold">(المبلغ المطلوب تحصيله)صافى الفاتورة</span>
                            <span class="font-size-h2 font-weight-boldest text-danger mb-1 din-bold">@Model.Safy</span>
                            @*<span>Taxes Included</span>*@
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: Invoice footer-->
            <!-- begin: Invoice action-->
            <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                <div class="col-md-9">
                    <div class="d-flex justify-content-between">
                        @*<button type="button" class="btn btn-light-primary font-weight-bold din-bold" onclick="window.print();">Download Invoice</button>*@
                        <button type="button" class="btn btn-primary font-weight-bold din-bold" onclick="window.print();">طباعة</button>
                        <a href="#" onclick="window.history.back()" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fa-solid fa-caret-left  m-1"></i>عودة</a>
                    </div>
                </div>
            </div>
            <!-- end: Invoice action-->
            <!-- end: Invoice-->
        </div>
    </div>
    <!-- end::Card-->
</div>

@section Scripts
{

}