
@model ERP.Web.ViewModels.ItemProductionVM
@using ERP.DAL

@{
    ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn, icon = string.Empty;

    title = "اضافة توليفة جديدة";
    btn = "اضافة";
    icon = "fa fa-plus-circle m-1";
}

@section PageTitle1{المنتجات المؤلفة}
@section PageTitle2{@title }
@section Button1{ادارة منتج مؤلف}
@section Button1Link{/ItemProductions/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold">@title</h4>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("CreateEdit", "ItemProductions", FormMethod.Post, new { id = "form1" }))
            {
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-chart-pie m-1"></i>الاصناف
                                    <span id="lblItemTab1" class="badge badge-soft-warning fa-1x ">المخرجات</span>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group required">
                                                <label>نوع التوليفة</label>
                                                @Html.DropDownList("ItemProductionTypeId", null, null, htmlAttributes: new { @class = "form-control", @onchange = "changeDescriptio()" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group required">
                                                <label>مسمى التوليفة</label>
                                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group required">
                                                <label>الكمية</label>
                                                @Html.TextBox("QuantityInOut", 1, htmlAttributes: new { @class = "form-control", @type = "number" })
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>نوع الصنف</label>
                                                @Html.DropDownList("ItemtypeId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select  ", @onclick = "ItemProduction_Module.onItemTypeChange(1)" })
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group required">
                                                <label>الصنف</label>
                                                @Html.DropDownList("ItemInOutId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2" })

                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group ">
                                                <label>.</label>
                                                <input type="button" onclick="ItemProduction_Module.addProductionItems()" value="اضافة" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100 form-control" style="text-align:center;" />
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group ">
                                                <label id="lblItemDetailsTab1" class="badge badge-soft-warning fa-1x ">الصنف/اكتر المراد انتاجه (المخرجات)</label>
                                                <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_dtProductionItems">
                                                    <thead>

                                                    </thead>
                                                    <tbody></tbody>
                                                    <tfoot></tfoot>
                                                </table>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="fa fa-bell m-1"></i>الاصناف
                                    <span id="lblItemTab2" class="badge badge-soft-warning fa-1x">المدخلات</span>

                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group required">
                                                <label>نوع الصنف</label>
                                                @Html.DropDownList("ItemtypeIdDetails", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select  ", @onclick = "ItemProduction_Module.onItemTypeChange(0)" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group required">
                                                <label>الصنف</label>
                                                @Html.DropDownList("ItemId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group required">
                                                <label>الكمية</label>
                                                @Html.TextBox("Quantity", 0, htmlAttributes: new { @class = "form-control", @type = "number" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group ">
                                                <label>.</label>
                                                <input type="button" onclick="ItemProduction_Module.addProductionDetails()" value="اضافة" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100 form-control" style="text-align:center;"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group ">
                                                <label id="lblItemDetailsTab2" class="badge badge-soft-warning fa-1x">الصنف/اكتر المدخلات</label>
                                                <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_dtProductionDetails">
                                                    <thead>

                                                    </thead>
                                                    <tbody></tbody>
                                                    <tfoot></tfoot>
                                                </table>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>




                </div>


                <div class="card-footer">
                    <div class="row">
                        <div class="col-12">
                            @*<input type="button" onclick="Item_Module.SubmitForm(this);" value="@btn" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px" />*@@*<i class="flaticon2-pie-chart"></i>*@
                            <a href="javascript:void(0);" onclick="ItemProduction_Module.SubmitForm(this);" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px"><i class="@icon"></i>@btn</a>
                            <a href="/ItemProductions/Index" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fas fa-caret-left m-1"></i>عودة</a>

                        </div>
                    </div>
                </div>
            }


        </div>


    </div>
    @if (ViewBag.LastRow != null)
    {
        var modl = ViewBag.LastRow as ItemProduction;

        <div class="col-lg-12">
            <div class="card card-custom gutter-b">

                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">اخر بيان تم اضافته</h3>
                    </div>
                </div>
                <div class="card-body">
                    <!--begin::Example-->
                    <div class="example mb-10">
                        <table class="table table-hover mb-6">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    @*<th scope="col">نوع الصنف</th>
                                        <th scope="col">الصنف</th>*@
                                    <th scope="col">مسمى التوليفة</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    @*<td>@modl.Item.ItemType.Name</td>
                                        <td>@modl.Item.Name</td>*@
                                    <td>@modl.Name</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end::Example-->
                </div>
            </div>
        </div>

    }
</div>

@section Scripts
{
    <script src="~/Assets/JSCustom/ItemProduction.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ItemProduction_Module.initProductionDetails();
            ItemProduction_Module.initDTItems();
        });
        function changeDescriptio() {
            console.log($("#ItemProductionTypeId option:selected").val());
            if ($("#ItemProductionTypeId option:selected").val() === "1") {
                $("#lblItemDetailsTab1").text("الصنف/اكتر المراد انتاجه (المخرجات)")
                $("#lblItemDetailsTab2").text("الصنف/اكتر المدخلات")
                $("#lblItemTab1").text("المخرجات")
                $("#lblItemTab2").text("المدخلات")
            } else {
                $("#lblItemDetailsTab1").text("الصنف/اكتر المراد تقطيعه و تكسيره(المدخلات)")
                $("#lblItemDetailsTab2").text("الصنف/اكتر المخرجات")
                $("#lblItemTab1").text("المدخلات")
                $("#lblItemTab2").text("المخرجات")
            }
        }
    </script>
}

