@model ERP.Web.ViewModels.ProductionLineVM
@using ERP.DAL

@{ ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn = string.Empty, icon = string.Empty, icon2 = string.Empty;
    if (Model.Id == Guid.Empty)
    {
        title = "اضافة خط انتاج جديد";
        btn = "اضافة خط الانتاج";
        icon = "fa fa-plus-circle m-1";
    }
    else
    {
        title = "تعديل خط انتاج ";
        btn = "تعديل خط انتاج";
        icon = "fa fa-edit m-1";
        icon2 = "fa-solid fa-caret-left m-1";
    } }

@section PageTitle1{خطوط الانتاج}
@section PageTitle2{@title }
@section Button1{ادارة خط انتاج}
@section Button1Link{/ProductionLines/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold"> @title</h4>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("CreateEdit", "ProductionLines", FormMethod.Post, new { id = "form1" }))
            {
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group required">
                                <label>مسمى خط الانتاج</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", style = "text-align:right;" })
                                @Html.HiddenFor(model => model.Id)
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>تفاصيل</label>
                                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", style = "text-align:right;" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>الموظفين المسجلين</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>موظفين الانتاج فقط</label>
                                @Html.CheckBox("IsProductionEmp", false, htmlAttributes: new {@class= "form-check-input", @style = "width: 25px; height: 25px;" ,@onchange= "ProductionLine_Module.onIsProductionEmpChange()" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>الادارة</label>
                                @Html.DropDownList("DepartmentId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control", @onchange = "ProductionLine_Module.getEmployeesDepartmentChange()" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>الموظف</label>
                                @Html.DropDownList("EmployeeId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-control select2" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>احتساب عدد ساعات الانتاج</label>
                                @Html.CheckBox("CalculatingHours", false, htmlAttributes: new { @class = "form-check-input", @style = "width: 25px; height: 25px;" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>.</label>
                                <button type="button" onclick="ProductionLine_Module.AddProductionLineEmp();" class="btn btn-primary font-weight-bold w-100">اضافة موظف</button>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group">
                                <label>الموظفين المسجلين</label>
                                <table class="table table-bordered dt-responsive  nowrap w-100" id="kt_dtEmployees">
                                    <thead>

                                    </thead>
                                    <tbody></tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12" style="text-align:left;">
                            @*<input type="button" onclick="ProductionLine_Module.SubmitForm(this);" value="@btn" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px" />*@
                            <a href="javascript:void(0);" onclick="ProductionLine_Module.SubmitForm(this);" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100"><i class="@icon"></i>@btn</a>
                            @if (Model.Id != Guid.Empty)
                            {
                                <a href="/ProductionLines/Index" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="@icon2"></i>عودة</a>}
                        </div>
                    </div>
                </div>}
        </div>
    </div>
    @if (Model.Id == Guid.Empty && ViewBag.LastRow != null)
    {
        var modl = ViewBag.LastRow as ProductionLine;

        <div class="col-lg-12">
            <div class="card card-custom gutter-b">

                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">اخر بيان تم اضافته</h3>
                    </div>
                </div>
                <div class="card-body">
                    <!--begin::Example-->
                    <div class="example mb-10">
                        <table class="table table-hover mb-6">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">خط الانتاج</th>
                                    <th scope="col">تفاصيل</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>@modl.Name</td>
                                    <td>@modl.Notes</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end::Example-->
                </div>
            </div>
        </div>}
</div>
@section Scripts
{
    <script src="~/Assets/JSCustom/ProductionLine.js"></script>
    <script>
        $(document).ready(function () {
            ProductionLine_Module.initDTEployees();
        })
    </script>
}


