@model ERP.DAL.ProductionLine
@using ERP.Web.Utilites
@{
    ViewBag.Title = "ShowDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string nam = $" خط انتاج : {Model.Name}";
}


@section PageTitle1{استعراض خط انتاج}
@section PageTitle2{ملخص العملية }
@section Button1{استعراض كل خطوط الانتاج}
@section Button1Link{/ProductionLines/Index}
@section icon{<i class="fa fa-cog m-1"></i>}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="invoice-title">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <div class="mb-4">
                                <h4> @nam</h4>
                            </div>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="mb-4">
                                <h4 class="float-end font-size-16">
                                    <img src="~/Assets/media/logos/white-logo.png" alt="" height="100">
                                </h4>
                            </div>
                        </div>
                    </div>
                    <p class="mb-1">
                        <span class="din-bold">@Model.Notes</span>
                    </p>

                </div>
                <hr class="my-4">
                <!-- end: Invoice header-->
                <!-- begin: Invoice body-->



                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pl-0 font-weight-bold text-muted text-uppercase din-bold">اسم الموظف</th>
                                <th class="text-right font-weight-bold text-muted text-uppercase din-bold">الوظيفة</th>
                                <th class="text-right font-weight-bold text-muted text-uppercase din-bold">اجر الساعه</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProductionLineEmployees)
                            {
    
                                <tr class="font-weight-boldest font-size-lg">
                                    <td class="pl-0 pt-7 din-bold">@(item.Employee?.Person?.Name)</td>
                                    <td class="text-right pt-7 din-bold">@(item.Employee?.Job?.Name)</td>
                                    <td class="text-right pt-7 din-bold">@item.HourlyWage</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <hr class="my-4">

                <!-- end: Invoice body-->
                <!-- begin: Invoice footer-->
                <div class="border-bottom w-100 opacity-20"></div>
                <div class="border-bottom w-100 opacity-20"></div>


                <!-- end: Invoice footer-->
                <!-- end: Invoice-->
            </div>
            <!-- begin: Invoice action-->
            <div class="p-4 border rounded">

                <div class="d-flex justify-content-between">
                    @*<button type="button" class="btn btn-light-primary font-weight-bold din-bold" onclick="window.print();">Download Invoice</button>*@
                    <button type="button" class="btn btn-primary font-weight-bold din-bold" onclick="window.print();">طباعة</button>
                    @*<button type="button" class="btn btn-primary font-weight-bold din-bold" onclick="window.print();">طباعة222</button>*@
                    <a href="#" onclick="window.history.back()" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fa-solid fa-caret-left  m-1"></i>عودة</a>

                </div>
            </div>
        </div>
        <!-- end: Invoice action-->
    </div>
    <!-- end::Card-->
</div>

