

@model ERP.DAL.Store
@using ERP.DAL

@{ ViewBag.Title = "CreateEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title, btn = string.Empty, icon = string.Empty, icon2 = string.Empty;
    if (Model.Id == Guid.Empty)
    {
        title = "تسجيل مخزن جديد";
        btn = "اضافة";
        icon = "fa fa-plus-circle m-1";
    }
    else
    {
        title = "تعديل مخزن ";
        btn = "تعديل";
        icon = "fa fa-edit m-1";
        icon2 = "fa-solid fa-caret-left m-1";
    } }

@section PageTitle1{المخازن}
@section PageTitle2{@title }
@section Button1{ادارة مخزن}
@section Button1Link{/Stores/Index}
@section icon{<i class="fa fa-cog m-1"></i>}

<div class="row">
    <div class="col-12">
        <div class="card din-bold">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class=" din-bold"> @title</h4>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("CreateEdit", "Stores", FormMethod.Post, new { id = "form1" }))
            {
<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group required">
                <label>اسم الفرع</label>
                @if (ViewBag.Branchcount == 1)
                {
                    @Html.DropDownList("BranchId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   din-med" })

                }
                else
                {
                    @Html.DropDownList("BranchId", null, htmlAttributes: new { @class = "form-select   din-med" })

                }
                @Html.HiddenFor(model => model.Id)
            </div>
        </div>
        @*<div class="col-lg-4">
            <div class="form-group">
                <label>اسم الموظف المسئول</label>
                @Html.DropDownList("EmployeeId", null, "اختر عنصر من القائمة", htmlAttributes: new { @class = "form-select   select2 din-med" })
            </div>
        </div>*@
        <div class="col-lg-6">
            <div class="form-group">
                <label>مخزن توالف</label>
              <div> @Html.CheckBoxFor(m => m.IsDamages, htmlAttributes: new { @style = "width: 25px; height: 25px;", @class = "form-check-input" })</div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group required">
                <label>اسم المخزن</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @style = "text-align:right;" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>العنوان</label>
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @style = "text-align:right;" })
            </div>
        </div>
    </div>
</div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12" style="text-align:left;">
                            @*<input type="button" onclick="City_Module.SubmitForm(this);" value="@btn" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px" />*@
                            <a href="javascript:void(0);" onclick="Store_Module.SubmitForm(this);" class="btn btn-primary font-weight-bold btn-square btn-shadow din-bold w-100px"><i class="@icon"></i>@btn</a>
                            @if (Model.Id != Guid.Empty)
                            {
            <a href="/Stores/Index" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="@icon2"></i>عودة</a>}
                        </div>
                    </div>
                </div>}
    </div>
    @if (Model.Id == Guid.Empty && ViewBag.LastRow != null)
    {
        var modl = ViewBag.LastRow as Store;

<div class="col-lg-12">
    <div class="card card-custom gutter-b">

        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">اخر بيان تم اضافته</h3>
            </div>
        </div>
        <div class="card-body">
            <!--begin::Example-->
            <div class="example mb-10">
                <table class="table table-hover mb-6">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">المخزن</th>
                            <th scope="col">العنوان</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>@modl.Name</td>
                            <td>@modl.Address</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end::Example-->
        </div>
    </div>
</div>}
</div>
    </div>
@section Scripts
{
    <script src="~/Assets/JSCustom/Store.js"></script>

}