@model ERP.DAL.SellInvoice
@using ERP.Web.Utilites
@{ ViewBag.Title = "ShowSellInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@section PageTitle1{استعراض فاتورة بيع}
@section PageTitle2{ملخص فاتورة}
@section Button1{استعراض كل فواتير البيع}
@section Button1Link{/SellInvoices/Index}
@section icon{<i class="fa fa-cog m-1"></i>}
@section Styles
{
    <style type="text/css" media="print">
   @@media print {
       h4{
           margin-right:50px;
       }
        tr td {
            background-color: rgba(247, 202, 24, 0.3) !important;
            border-style: solid;
            border-width: 1px;
        }
        thead th{

        }
        .backGrond td {
            background-color: #ff6a00 !important;
        }
        
    }
    </style>
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="invoice-title">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <div class="mb-4">
                                <h4> فاتورة بيع</h4>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="font-weight-bolde mb-2r din-bold ylow">تاريخ الفاتورة : </label>
                                    <label>@Model.InvoiceDate</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="font-weight-bolde mb-2r din-bold ylow">رقم الفاتورة : </label>
                                    <label>@Model.InvoiceNumber</label>
                                </div>
                            </div> <div class="row">
                                <div class="col-sm-12">
                                    <label class="font-weight-bolde mb-2r din-bold ylow">العميل : </label>
                                    <label>@Model.PersonCustomer.Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="mb-4">
                                <h4 class="float-end font-size-16">
                                    <img src="~/Assets/media/logos/white-logo.png" alt="" height="100">
                                </h4>
                            </div>
                        </div>
                    </div>

                </div>

                <hr class="my-4">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pl-0 font-weight-bold text-muted text-uppercase din-bold">الصنف</th>
                                <th class="text-right font-weight-bold text-muted text-uppercase din-bold">السعر</th>
                                <th class="text-right font-weight-bold text-muted text-uppercase din-bold">الكمية</th>
                                <th class="text-right pr-0 font-weight-bold text-muted text-uppercase din-bold">القيمة</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SellInvoicesDetails)
                            {
                                <tr class="font-weight-boldest font-size-lg">
                                    <td class="pl-0 pt-7 din-bold">@item.Item.Name</td>
                                    <td class="text-right pt-7 din-bold">@item.Price</td>
                                    <td class="text-right pt-7 din-bold">@item.Quantity</td>
                                    <td class="text-danger pr-0 pt-7 text-right din-bold">@item.Amount</td>
                                </tr>
                            }
                            <tr class="font-weight-boldest font-size-lg table-primary backGrond">
                                <td class="pl-0 pt-7 din-bold" colspan="2">الاجمالى</td>
                                <td class="pl-0 pt-7 din-bold">@Model.TotalQuantity</td>
                                <td class="pl-0 pt-7 din-bold">@Model.TotalValue</td>
                            </tr>
                            @if (Model.TotalDiscount > 0)
                            {
                                string dis = "0";
                                if (Model.DiscountPercentage > 0)
                                { dis = Model.DiscountPercentage + " %"; }
                                <tr class="font-weight-boldest font-size-lg table-primary backGrond">
                                    <td class="pl-0 pt-7 din-bold" colspan="2">اجمالى الخصومات</td>
                                    <td class="pl-0 pt-7 din-bold">@dis</td>
                                    <td class="pl-0 pt-7 din-bold">@Model.TotalDiscount</td>
                                </tr>
                            }
                            <tr class="font-weight-boldest font-size-lg table-secondary backGrond">
                                <td class="pl-0 pt-7 din-bold" colspan="3">الصافى</td>
                                @*<td class="pl-0 pt-7 din-bold">@Model.Safy</td>*@
                                <td class="pl-0 pt-7 din-bold">@Model.Safy</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end: Invoice body-->
                <!-- begin: Invoice body الايرادات-->
                @if (Model.SellInvoiceIncomes.Count() > 0)
                {
                    <hr class="my-4">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pl-0 font-weight-bold text-muted text-uppercase din-bold">الإيراد</th>
                                    <th class="text-right pr-0 font-weight-bold text-muted text-uppercase din-bold">القيمة</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.SellInvoiceIncomes)
                                {
                                    <tr class="font-weight-boldest font-size-lg">
                                        <td class="pl-0 pt-7 din-bold">@item.IncomeTypeAccountTree.AccountName</td>
                                        <td class="text-danger pr-0 pt-7 text-right din-bold">@item.Amount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }





                <!-- end: Invoice footer-->
                <!-- begin: Invoice footer ملخص الفاتورة-->

                <hr class="my-4">
                <!-- end: Invoice footer-->
                <!-- begin: Invoice action-->
                <div class="d-flex justify-content-between">
                    @*<button type="button" class="btn btn-light-primary font-weight-bold din-bold" onclick="window.print();">Download Invoice</button>*@
                    <button type="button" class="btn btn-primary font-weight-bold din-bold" onclick="window.print();">طباعة</button>
                    <a href="#" onclick="window.history.back()" class="btn btn-text-primary btn-hover-light-primary btn-square font-weight-bold mr-2 din-bold w-100px"><i class="fa-solid fa-caret-left m-1"></i>عودة</a>
                </div>
            </div>
            <!-- end: Invoice action-->
            <!-- end: Invoice-->
        </div>
    </div>
    <!-- end::Card-->
</div>

@section Scripts
{
    <script src="~/Assets/JSCustom/SellInvoice.js"></script>
    <script>
        $(document).ready(function () {
            SellInvoice_Module.init();
        });
        function printdiv(printdivname) {
            var headstr = "<html><head><title>Booking Details</title></head><body>";
            var footstr = "</body>";
            var newstr = document.getElementsByClassName(printdivname).innerHTML;
            var oldstr = document.body.innerHTML;
            document.body.innerHTML = headstr + newstr + footstr;
            window.print();
            document.body.innerHTML = oldstr;
            return false;
        }
    </script>
}












